[2017-01-19 12:19] mk4111 commented on #28
Got the route, handler and html file working right.

Now applying CSS!

[2017-01-19 12:29] asimonw commented on #28
@mk4111 This screen is indeed not for admins. Behaviour for admins can stay as it is.

The bottom nav should always be sticky, as it currently is on other pages. Thanks!

[2017-01-19 12:32] mk4111 commented on #28
@asimonw yay! Thank you!

[2017-01-19 14:47] JMurphyWeb commented on #268
@asimonw do you want the archived challenges to look as they do in the wireframe (with the tags and description) or like they do in the app without the extra info.

I guess your answer may also answer the next question:
Should the challenges be clickable so that the primary user can see it in the challenge details view?

[2017-01-19 15:58] asimonw commented on #268
@JMurphyWeb They can indeed be like the other challenges, without the extra info (the mockups weren't updated to reflect this).

No need to give an extra indication that it's not active for now. The card will just have an "Unarchive" rather than an "Archive" button.
Also no need to show suggested matches, as the challenge is likely not relevant anymore to the organisation, but if it's easier to sh

[2017-01-19 16:14] JMurphyWeb commented on #268
Ok thanks@asimonw so do the views above look ok? is there anything to change?

[2017-01-19 16:16] JMurphyWeb commented on #268
No archived challenges:

<img width="325" alt="screen shot 2017-01-19 at 16 16 14" src="https://cloud.githubusercontent.com/assets/12638261/22114811/a92dd30e-de62-11e6-8508-a68e8d6192b1.png">

[2017-01-19 16:33] asimonw commented on #268
@JMurphyWeb Yes for now that looks fine.

[2017-01-19 16:53] JMurphyWeb commented on #608
Could be combined with a testing re-write https://github.com/emfoundation/ce100-app/issues/591

[2017-01-19 16:55] JMurphyWeb commented on #256
should be closed with the new slimmed down challenge card.

[2017-01-19 16:58] JMurphyWeb commented on #255
This should be done with the new slimmed down challenge

[2017-01-19 17:10] SimonLab commented on #588
I think @JMurphyWeb implemented the quicker workaround. @asimonw let us know if you want to keep this issue open and we can implement the close redirection on the close action later on.

[2017-01-19 17:46] mk4111 commented on #28
The wireframes seem to have just been updated.

[2017-01-19 17:52] JMurphyWeb commented on #322
`target="_blank"` done

[2017-01-19 17:57] JMurphyWeb opened #615 "Inactive challenges show up when filtering by tag"
The following url shows up the 'ice bucket challenge' which is archived.

`/challenges?tags=9`

So the filtered challenge query is returning inactive challenges.

[2017-01-19 18:40] JMurphyWeb commented on #322
All done.

[2017-01-19 19:12] #546 closed

[2017-01-19 19:18] JMurphyWeb commented on #546
This is a duplicate

[2017-01-19 19:19] JMurphyWeb commented on #560
This is now sorted as all orgs show up in our drop down

[2017-01-19 19:19] JMurphyWeb commented on #560
@asimonw should probably close this when he is happy

[2017-01-20 10:59] mk4111 opened #619 "'Scroll Up' icon please!"
Hi @fannyBkane, can we please have the .svg icon (screenshot next to 'Back to top') for the 'Landing Page' design? I couldn't get it off of Zeplin...

![screenshot from 2017-01-20 10-55-40](https://cloud.githubusercontent.com/assets/13470325/22147124/1dede494-deff-11e6-878e-258d95b5ab3c.png)

Thank you!

----------------

Note to self: Once this is received and swapped out for our current .svg, ne

[2017-01-20 11:51] JMurphyWeb commented on #7
Basic implementation plan:
If a user requests a password reset, we will send them an email with an encoded  query param in the url, which, when decoded will represent the users id.

General implementation question:
A link to reset your password should expire.  @mk4111 and I were thinking the reset password link should expire when whichever comes soonest out of a) a period of time (say 2 days) and

[2017-01-20 11:51] JMurphyWeb commented on #7
More specific to our application, I was unsure of where we should store the password request data. Possibilities include: redis (hopefully quick and easy to implement), postgres in our `people` table (i need to explore whad

[2017-01-20 12:08] mk4111 commented on #7
I think redis makes most sense, because I think it's the type of data that would be good to keep a record of, but not necessarily one that is a 'feature' of our app in terms of user experience...

I also think it's faster to implement if we store this in redis

[2017-01-20 12:11] JMurphyWeb commented on #7
yeah I agree with your reasoning @mk4111 👍

[2017-01-20 12:28] JMurphyWeb commented on #7
Looking into using JWTs and no need for storing any data.

[2017-01-20 12:29] SimonLab commented on #7
I don't think we need to store anything. From what I understand you just want to use redis to had a time validation on the url but I think JWT can have an expire time

[2017-01-20 12:31] mk4111 commented on #7
Expiry time makes sense, but would the JWT still be active after someone resets their password? Say they try to reset their password, (1) click on 'forgot password' --> (2) receive link --> (3) click on link and update password, would they then be able to repeat step two and three?

[2017-01-20 12:36] mk4111 commented on #549
Changing the view, need to look into how the logo is currently uploaded in edit-view

[2017-01-20 12:46] SimonLab commented on #7
Yes it's true that a jwt token which is still valid can be reuse to reset again the password. I think for a first version instead of having another state in a database we can have a short time where the jwt is valid, for example 5mn.

[2017-01-20 14:39] mk4111 commented on #549
Nearly there... had issues with the validation and naming of input/labels

[2017-01-20 15:27] mk4111 commented on #549
Now writing up tests

[2017-01-20 16:33] fannyBkane commented on #619
Hey @mk4111 I can't attach .svg files to this thread (not supported). How can I send it to you?

[2017-01-20 17:35] #255 closed

[2017-01-20 17:43] asimonw commented on #256
@JMurphyWeb What's the implemented behaviour exactly? It looks like no description is shown at all on the profile and full description in the card itself, which is fine.

There is no view which only contains part of the description, right? This is not as described in this issue, but would be fine for now actually.

[2017-01-20 17:45] asimonw commented on #268
@JMurphyWeb After archiving or unarchiving a challenge, the user is taken to the Explore challenges page. Could this be the profile instead please?

[2017-01-20 18:16] mk4111 commented on #619
Hi @fannyBkane, could you please send it to the ce100 google email address that we use for log ins? I can pick it up from there! Thank you!

[2017-01-20 18:17] mk4111 commented on #333
@JMurphyWeb - do you think this is ok to close now?

[2017-01-22 21:59] #95 closed

[2017-01-23 10:52] asimonw commented on #318
@JMurphyWeb @mk4111 As mentioned during the call, last Friday I created a user called "Alex Test" attached to a new org "Test Org", and today both user and org have disappeared.

[2017-01-23 10:58] SimonLab commented on #318
@asimonw thanks for the details. Do you remember when and what time you've created the user and organisation we will check that we haven't redeployed or resetting the database after you've created them.

[2017-01-23 11:19] mk4111 opened #623 "Add Favicon"
Would be good to add a favicon - would reduce the number of lines printed in Heroku Logs and would remove console.log warning on front-end.

[2017-01-23 11:50] asimonw commented on #318
@SimonLab I received the activation email on the 20th at 17:21.

[2017-01-23 11:51] mk4111 commented on #615
So the issue roots from the use of 'OR' in the SELECT conditional statement, in getByTag.

The issue with purely removing 'OR' from the current query is that, when no challenges are found, then `null` is returned, when really we want the filter_id and filter_name to be returned.

[2017-01-23 11:54] asimonw commented on #623
@mk4111 good idea! @fannyBkane do we have something?

[2017-01-23 12:00] SimonLab commented on #615
By adding brackets around the first condition : where (__ in __ **OR** ___) **AND**... The query works. We just need to be sure that the logic of the query is correct

[2017-01-23 12:11] mk4111 commented on #318
Update: @SimonLab found that when Heroku dynos sleep (due to inactivity), and restart (when someone accesses the app), the database gets restarted. We need to revisit the way that we reset the tables.

[2017-01-23 12:17] JMurphyWeb commented on #7
I am just writing up the tests for this feature now.

`password-reset` route:

![screen shot 2017-01-23 at 12 14 53](https://cloud.githubusercontent.com/assets/12638261/22203598/c77fcaaa-e165-11e6-9910-b63107ea5bf2.png)

Notify user if the email is recognised:

![screen shot 2017-01-23 at 12 15 10](https://cloud.githubusercontent.com/assets/12638261/22203599/c797be08-e165-11e6-8aa6-8058e033c598.pn

[2017-01-23 12:18] JMurphyWeb commented on #7
Whilst writing this I realised that the class 'error' didn't exist so i removed it from a few files.

[2017-01-23 12:31] fannyBkane commented on #623
Favicon sent to ce100@gmail.com

[2017-01-23 12:31] fannyBkane commented on #619
Sent to ce100@gmail.com

[2017-01-23 12:44] JMurphyWeb commented on #7
Now moving onto testing the actual resetting of the password with route `/people/password-reset`:

Test:
- we can see the view when the jwt is not expired
- user is notified if the jwt is expired upon GET request
- failing validation on the post route
- Passing validation on post route and attempt to login with new credentials

[2017-01-23 12:59] mk4111 commented on #615
The way we currently retreive information from the database, we:
- gather info from tags_challenges (tid), challenges (cid, date, title, desc), tags (tname), orgs (id, name) tables
- filter above (WHERE clause using IN) with conditional: challenges_id is in tags_challenges.challenges.id

but IN is used to filter the contents of table 1, but matching them against the list provided in 'table' 2.

[2017-01-23 13:00] mk4111 commented on #615
I think the actual issue here is to do with prioritising/specifying LEFT/RIGHT/FULL joins for the filter details.

[2017-01-23 13:57] JMurphyWeb commented on #7
Tests are now written. feature is ready for reviewal.

[2017-01-23 14:24] JMurphyWeb commented on #333
@mk4111 we have not yet implemented the change this helper so I wouldn't close it just yet.

[2017-01-23 14:50] mk4111 commented on #615
Unsuccessfully tried to change the joins, and put brackets to clarify conditions but I think it's now getting to the point where it would now just be best to rewrite the query. Will give this three pommies and update my progress here.

[2017-01-23 15:29] JMurphyWeb opened #624 "Add password reset link to user settings view"
User settings should contain a password reset link so that a user can reset their password when they are already logged in.

An admin shouldn't be able to see this link when editing a different users details.

[2017-01-23 15:33] JMurphyWeb commented on #624
![screen shot 2017-01-23 at 15 28 32](https://cloud.githubusercontent.com/assets/12638261/22210180/db3ceba2-e180-11e6-9370-b45bde20b20b.png)

[2017-01-23 15:34] JMurphyWeb commented on #624
I habe implemented the isMember key to our permissions object. It is being used so that we can determine whether to show the password reset link to the admin.

isMember was discussed here: #333

[2017-01-23 15:51] mk4111 commented on #615
getting issue about 'cross-database references not setup'...

[2017-01-23 15:51] mk4111 commented on #615
Taking a break to review PRs.

[2017-01-23 16:22] mk4111 commented on #619
Thank you @fannyBkane ! Just checked and it's there!

[2017-01-23 16:22] mk4111 commented on #623
@fannyBkane - just checked and confirming receipt! Thank you!

[2017-01-23 17:46] JMurphyWeb commented on #318
I have set all of the `RESET_plugin-name` to `false` locally and the data persists after restarting the server. That suggests it is not a problem with our resetting of the tables.

I was wondering if travis has the real database url: https://travis-ci.org/emfoundation/ce100-app/settings

Annoyingly they won't let me see the current env variables so I want to do a manual test. (make a change on pro

[2017-01-23 17:58] SimonLab commented on #318
I think travis is using its own postgress database,  I still think it's an issue with our config reset on heroku,  maybe NODE_ENV?

[2017-01-23 18:09] JMurphyWeb opened #626 "status codes"
At the moment the most common status-codes we are using:

200
302
400 -> User fails validation
401 -> forbidden (eg a primary user trying to access admin only functionality)
404 -> notFound (eg a user tries to access a challenge that doesn't exist)
500 -> Database errors (Hoek.assert)

There was a discussion here on the matter: https://github.com/emfoundation/ce100-app/pull/622/files#r97350768 whe

[2017-01-23 18:14] JMurphyWeb commented on #318
Yeah after manual testing I think we can rule out travis 😞

[2017-01-23 18:16] JMurphyWeb commented on #318
I'll look into setting up a new production config as there is an open issue on this.

[2017-01-23 18:32] JMurphyWeb commented on #318
Think I have it. Down to using ` Boolean(env.RESET_TAGS)` as it always coerces to true 😢

[2017-01-23 18:39] JMurphyWeb commented on #318
It works

@asimonw adding please test as the issue should now be resolved.

[2017-01-23 18:48] JMurphyWeb commented on #323
@mk4111 thisis now please tests right?

[2017-01-23 21:07] iteles commented on #318
@JMurphyWeb That's useful information to add to a `learn-heroku` repo, no? :blush:

[2017-01-23 21:22] SimonLab commented on #318
@JMurphyWeb well spotted! sorry for the Boolean('false') we might need to find a better way to convert this values

[2017-01-23 23:16] mk4111 commented on #615
So close, but it's breaking when organisation has been deactivated...

![screenshot from 2017-01-23 23-15-29](https://cloud.githubusercontent.com/assets/13470325/22227174/f50ce1e0-e1c1-11e6-99e0-dbdb613f107a.png)

[2017-01-24 10:31] SimonLab opened #627 "Split ajax request for new organisation"
At the moment the ajax request is uploading the image logo on S3 **and** creating the organisation in Postgres. We can only use ajax for the images, see https://github.com/emfoundation/ce100-app/pull/621#pullrequestreview-18126277

[2017-01-24 12:06] asimonw commented on #318
Seems solved now indeed, thanks!

[2017-01-24 12:06] #318 closed

[2017-01-24 12:26] JMurphyWeb opened #628 "Desktop view: navbar"
Desktop views show a different nav bar to the mobile views

![screen shot 2017-01-24 at 12 30 16](https://cloud.githubusercontent.com/assets/12638261/22247282/e98d4a16-e230-11e6-83ff-259dab8f0162.png)

https://zpl.io/2va9T5

[2017-01-24 12:34] JMurphyWeb commented on #628
Had a quick discussion with Simon and agreed that creating a totally different nav bar and hiding the one we don't want using media queries is a good place to start.

[2017-01-24 12:47] JMurphyWeb commented on #628
@asimonw a few questions/assumptions on the top nav links. Please feel free to edit this comment if it is easier:

Add:
- admin -> dropdown
- primary -> link to add challenge view
- secondary -> don't show

Update profile:
- Admin -> don't show
- primary -> link to edit organisation details view
- secondary -> don't show

Hamburger:
- Same as mobile

[2017-01-24 12:48] JMurphyWeb commented on #628
Timing might be slightly skewed due to this being the first desktop view so need to get media queries working.

[2017-01-24 14:18] asimonw commented on #628
@JMurphyWeb Your breakdown is correct. Just edited the naming of "Update profile". Hope it makes sense.

[2017-01-24 14:50] asimonw commented on #28
@fannyBkane Could you have a look at this? Without the down arrows, people might not know that there's more further down the page.

[2017-01-24 14:54] asimonw commented on #28
Also @mk4111, the first link to "Fill in your profile" should link to the org profile, not to the user's settings. For secondary users, the text should be slightly different. Or we don't show this section at all.

[2017-01-24 15:02] #319 closed

[2017-01-24 15:11] #320 closed

[2017-01-24 15:13] #322 closed

[2017-01-24 15:15] #528 closed

[2017-01-24 15:53] fannyBkane commented on #28
@LucyJW could we have a look at this?

[2017-01-24 16:27] mk4111 commented on #615
query now does not return tags attached to challenge (as is not in the view anymore)

[2017-01-24 16:57] asimonw commented on #323
@mk4111 Looks good, but could you also make it possible to edit items from the resources screen, just like on the explore insights screen?

[2017-01-24 17:01] #542 closed

[2017-01-24 17:03] #551 closed

[2017-01-24 17:05] #552 closed

[2017-01-24 17:07] #256 closed

[2017-01-24 17:08] #560 closed

[2017-01-24 17:10] #588 closed

[2017-01-24 17:12] #590 closed

[2017-01-24 17:13] #603 closed

[2017-01-24 17:14] #615 closed

[2017-01-24 17:59] JMurphyWeb opened #632 "burger menu button"
Mobile and desktop views rely on a hamburger menu.

[2017-01-24 18:33] mk4111 opened #634 "Desktop View: Member Profile"
Need to edit view of Member Profile page for Desktop use.

![screenshot from 2017-01-24 18-32-48](https://cloud.githubusercontent.com/assets/13470325/22261095/89b74bcc-e263-11e6-8c32-7ce5f5022f36.png)

![screenshot from 2017-01-24 18-32-30](https://cloud.githubusercontent.com/assets/13470325/22261097/8ba80548-e263-11e6-8b0e-26b6201ca973.png)

[2017-01-25 09:27] JMurphyWeb commented on #632
I used the same logic as the admin bottom nav `+` button, which has worked fine but it is intefering with that bottom nav now so need to work out why and fix

[2017-01-25 10:32] JMurphyWeb commented on #632
It was the label that I had copied over from the bottom nav that was mixing up the functionality. Sorted now.

<img width="378" alt="screen shot 2017-01-25 at 10 29 23" src="https://cloud.githubusercontent.com/assets/12638261/22287114/7e350de4-e2e9-11e6-8cab-7a9882d71931.png">

<img width="382" alt="screen shot 2017-01-25 at 10 30 41" src="https://cloud.githubusercontent.com/assets/12638261/222871

[2017-01-25 10:35] asimonw commented on #623
@mk4111 It doesn't seem to work. https://staging-ce100-emf.herokuapp.com/favicon.ico returns a 404.

[2017-01-25 10:57] JMurphyWeb commented on #628
@fannyBkane I don't seem to have the Explore icon? And our update profile icon is slightly different.

Would you mind sending them over? Thanks

<img width="1482" alt="screen shot 2017-01-25 at 10 56 20" src="https://cloud.githubusercontent.com/assets/12638261/22287995/f42c3218-e2ec-11e6-87a8-58d4177f5d92.png">

[2017-01-25 10:57] JMurphyWeb commented on #628
<img width="387" alt="screen shot 2017-01-25 at 10 57 32" src="https://cloud.githubusercontent.com/assets/12638261/22288040/1b8abb68-e2ed-11e6-94e7-83abb073d0fc.png">

[2017-01-25 11:46] mk4111 commented on #634
Update - current issues:
- mission statement/tags are in different cards for mobile; need to be combined for desktop view --> morning standup: leaving them as cards is fine for now
- Challenges card for 'Add New Challenge' does not exist in mobile view
---------------------------------------
- Priority for this view: get columns

[2017-01-25 12:07] SimonLab commented on #623
@asimonw The favicon should be displayed now, you might need to force reload the page.

[2017-01-25 12:12] mk4111 commented on #585
Note to self - add this (multiple primary user, and how they display) to documentation

[2017-01-25 12:18] iteles opened #637 "Add root URL back into nav bar logo"
As a primary/secondary user I would like to be able to click on the logo in the nav bar and have this take me to the landing page #28 so that I have a route back to the instructions/info on this screen.

<hr />

I believe this was removed by mistake in #635

[2017-01-25 12:24] fannyBkane commented on #628
Hi @JMurphyWeb, I have just sent the explore and the profile icons to the gmail address.
We changed them as the magnifying glass will be used for a free search, and the profile icon was too detailed. Thanks!

[2017-01-25 13:05] iteles opened #638 "Once password reset expires, I need to be able to reset again"
As a user trying to log into the app, once I see the "password link has expired" text on the reset password page, I need to be able to enter my email again for another reset password email.

At the moment, it gives me the same 'password link has expired' message.

[2017-01-25 18:05] #7 closed

[2017-01-25 18:16] asimonw commented on #28
@mk4111 The screen looks fine for primary users, but as mentioned above, the first button should go to the org profile (no need to add down arrows in at the moment, to be reviewed later).

For secondary users, could you just remove the sections "Tell us about you" and "Share a challenge"?

Also, the CE100 logo at the top left should be a link to this home screen on other pages (I thought that this

[2017-01-25 18:21] asimonw commented on #323
@mk4111 Thanks for adding those edit buttons! I missed your question before about showing inactive insights/resources. It's correct to show both active and inactive items to admins, as is the case now, but could you add a red/green button next to them to indicate which ones are active/inactive? Left of the title would work.

[2017-01-25 18:25] asimonw commented on #577
@JMurphyWeb Thanks for putting the validation in place. The error message is a bit cryptic though: "Org id must be larger than or equal to 1." Could we change that to "Please select an organisation"?

[2017-01-25 18:26] iteles commented on #323
@asimonw I don't think we'll have time to add this in now that the sprint has ended, but could we create a separate issue to capture the requirement with the red/green circle for admins?

[2017-01-25 18:29] #549 closed

[2017-01-25 18:32] #585 closed

[2017-01-25 18:33] #632 closed

[2017-01-25 18:40] asimonw opened #639 "Strange styling on the login page"
Scroll to the bottom. You'll see something like this:

<img width="363" alt="screen shot 2017-01-25 at 18 37 10" src="https://cloud.githubusercontent.com/assets/15235804/22303985/844463a8-e32d-11e6-9952-c3bb04aa10e7.png">

[2017-01-25 18:43] JMurphyWeb commented on #327
@asimonw @fannyBkane a quick question about the select tags view: https://app.zeplin.io/project.html#pid=57ac9b5692d0c316520caeca&sid=5880f439bdd1e1a776b86e0d

It contains a back icon and a cancel button. I just wanted to double check that you wanted both in desktop view and neither in mobile view?

[2017-01-25 18:48] JMurphyWeb commented on #327
Explore views: https://app.zeplin.io/project.html#pid=57ac9b5692d0c316520caeca&sid=58766dad869eace02c822fd3

News view:
https://app.zeplin.io/project.html#pid=57ac9b5692d0c316520caeca&sid=5878fec4a22372c36f3e3c15

splash page:
https://app.zeplin.io/project.html#pid=57ac9b5692d0c316520caeca&sid=5880f020591a596709280da8

@asimonw @fannyBkane quick question about the explore, org details, people list

[2017-01-25 19:24] JMurphyWeb commented on #628
<img width="691" alt="screen shot 2017-01-25 at 19 24 16" src="https://cloud.githubusercontent.com/assets/12638261/22305565/e62f9f82-e333-11e6-881c-ab3820916032.png">

[2017-01-26 09:24] JMurphyWeb commented on #628
Navbar built for primary and secondary users. not yet got the add toggle button for admins

[2017-01-26 09:26] JMurphyWeb commented on #585
@mk4111 did you remember this note to yourself?  thought i would check as issue is now closed

[2017-01-26 09:27] JMurphyWeb commented on #256
@asimonw sorry i missed this. Yup you are right, this challenge preview doesn't exist anymore.

[2017-01-26 09:30] JMurphyWeb commented on #318
@iteles that sounds like a good shout!

[2017-01-26 09:34] JMurphyWeb commented on #628
@fannyBkane I could be wrong, but the icon for the update profile seems to sit in the top half of the allotted space. I think that is why it looks slightly strange on the image above. Whilst it is fixable with css, if we are going to be using this icon in multiple places, it might help to have it repositioned in the actual file so that it sits in the centre.

[2017-01-26 10:23] JMurphyWeb opened #643 "logo in navbar should link to home page"
user clicks on the logo in the navbar, they should be redirected to '/' if primary/secondary and /orgs if admin

[2017-01-26 10:27] asimonw commented on #323
@iteles It's fine not to have this in time for the demo. I'll create a new issue because this regards both the resources and admin screen.

It's technically speaking not a new requirement though. I know that it's not in the wireframe (which is for primary users), but it was understood that the admin screen was the same with edit buttons and green/red dots added.

[2017-01-26 10:31] asimonw opened #645 "Insights/resources: show green/red status dots for admins"
Admin users can see whether an insight (in Explore -> Insights) or a resource (in burger menu -> Resources) is active or inactive by a green or red dot, respectively, on the left of the title. See the People screen for visual design.

[2017-01-26 10:39] asimonw commented on #327
@JMurphyWeb Regarding your first question: the cancel button performs the same function as the cross on mobile, but we thought that a cancel button would be more 'desktop-y'. We did notice that the select tags screen never has a cross icon, which should be there. It should take you to the same screen as the save.

The back arrow is new and should also appear on mobile. I'll create a new issue for

[2017-01-26 10:49] asimonw commented on #327
The second question: laptop or 'narrow' desktop screens have no "HD" in the title. The mockups with HD in the title are for wide screens and typically just put all content in a max-width container. So those few screens for which the content spans the whole width on laptop, I think that's because the content is list-based with several rows, to make optimal use of space. @fannyBkane can you confirm

[2017-01-26 10:55] fannyBkane commented on #327
' I think that's because the content is list-based with several rows, to make optimal use of space. '

@asimonw @JMurphyWeb that's right.

[2017-01-26 12:26] JMurphyWeb commented on #28
Logo in nav covered in #637

[2017-01-26 12:30] JMurphyWeb commented on #612
updated `RESET_plugin-name` env variables on Heroku to empty strings, meaning this task no longer needs to be done.

[2017-01-26 12:41] SimonLab commented on #475
This issue needs a bit of more work to have a nice integration with Hapi and Joi. I've tested multiple solution and I just need to finish testing other solutions.

[2017-01-26 13:50] fannyBkane commented on #628
@JMurphyWeb thanks for pointing that out. I have emailed you a .svg with a bit of padding at the top. Alternatively you can try to up the size of the icon by a couple of pixels. Hope that works.

[2017-01-26 15:37] JMurphyWeb commented on #628
![screen shot 2017-01-26 at 15 36 28](https://cloud.githubusercontent.com/assets/12638261/22337627/5877a590-e3dd-11e6-8633-3f960f378d43.png)

Desktop navbar for admins

[2017-01-26 15:42] JMurphyWeb commented on #628
There is a slight issue with the current implementation:
An admin can open both the hamburger and the 'add' dropdown at the same time, which looks a little strange.

[2017-01-26 15:44] JMurphyWeb commented on #628
secondary nav bar:
![screen shot 2017-01-26 at 15 44 19](https://cloud.githubusercontent.com/assets/12638261/22338082/62c9b834-e3de-11e6-8116-4b131eead5fc.png)

[2017-01-26 17:46] JMurphyWeb commented on #391
<img width="1064" alt="screen shot 2017-01-26 at 17 45 19" src="https://cloud.githubusercontent.com/assets/12638261/22343241/43e17676-e3ef-11e6-9ba8-7ba950cb9a40.png">

I have the bottom three folders 100% covered in #646

[2017-01-26 17:51] JMurphyWeb commented on #639
Wireframe:

<img width="301" alt="screen shot 2017-01-26 at 17 50 15" src="https://cloud.githubusercontent.com/assets/12638261/22343448/0334537c-e3f0-11e6-9bd1-daa9a7ee2aa1.png">

[2017-01-26 18:30] JMurphyWeb commented on #639
What we have now:

<img width="415" alt="screen shot 2017-01-26 at 18 29 41" src="https://cloud.githubusercontent.com/assets/12638261/22344796/7071412a-e3f5-11e6-8d45-3fa9b5944582.png">

[2017-01-26 19:11] JMurphyWeb opened #649 "password-reset email displays wrong link"
Password-reset email displays wrong link (displays activate instead of password reset link).

[2017-01-26 20:32] SimonLab commented on #207
@JMurphyWeb I think this issue is not relevant anymore as we use mock-data to populate our database, could we close this issue?

[2017-01-27 09:07] #207 closed

[2017-01-27 09:12] JMurphyWeb commented on #475
Looking forward, a solution that would be most helpful would be to create a helper that that returns an error similar to what the current Joi error helper does, as it would be useful to be able to pass non validation error messages back to the user.

[2017-01-27 09:15] JMurphyWeb commented on #327
@asimonw sure that shouldn't be a problem.

Thanks @fannyBkane got it.

[2017-01-27 09:51] #8 closed

[2017-01-27 09:59] #9 closed

[2017-01-27 10:01] #10 closed

[2017-01-27 10:12] #28 closed

[2017-01-27 10:12] #55 closed

[2017-01-27 10:13] #619 closed

[2017-01-27 10:14] #623 closed

[2017-01-27 10:27] asimonw commented on #628
@JMurphyWeb You must have missed my update of the first comment. The link to profile should be exactly the same as on mobile. That's why I said that it should say "Profile", not "Update profile". And it should link to the org profile, not the edit view.

[2017-01-27 10:32] asimonw commented on #634
@fannyBkane Could you have a look at this? LGTM, but the transition to tablet (and tablet style) isn't there yet. We could cover that separately in the next sprint though.

[2017-01-27 10:33] #637 closed

[2017-01-27 10:34] JMurphyWeb commented on #628
Right @asimonw I did not catch that. Can you verify that the secondary navbar is as you expect?

[2017-01-27 10:34] #639 closed

[2017-01-27 10:36] #643 closed

[2017-01-27 10:37] JMurphyWeb commented on #586
Sounds good. I guess the actionable task here is to remove any mock last login data as it would possibly confuse any dev coming into the project.

Then when the need requires, we can actually start recording last-login when a user logs in.

[2017-01-27 10:43] #624 closed

[2017-01-27 10:47] asimonw commented on #649
@JMurphyWeb Not sure what I should test here? I did notice that the activation screen now also says "Reset password" in the submit button, instead of "Create password". Minor, but possibly confusing.

[2017-01-27 10:50] #323 closed

[2017-01-27 11:10] asimonw commented on #628
@JMurphyWeb Everything else looks perfect, thanks!

[2017-01-31 16:32] asimonw opened #651 "Make sure the production app works over SSL"
The domain that will be used already has an SSL/TLS certificate.
This issue is just a reminder to check that any necessary set up or config is in place.

[2017-02-06 15:00] asimonw opened #652 "Set up process for data migrations in production"
Once the app is live, we need to be able to migrate structural changes to the database without disrupting the existing users and content.

The necessary process needs to be outlined and potential tools developed or configured.

[2017-02-10 11:40] asimonw opened #653 "Set up domain for production app"
This is mostly a todo for me (set up appropriate A record).
Possibly with support from dwyl to set up custom domain on Heroku

[2017-02-10 11:42] asimonw opened #654 "Configure Heroku for production app"
I'm thinking about:
* scaling dynos to paid plan
* do we need more than a dev plan for Postgres?
* what about Redis?
* what else?

[2017-02-10 11:50] SimonLab commented on #654
Redis is only used now to keep track of the user sessions and to authorise the users to access the application. So I think the free Redis instance is enough as it gives 30M.

[2017-02-10 12:56] asimonw opened #655 "Update tag list and reset production database"
We will provide dwyl with a new tag list which should completely replace the old tags.
If this requires clearing out the rest of the db (as some references might get messed up), then we can do this in production only, since there the db needs to be reset before going live anyway.

The list will be shared as a google sheet. Note the following:
* the structure is exactly the same, but some parent ta

[2017-02-10 14:40] asimonw commented on #327
The updated designs can be found in the new Zeplin project [here](https://zpl.io/ZOkmLW).

The links shared by @fannyBkane above are no longer valid. We can provide a detailed list of links if it's helpful, but the new Zeplin project will be easier to navigate as it only contains latest designs.

The priorities are still: Explore, profile, walkthrough, people, forms.

[2017-02-10 14:43] asimonw opened #656 "Consolidate visual design and copy"
The latest visuals can be found in this [new Zeplin project](https://zpl.io/ZOkmLW).

To be discussed how to prioritise the work and most effectively work through the changes together.

----------------

Update: from #656, the priorities for desktop view are: The priorities are still: Explore, profile, walkthrough, people, forms.

[2017-02-10 14:50] asimonw opened #657 "Update profile: 500 error when saving with blank "vision" field"
On the update profile page, if the "vision" field is empty, when you click save you are sent to a page with a "sorry, something went wrong" message (500 error). It would be better to ensure the field must not be empty in the first place by adding some validation on the model.

[2017-02-12 20:29] iteles commented on #653
https://devcenter.heroku.com/articles/custom-domains

[2017-02-13 10:18] JMurphyWeb commented on #269
Link: https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c8a9581d4a5831f1889a5

[2017-02-13 10:25] JMurphyWeb commented on #628
Also add new svg from that Fanny has emailed to us.

[2017-02-13 10:57] fannyBkane commented on #657
Can the error message be phrased as follows?
'Please add a circular economy vision to continue.'

[2017-02-13 11:12] JMurphyWeb commented on #269
- [ ] Add logout link to user settings
- [ ] Delete cookie
- [ ] Redirect to Login
- [ ] Possibly remove session from Redis (probably not necessary)

[2017-02-13 11:20] JMurphyWeb commented on #645
- [ ] Add css to the insight card partial
- [ ] Update the function to get resources so that we can get both active only and inactive/active

[2017-02-13 11:24] JMurphyWeb opened #658 "Create password/Reset password button not responding properly"
@JMurphyWeb Not sure what I should test here? I did notice that the activation screen now also says "Reset password" in the submit button, instead of "Create password". Minor, but possibly confusing.

[2017-02-13 11:25] JMurphyWeb commented on #649
@asimonw new issue made #658

If you are happy that both links in the reset password email do work, then this issue is closable.

[2017-02-13 11:26] JMurphyWeb commented on #651
Speaking with a colleague about this on Wednesday.

[2017-02-13 11:27] JMurphyWeb commented on #652
Speaking with a colleague about this on Wednesday.

[2017-02-13 11:35] JMurphyWeb commented on #654
Linked to setting up our config.js file https://github.com/emfoundation/ce100-app/issues/612

[2017-02-13 11:36] JMurphyWeb commented on #654
- [ ] Research heroku costs
- [ ] Necessity for postgres or redis paid plans
- [ ] Present to Alex

[2017-02-13 11:44] JMurphyWeb commented on #655
Should be done in conjunction with setting up production config.js settings: https://github.com/emfoundation/ce100-app/issues/612

[2017-02-13 12:01] JMurphyWeb opened #659 "Views - login screen"
link https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c86b2cd8766561d2aec28

![screen shot 2017-02-13 at 12 00 26](https://cloud.githubusercontent.com/assets/12638261/22882682/33635a46-f1e4-11e6-85c4-262e1d5405e0.png)

[2017-02-13 12:04] JMurphyWeb opened #660 "Views - Dashboard"
Link https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c890f8acb475f1fcd1333

![screen shot 2017-02-13 at 12 04 19](https://cloud.githubusercontent.com/assets/12638261/22882764/a0e9610a-f1e4-11e6-951a-57f4df10a93e.png)

[2017-02-13 12:15] JMurphyWeb opened #661 "Views - Bottom Navbar"
link: https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c896813154c8f1fac10ef

![screen shot 2017-02-13 at 12 13 21](https://cloud.githubusercontent.com/assets/12638261/22883025/029c46c8-f1e6-11e6-993e-390c29c76f88.png)

- [x] New Icons
- [x] change color
- [x] Font size
- [x] 'active tab' highlited

[2017-02-13 12:19] JMurphyWeb opened #662 "Views - Tag partial"
![screen shot 2017-02-13 at 12 13 29](https://cloud.githubusercontent.com/assets/12638261/22883155/acdb543a-f1e6-11e6-8515-8ece336804f1.png)

Update tag partial

[2017-02-13 12:20] JMurphyWeb commented on #656
- [ ] [Login](https://github.com/emfoundation/ce100-app/issues/659)
- [ ] [Dashboard](https://github.com/emfoundation/ce100-app/issues/660)
- [ ] [Bottom Nav](https://github.com/emfoundation/ce100-app/issues/661)
- [ ] [Tag Partial](https://github.com/emfoundation/ce100-app/issues/662)

[2017-02-13 12:27] JMurphyWeb opened #663 "Views - Org Details"
![screen shot 2017-02-13 at 12 26 01](https://cloud.githubusercontent.com/assets/12638261/22883332/9bf1259a-f1e7-11e6-871e-4b0072ec9e21.png)

Tags and navbar not covered in this issue

[2017-02-13 12:31] JMurphyWeb opened #664 "Views - Challenge Details"
Link: https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c9d044a08e9d20c773338

![screen shot 2017-02-13 at 12 28 38](https://cloud.githubusercontent.com/assets/12638261/22883444/34b373e6-f1e8-11e6-93e6-b4948349036e.png)

Mainly work on the 'suggested matches' partial

[2017-02-13 12:38] JMurphyWeb opened #665 "Views - Archived Challenges"
Link: https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c8a11c4ac70861db55d52

View:
![screen shot 2017-02-13 at 12 37 49](https://cloud.githubusercontent.com/assets/12638261/22883712/5d88c2ca-f1e9-11e6-96dc-84502ea51514.png)

[2017-02-13 12:43] JMurphyWeb opened #666 "Views - Explore Orgs"
Link: https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c895039daf1ba0cd194ec

View:
![screen shot 2017-02-13 at 12 45 43](https://cloud.githubusercontent.com/assets/12638261/22883952/62c0971c-f1ea-11e6-8412-adff980bfd9a.png)

[2017-02-13 12:46] JMurphyWeb opened #667 "Views - Explore tab partial"
Link:
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c895039daf1ba0cd194ec

![screen shot 2017-02-13 at 12 45 48](https://cloud.githubusercontent.com/assets/12638261/22883967/773d9de8-f1ea-11e6-8d94-a77402357920.png)

### Before closing this issue, ensure the size of this header is the desired 64px as harry mentioned here https://github.com/emfoundation/ce100-app/pull/680#p

[2017-02-13 12:49] JMurphyWeb opened #668 "Views - Explore Challenges"
Link: https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c894bb9d031891fc4e576

View:

![screen shot 2017-02-13 at 12 48 30](https://cloud.githubusercontent.com/assets/12638261/22884057/ce7fd56c-f1ea-11e6-8d30-49d522c905d7.png)

[2017-02-13 15:34] JMurphyWeb commented on #660
- [ ] First Paragraph of text
- [ ] White font
- [ ] Add down arrows
- [ ] Use new font/slightly lighter font-weight

[2017-02-13 15:42] JMurphyWeb opened #669 "Font in wireframes is not free"
@fannyBkane https://www.fonts.com/font/mark-simonson-studio/proxima-nova/regular it seems that proxima-nova is not a free font - have you guys already paid for it on another project?

[2017-02-13 15:47] fannyBkane commented on #669
Hey @JMurphyWeb yes, we have it on our Typekit license. I just nee to add the domains we use to my kits. Can you confirm the URLs?

[2017-02-13 16:03] mk4111 commented on #659
Update - font size, colour, line height, text/copy has been updated.

One issue concerning line height remains:

![screenshot from 2017-02-13 16-02-28](https://cloud.githubusercontent.com/assets/13470325/22891037/feff126e-f205-11e6-93de-19aac442c6df.png)

[2017-02-13 16:15] mk4111 commented on #659
The issue seems to have been caused by 'conflicting' conditions for line-height of the `copy--login__options` and `anchor:link`.

[2017-02-13 16:41] mk4111 commented on #659
To find 10% darker HEX colours, I used http://www.hexcolortool.com/#67dae0

[2017-02-13 16:43] JMurphyWeb commented on #669
added:
[code]

[2017-02-13 16:49] fannyBkane commented on #669
@JMurphyWeb yes it does, you should be able to use weight regular, semi bold and bold.

[2017-02-13 17:59] mk4111 commented on #661
Started off thinking about using `if/else` or `switch` statements to map:
- '/orgs', '/challenges', '/insights' --> `explore`
- '/challenges/add', '/challenges/{id}/edit' --> `add-chal`
- '/orgs/{id}' --> `profile`

[2017-02-13 17:59] mk4111 commented on #661
Considered saving maps as object:
[code]
but realised a) no catch, b) how to factor in {id}?

[2017-02-13 18:07] asimonw commented on #659
@mk4111 We specified it as 10% darker because that's very easy to do with pre-processors like SASS. I wouldn't hand-code these things because that's hard to maintain. Maybe something to consider in the future.

[2017-02-13 18:09] mk4111 commented on #661
Now thinking either regex (using wildcard - e.g. challenges/*/tags), or .split('/').indexOf() > -1.

I think the former reads better, but the latter is something we have chosen preference over in tests, so will implement using this.

[2017-02-13 18:33] mk4111 commented on #661
switch statement where:

[code]

--> i.e. conditional in the case does not seem to work.

Will use regex.

[2017-02-13 18:37] JMurphyWeb commented on #660
I have added the next item's index to the array of landing cards in the handler so that the down arrow knows where to direct the page to:
https://github.com/emfoundation/ce100-app/pull/671/files#diff-b4731e81c0b27b7b5083ef45bbbabb6cR40

Which is used in the handlebars here:
https://github.com/emfoundation/ce100-app/pull/671/files#diff-2e4e01973df32b22e14ae978cfcc9af5R14

This works for each of the

[2017-02-13 18:52] JMurphyWeb commented on #660
I have tried to make the first index a `1` in case it was a problem with using `0` but it did not make a difference

[2017-02-13 19:11] mk4111 commented on #661
we are now returning the object we want from helpers.getView(urlPath).

Now to work on styling.

[2017-02-13 20:07] mk4111 commented on #661
Facing issues with icon size and colour - will resume tomorrow.

[2017-02-14 10:30] mk4111 commented on #659
@asimonw - I agree that with something like SASS this would be easy to do and so that that should be something to consider in the future! Will open a new issue so that we can have it as an enhancement!

[2017-02-14 10:57] mk4111 opened #673 "CSS Pre-processor"
As @asimonw suggested [here](https://github.com/emfoundation/ce100-app/issues/659#issuecomment-279472699), it would be helpful to be able to use features provided by pre-processors (e.g. SASS) to `lighten` or `darken` an existing colour, so that we do not need to hardcode the values. It would also provide a way of referring to a single source of truth for colours that recur throughout the app.

Fo

[2017-02-14 11:11] mk4111 commented on #661
Changing icon size correctly is proving difficult - emailing for relevant icons!

[2017-02-14 11:31] JMurphyWeb commented on #662
Just required a change to the following fields:

OLD
[code]

NEW
[code]

[2017-02-14 11:31] JMurphyWeb commented on #662
How they look now:

![screen shot 2017-02-14 at 11 31 24](https://cloud.githubusercontent.com/assets/12638261/22927441/28046846-f2a9-11e6-94b4-20b950e3462b.png)

[2017-02-14 11:55] mk4111 commented on #661
Opacity along navbar fixed, now only issue is the padding on the profile icon - will ask for this to be removed.

[2017-02-14 12:01] mk4111 opened #676 "Profile icon"
Hi @fannyBkane, would it please be possible to remove the bottom padding of the Profile.svg icon? The alignment of the icons seem to be a little offset because of the padding...

![screenshot from 2017-02-14 11-55-30](https://cloud.githubusercontent.com/assets/13470325/22928237/50dc20c0-f2ad-11e6-992b-c5b433c99941.png)

Thank you!

[2017-02-14 12:02] JMurphyWeb commented on #663
![screen shot 2017-02-14 at 12 00 45](https://cloud.githubusercontent.com/assets/12638261/22928280/8537709a-f2ad-11e6-9f58-c4138c9e29ae.png)
![screen shot 2017-02-14 at 12 02 31](https://cloud.githubusercontent.com/assets/12638261/22928279/85372338-f2ad-11e6-930e-2c65aafe15dc.png)

[2017-02-14 12:23] JMurphyWeb commented on #663
Uppercase the circular economy vision, and reduce vertical padding on the card class

![screen shot 2017-02-14 at 12 22 55](https://cloud.githubusercontent.com/assets/12638261/22928848/6cfcb366-f2b0-11e6-8376-4091a9601a21.png)

[2017-02-14 12:34] mk4111 opened #677 "Desktop view - feedback widget"
When the bottomnav disappears (on transition from mobile to desktop view), the feedback remains the same, so the bottom padding looks quite long/large.

This needs a media query too.

[2017-02-14 12:44] JMurphyWeb commented on #663
Have added a card seperator class that can be used to put tags in with other content on the same card. It just adds margin to the top:

![screen shot 2017-02-14 at 12 42 09](https://cloud.githubusercontent.com/assets/12638261/22929358/2b63d0e4-f2b3-11e6-9517-9a94536615ee.png)

It does not add margin to the bottom as this is provided by the outer card's padding-bottom.  I think that makes this clas

[2017-02-14 12:46] JMurphyWeb commented on #663
@harrygfox I wasn't sure what to make the rest of the margin values so made them auto. It is a bit of a stab in the dark.

[2017-02-14 13:00] JMurphyWeb commented on #663
CONTACT card:
![screen shot 2017-02-14 at 13 00 15](https://cloud.githubusercontent.com/assets/12638261/22929843/927639e6-f2b5-11e6-8871-37db6f2043d5.png)

[2017-02-14 13:03] JMurphyWeb commented on #669
@fannyBkane I am just doing the [org details view](https://github.com/emfoundation/ce100-app/issues/663#issuecomment-279701007) and its tough to really know how this font will look until we deploy.. Is there anyway i can get that font locally so that we can make sure it looks ok?

[2017-02-14 13:23] iteles commented on #669
@fannyBkane We don't tend to use typekit for the MVPs, but this looks like a simple integration.

Could you either give us access to your typekit account or provide us with the javascript code we'd need to embed? These are the instructions: https://helpx.adobe.com/typekit/using/add-fonts-website.html

[2017-02-14 13:23] asimonw commented on #669
@JMurphyWeb If you alias your localhost (in the /etc/hosts) file and tell us which local url (ce100app.dev for example) you're using, we can add that to the list as well. This does not always seem to work well, but worth a try.

[2017-02-14 13:26] asimonw commented on #669
@iteles Our replies crossed each other. I thought the JS snippet had already been shared. @fannyBkane can do that once she's added the domains to the list in typekit.

[2017-02-14 13:27] JMurphyWeb commented on #669
Have aliased to: ce100app

@mk4111 you probably want to do the same.

[2017-02-14 15:50] JMurphyWeb commented on #663
For the list of challenges at the bottom of `/orgs/1` view, they now have a background of blue on mobile but a background of white in desktop.

I created a class

[code]
to turn them blue which is only applied in org details view (this list of challenges uses a partial that is used in a few places, it is only supposed to be blue in this view.

Then in the media query I overwrote the class `.card--

[2017-02-14 16:20] JMurphyWeb commented on #663
![screen shot 2017-02-14 at 16 19 59](https://cloud.githubusercontent.com/assets/12638261/22937767/79c40664-f2d1-11e6-8ca3-caafa4d141b1.png)

[2017-02-14 16:47] JMurphyWeb commented on #663
In a really similar issue to the one listed above, I need to make the edit svg white only on mobile and only in this view. On desktop it should be the regular colour. Except I don't think I can change the colour of the lines of the svg using CSS. Would be great to ask @harrygfox about this.

[2017-02-14 16:57] JMurphyWeb commented on #669
@asimonw is there anything else I need to do now?

[2017-02-14 17:00] JMurphyWeb commented on #663
I still need to:
- fix the svg colour on desktop
- check the new font looks as it should

[2017-02-14 17:12] asimonw commented on #669
@JMurphyWeb If the alias you have chosen is ce100app @fannyBkane needs to add that to our typekit and send you a js snippet to add to the site.

[2017-02-14 17:36] mk4111 commented on #664
@fannyBkane we don't have an example of this in the wireframes but do we want suggested matches to be listed? Or for them to just display to the left instead of the center?

The former option would display the suggested matches like that in your wireframes, and the latter option would look like this:
![screenshot from 2017-02-14 17-34-20](https://cloud.githubusercontent.com/assets/13470325/2294107

[2017-02-14 17:44] fannyBkane commented on #669
Just added ce100app to our Typekit and sent you a js snippet to add to the site. Sorry didn't do that earlier...

[2017-02-14 17:53] fannyBkane commented on #664
Hi @mk4111 I think listed (one org per line) works. Thanks you!

[2017-02-14 18:05] mk4111 commented on #665
No line separating challenge cards --> this affects the class `.card` which is used throughout the app.
Will write up which views this impacts and whether we should (a) remove the bottom border from the .card class, and put it in a more relevant class, or (b) create a new class to attach to 'lists' or cards, so that no border is displayed (i.e. overwrite with `border: 0` ).

[2017-02-14 18:13] JMurphyWeb commented on #667
![screen shot 2017-02-14 at 17 23 56](https://cloud.githubusercontent.com/assets/12638261/22940612/69404664-f2da-11e6-8a73-1f17e9286edb.png)

All updates done

[2017-02-14 18:19] JMurphyWeb commented on #677
Cant we just add margin bottom and reduce the height so that it isn't long on either mobile or desktop?

[2017-02-14 18:21] mk4111 commented on #665
Just had a quick scan through the wireframes - all views for explore + resources seem to have the same border seperating each of the cards.
Searching through `templates/` by 'card' (full match only), it seems that some of the views do not use `.card` class, and instead use `.list__item` (e.g. /organisations/browse view). Both classes use `border-bottom: #89a0ae 1px solid;` --> it might be good to

[2017-02-14 18:25] JMurphyWeb commented on #665
I can see why we would have two different classes for list items and cards. I haven't really looked into it but I don't think a refactor would be necessary? You may have a better idea of the benefits though.

[2017-02-14 18:28] mk4111 commented on #665
@JMurphyWeb - the .card class is being used in places other than the lists (explore views) too. As for why there's an overlap between .card and .list__item classes here, I'm not sure...

I'm not sure how worth it that is either, I know it'll affect orgs explore view, but I'll need to look into a bit more to make sure nothing else is affected. I think I will do this, if that's ok with you?

[2017-02-14 18:30] JMurphyWeb commented on #661
@mk4111 I commented on the PR. I really like the switch statement helper. It just needs to be (unit) tested.

[2017-02-14 18:31] JMurphyWeb commented on #665
[code]

[2017-02-14 18:36] mk4111 commented on #665
@JMurphyWeb - I'm not sure what you meant from your post on the css...?

[2017-02-14 18:37] JMurphyWeb commented on #669
Thanks @fannyBkane  I have it working now.

[2017-02-14 18:39] JMurphyWeb commented on #665
i was just trying to see the overlap

I wouldn't worry about it much but if you think it is necessary then go for it.

[2017-02-14 18:41] mk4111 commented on #665
Ah ok! Thanks!

templates relying on `.card` class:
- browse-tab-navigation
- challenges partial
- insights partial
- browse/categories-tags
- browse/no-tags
- challenges/add
- challenges/browse
- challenges/details
- challenges/edit
- error_template
- insights/add
- insights/edit
- insights/resources
- organisations/add
- organisations/archived-challenges
- organisations/details
- organisations/e

[2017-02-14 18:49] mk4111 opened #681 "Different classes for 'lists'"
We have a number of 'lists': explore[orgs, chals, insights], people, resources, archived challenges.
Which generally share some similar structures + styling.

As can be seen from [this comment](https://github.com/emfoundation/ce100-app/issues/665#issuecomment-279793633) and [another comment following](https://github.com/emfoundation/ce100-app/issues/665#issuecomment-279796206) there's some overlap

[2017-02-14 18:57] mk4111 commented on #664
Thank you @fannyBkane !

[2017-02-14 19:08] mk4111 commented on #664
Updated page now looks like:

![screenshot from 2017-02-14 19-08-02](https://cloud.githubusercontent.com/assets/13470325/22944563/033c2dd8-f2e9-11e6-826a-0c2e7b3cfd50.png)
![screenshot from 2017-02-14 19-08-14](https://cloud.githubusercontent.com/assets/13470325/22944566/058f7716-f2e9-11e6-919b-43e734c6c5ef.png)

[2017-02-14 19:20] mk4111 commented on #665
Updated archived challenges now looks like:

![screenshot from 2017-02-14 19-20-25](https://cloud.githubusercontent.com/assets/13470325/22945038/b47979ba-f2ea-11e6-986c-5673d72f211f.png)

[2017-02-14 19:37] mk4111 commented on #676
@fannyBkane - sorry for bothering you again, it seems that the padding is still there...
![screenshot from 2017-02-14 19-36-26](https://cloud.githubusercontent.com/assets/13470325/22945692/f8c35d96-f2ec-11e6-99e0-b2aa708345a8.png)

Would it be possible to increase the overall _height_ of the svg, so that it is roughly a square? Thank you!

[2017-02-14 20:30] mk4111 commented on #664
Updated views with correct font now looks like:

![screenshot from 2017-02-14 20-21-27](https://cloud.githubusercontent.com/assets/13470325/22947872/6ce45e94-f2f4-11e6-8760-b234c4e076ac.png)
![screenshot from 2017-02-14 20-27-57](https://cloud.githubusercontent.com/assets/13470325/22947878/6feebe72-f2f4-11e6-8fec-7d46aef905ce.png)

[2017-02-15 10:35] fannyBkane commented on #677
We talked about removing that button, as we are planning to use an Intercom widget for testing. @asimonw can you confirm it is ok from your side?

[2017-02-15 10:45] mk4111 commented on #655
In the same PR where we update tags, need to remember to update the wiki/README.md, for instructions on adding/updating tags + categories

[2017-02-15 11:01] JMurphyWeb commented on #666
I actually think this should be fixed with the change to the `border-bottom` of the `.card` class

[2017-02-15 11:13] mk4111 commented on #666
Hi @JMurphyWeb - it isn't changed; I opened a new issue #681 for this, as it does involve a number of classes. If we remove border-bottom from .list__item, we will need to make changes to partials/user.html too, as this relies on .list__item having a border-bottom (but I think that might be fixed with replacing with .card instead)

[2017-02-15 12:17] JMurphyWeb commented on #660
@mk4111 we have been having an issue with using `vh` for setting the height of the landing card. The problem arises on mobile, when you scroll down or up, the browsers url bar comes down or disappears up, which affects the viewport height and therefore the `vh` recalculates and all the elements shift a little.

After entertaining possible solutions with @harrygfox we decided JS would be best bet t

[2017-02-15 12:17] JMurphyWeb commented on #660
Also i have removed the min-height 100vh from the body class as I could not see it was doing anything (except allowing me to click on the first down arrow)

[2017-02-15 12:57] mk4111 commented on #660
That sounds like a right pain! Didn't know of that effect so it's good to know! Thanks @JMurphyWeb :airplane:

[2017-02-15 13:04] mk4111 commented on #664
Now back to fixing this issue after fixing a few complications in #661...

[2017-02-15 13:15] JMurphyWeb commented on #660
[code]

[2017-02-15 13:19] fannyBkane commented on #676
Have sent an updated icon with no padding at all.

[2017-02-15 13:21] mk4111 commented on #676
Great! Thank you @fannyBkane !!

[2017-02-15 13:22] mk4111 commented on #676
I'll have a look now!

[2017-02-15 13:42] mk4111 opened #683 "Archiving all challenges removes 'Go To Archived Challenges'"
Archiving all challenges a) removes all challenges from view, and displays: 'You haven't shared a challenge yet'. b) 'Go To Archived Challenges' options is removed.

As primary users are the only users with edit/activating permissions, this will mean that their archived challenges will become inaccessible (unless they create another challenge, so that they can access archived challenges again)

[2017-02-15 13:45] mk4111 commented on #664
Tried to play around with display:inline-block/inline, padding/margins on the icon + challenge-header, but it does not seem to be particularly effective...

Have set width of challenge header to 95% instead as a fix.

[2017-02-15 13:48] mk4111 commented on #664
The result is as follows:

Primary user of org, with permission to edit own challenges:
![screenshot from 2017-02-15 13-34-11](https://cloud.githubusercontent.com/assets/13470325/22977079/2fa46290-f385-11e6-8269-9a304044d8f0.png)
![screenshot from 2017-02-15 13-34-31](https://cloud.githubusercontent.com/assets/13470325/22977084/32091a1c-f385-11e6-85f0-a9d535fed5d0.png)

Removing a letter from 'wit

[2017-02-15 13:52] mk4111 commented on #664
Need to fix tests!

[2017-02-15 13:58] mk4111 commented on #664
...might be because I altered the details of challenge 3 in node_modules. reinstalling!

[2017-02-15 14:06] mk4111 commented on #676
@fannyBkane - sorry I don't think it's come through, could you please send it to ce100 gmail again please? Thank you!

[2017-02-15 14:37] fannyBkane commented on #676
@mk4111 Sent it now :)

[2017-02-15 14:51] JMurphyWeb opened #684 "Batch add users and orgs to db"
We said we would time estimate the task of creating a script to batch add users/insights/orgs to the db to ease the load on EMF admins.

[2017-02-15 14:51] JMurphyWeb commented on #684
Priority is for the time estimation, not the actual work.

[2017-02-15 15:40] mk4111 commented on #668
Updated challenges browse view now looks like:

![screenshot from 2017-02-15 15-39-12](https://cloud.githubusercontent.com/assets/13470325/22981698/fb1517da-f394-11e6-85bf-ae2a7de66c50.png)

[2017-02-15 15:56] JMurphyWeb commented on #651
heroku instructions:

https://devcenter.heroku.com/articles/ssl

[2017-02-15 15:58] JMurphyWeb commented on #651
[code]

[2017-02-15 18:36] asimonw commented on #677
@fannyBkane and @JMurphyWeb I'll create a new issue for the Intercom widget. I suggest that you don't do anything about the feedback widget until we've decided that we can integrate with Intercom during this sprint.

[2017-02-15 18:39] asimonw opened #686 "Use Intercom chat widget instead of feedback button"
We have an account and would do most of the setup.
https://www.intercom.com/live-chat

[2017-02-16 12:04] mk4111 opened #687 "People List: contact detail overflows"
When a user's name/job title/workplace is quite long the text 'unaligns' itself to accommodate the text.

![screenshot from 2017-02-16 12-01-06](https://cloud.githubusercontent.com/assets/13470325/23020579/a0a2c76a-f43f-11e6-98e4-8cae23465548.png)

[2017-02-16 12:09] mk4111 commented on #687
On primary user view this does not happen with Anita Rose.
![screenshot from 2017-02-16 12-06-25](https://cloud.githubusercontent.com/assets/13470325/23020733/5d57eb60-f440-11e6-8bb9-ad19b2bfa785.png)

We need to check this with longer job names, etc.
The class name to fix is `.list__subblock` - need to give it a fixed width so that it does not overflow into the toggle icon (3 dots).

[2017-02-16 12:15] mk4111 commented on #687
The text goes onto the next line when it reaches full width:
![screenshot from 2017-02-16 12-14-06](https://cloud.githubusercontent.com/assets/13470325/23020962/703aa532-f441-11e6-88b1-c9b78301ee87.png)
Need to cap width to around 90%

[2017-02-16 12:23] mk4111 commented on #687
This does however still cause issues with admin view because of the green dot...
![screenshot from 2017-02-16 12-22-57](https://cloud.githubusercontent.com/assets/13470325/23021200/abfa079c-f442-11e6-9039-cc6167390e46.png)

@asimonw, would it be ok to move the green/red dots into the margins for this view? It would look like this:

![screenshot from 2017-02-16 12-22-10](https://cloud.githubusercon

[2017-02-16 12:37] JMurphyWeb commented on #663
![screen shot 2017-02-16 at 12 36 42](https://cloud.githubusercontent.com/assets/12638261/23021604/aaf000f2-f444-11e6-9a5b-1080ed5ef1ec.png)

[2017-02-16 12:48] JMurphyWeb opened #688 "Accissibility of teal buttons and tags"
https://github.com/emfoundation/ce100-app/pull/671#discussion_r101315407

@fannyBkane said she was going to look into making the contrast between the text and background colour a bit stronger in the above comment.

[2017-02-16 15:18] asimonw commented on #687
@mk4111 That sounds reasonable, yes.

[2017-02-16 15:28] JMurphyWeb opened #689 "Views - explore insights"
Insights
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c8949b9d031891fc4e4e0

Includes resources
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c8a6e4a08e9d20c769a07

[2017-02-16 15:33] JMurphyWeb opened #690 "views - edit org"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c8ad1497e265c1d5caa31

![screen shot 2017-02-16 at 15 33 10](https://cloud.githubusercontent.com/assets/12638261/23027767/4498ecba-f45d-11e6-8d15-2fc33c2e8454.png)

[2017-02-16 15:38] JMurphyWeb commented on #690
We are going to have to change a bit of the structure in order to get the title with logo card to float left and not be stacked on top of each other.

@asimonw can you let us know how high the priority that aspect of this view is?

[2017-02-16 15:42] JMurphyWeb opened #691 "View - Edit settings"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c8a9581d4a5831f1889a5

![screen shot 2017-02-16 at 15 40 16](https://cloud.githubusercontent.com/assets/12638261/23028117/4af8c98a-f45e-11e6-9ca0-a9c35bfecaab.png)

[2017-02-16 15:45] JMurphyWeb opened #692 "Views - Add challenge"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c8ca3c4ac70861db57f6f

[2017-02-16 15:47] JMurphyWeb opened #693 "View Edit challenge"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c8ca6ad7002951f549696

[2017-02-16 15:50] asimonw commented on #690
@JMurphyWeb Is that because you are using the same partial as for the profile public view?
Currently, they are next to each other in the app, so I'm not sure what the problem would otherwise be. Since it's an edit view, not public, another solution might be ok. It's not as important as the public view. It's very similar to how logo and title are laid out in the org list view, so maybe that can be

[2017-02-16 15:50] mk4111 opened #694 "View Desktop - Add/Edit challenge error messages"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589cca449e603a741d5e7b17

[2017-02-16 15:53] JMurphyWeb opened #695 "View - Add tags"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c8cf5bc9fa54d1f79afa0

![screen shot 2017-02-16 at 15 52 37](https://cloud.githubusercontent.com/assets/12638261/23028701/092b9f58-f460-11e6-8cfc-3ad063b4f77f.png)

https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c8cf4bc9fa54d1f79af70

![screen shot 2017-02-16 at 15 56 02](https://cloud.githubusercontent.

[2017-02-16 15:58] JMurphyWeb opened #696 "View - burger open"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c8dde04b557e40cb67865

[2017-02-16 16:03] JMurphyWeb commented on #690
Yes that is true @asimonw. we haven't looked into it in too much detail but perhaps we could use that partial, although that does have slightly different styles/borders attached.

It is just a small thing that we thought might not be too important which could save us some time.

[2017-02-16 16:07] JMurphyWeb opened #697 "View - People list"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c9023086bd77d1f87c943

![screen shot 2017-02-16 at 16 06 15](https://cloud.githubusercontent.com/assets/12638261/23029301/f48b4fe2-f461-11e6-9a8c-e1f4bf53a332.png)

[2017-02-16 16:08] JMurphyWeb commented on #656
(rest of) Mobile views:
- [ ] [Explore Insights](https://github.com/emfoundation/ce100-app/issues/689)
- [ ] [Edit org details](https://github.com/emfoundation/ce100-app/issues/690)
- [ ] [Edit user settings](https://github.com/emfoundation/ce100-app/issues/691)
- [ ] [Add challenge](https://github.com/emfoundation/ce100-app/issues/692)
- [ ] [Edit Challenge](https://github.com/emfoundation/ce100-

[2017-02-16 16:09] asimonw commented on #690
@JMurphyWeb Agreed that there are higher priority things. I suggest you leave it for now and we revisit it towards the end of the sprint if there is time.

[2017-02-16 16:22] JMurphyWeb opened #698 "View Desktop - Login"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c94af2ae4407a1d57157a

[2017-02-16 16:26] JMurphyWeb opened #699 "View Desktop - Walkthrough"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c953d9e603a741d5d60b2

[2017-02-16 16:36] JMurphyWeb opened #700 "View Desktop - Org details"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c95d3c4ac70861db5c611

[2017-02-16 16:42] JMurphyWeb opened #701 "View Desktop - Challenge modal"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c9d054a08e9d20c7733ed

[2017-02-16 16:47] JMurphyWeb opened #702 "Views Desktop - Explore orgs & Chals"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c977eff012d9b1fa4100d

[2017-02-16 16:53] JMurphyWeb opened #703 "Views Desktop - Explore insights"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c977c600f773e1d90e93a

[2017-02-16 17:02] JMurphyWeb opened #704 "Views Desktop - Select Tags"
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=58a1aea86d53d90f4bf5e634

[2017-02-16 17:02] JMurphyWeb commented on #656
[Login](https://github.com/emfoundation/ce100-app/issues/698)
[Walkthrough](https://github.com/emfoundation/ce100-app/issues/699)
[Org Details](https://github.com/emfoundation/ce100-app/issues/700)
[Challenge Modal](https://github.com/emfoundation/ce100-app/issues/701)
[Explore Orgs & Chals](https://github.com/emfoundation/ce100-app/issues/702)
[Explore Insights](https://github.com/emfoundation/ce

[2017-02-16 17:15] JMurphyWeb commented on #654
@asimonw
Heroku: https://www.heroku.com/pricing (7$ / month - doesn't sleep)
Heroku Postgres: https://elements.heroku.com/addons/heroku-postgresql (50$ / month - 4 days database rollback available)
Redis: No need for paid plan.

[2017-02-16 17:15] fannyBkane commented on #688
Hey @JMurphyWeb I've been looking at this. There are implications with visual identity, I need a bit of time to think it through, in order to make the least amount of changes. Hope to have an update by tomorrow eop, I hope this works for you!

[2017-02-16 17:21] harrygfox commented on #673
I'd fully support this idea: so long as everyone was happy with the _added workflow_ steps and everything was _properly documented_.
The modularisation Sass provides is pretty epic for BEM management though.

[2017-02-16 17:36] JMurphyWeb commented on #688
Sure @fannyBkane . Please let us know of priority when this comes through. thanks

[2017-02-16 17:39] mk4111 commented on #661
Adding the new Profile icon

[2017-02-16 18:01] mk4111 commented on #661
Had to change stroke, stroke width and fill but otherwise worked!

[2017-02-16 20:34] mk4111 commented on #687
![screenshot from 2017-02-16 20-28-19](https://cloud.githubusercontent.com/assets/13470325/23039724/7da097aa-f486-11e6-8a5c-e9be0c53ed0d.png)

Having a little struggle with fixing the width of the email, which can overflow as can be seen in the example above.

anchor and span are by default inline elements so cannot have a fixed width. Need to think of something else...

[2017-02-16 21:42] JMurphyWeb commented on #655
Have added the new tags to this repo (not merged yet)

@asimonw there is a `tags` directory at the root, in which:
- I have added the document for Admins  (also  linked to from the README)
- added the tags.json and categories.json data

We will continue to use our old mock data locally so don't be alarmed if you continue to see the old tags and categories in our screen-shots.

[2017-02-16 21:52] mk4111 commented on #645
Updates - as the view is similar to People List, the classes have been unified so that each item is a .list__item, and within it, has .card properties.

Now looks like this:

![screenshot from 2017-02-16 21-47-50](https://cloud.githubusercontent.com/assets/13470325/23042841/24ba7352-f492-11e6-8cdd-19bfb471c424.png)
![screenshot from 2017-02-16 21-49-40](https://cloud.githubusercontent.com/assets/1

[2017-02-16 21:54] mk4111 commented on #681
With the updates to #705 and #685, this should (almost) be resolved. Will need to revisit to unify organisations list into a similar format though.

[2017-02-16 22:21] mk4111 commented on #689
This issue was covered in conjunction with #645

[2017-02-16 22:22] mk4111 commented on #645
This issue was covered in conjunction with #689

[2017-02-17 10:23] JMurphyWeb commented on #612
I have done a bit of work on this in https://github.com/emfoundation/ce100-app/pull/706

Set up the basic production config.
Still need to check it works on heroku by removing the NODE_ENV key.

[2017-02-17 10:24] JMurphyWeb commented on #612
@SimonLab would it be useful to be able to access the production db locally?

[2017-02-17 11:39] mk4111 commented on #681
The general structure of 'list' items in explore/lists (apart from for organisations!) are

[code]

I've highlighted `list__item--medium` because (in addition to `list__item`) it specifically applies to challenges and resources/insights.
People List only has `list__item`.
Explore Orgs has `list__item` and `list__item--big`.

[2017-02-17 14:31] JMurphyWeb opened #707 "View - Form inputs (type text)"
Form fields type text and textareas need to have some changes as per wireframes:

https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589cc43849e6029c0cf0820d

[2017-02-17 14:32] JMurphyWeb commented on #707
<img width="320" alt="screen shot 2017-02-17 at 14 32 07" src="https://cloud.githubusercontent.com/assets/12638261/23069060/e476b724-f51d-11e6-83ee-14b12425d5a4.png">

This is how they look now

[2017-02-17 18:00] JMurphyWeb commented on #652
We are thinking about the options available to us here.

One makes use of migration files letting SQL adapt the structure and the other is the developer manually changing the plugin schema and updating the data using scripts.

### SQL Version:

1. Create a timestamped migration file. `3222432341990_change_job_title.sql`

- Add the desired migration
[code]

- These migration files should be run aft

[2017-02-17 18:35] fannyBkane commented on #688
Hi. I've reworked a text/UI colour guide for mobile (it works on desktop too, but I will need to add active states and transitions) https://zpl.io/1nIt9d
Can you let me know if that can fit within the sprint? Based on your feedback I will update the mockups to reflects those new colours. Really appreciate your help and great work on this!

[2017-02-18 12:54] JMurphyWeb commented on #688
Thanks @fannyBkane - we will have to give a time estimate on it and then prioritise it. Can do this on monday.

[2017-02-20 11:31] JMurphyWeb commented on #692
From what i could see:

- Always at least 28px margin-bottom underneath a form input
- 37px between bottom of form input and the following form label

So I have added the 28px margin bottom on the input fields, and a padding-top of 9px on the input labels

![screen shot 2017-02-20 at 11 25 57](https://cloud.githubusercontent.com/assets/12638261/23123287/b29d241a-f75f-11e6-9540-a660cb4ea833.png)

!

[2017-02-20 11:38] mk4111 commented on #697
There is a [bug](https://github.com/emfoundation/ce100-app/issues/687) that is very much related to this issue too. Will resolve together.

[2017-02-20 12:57] JMurphyWeb commented on #693
@fannyBkane could we please get the right arrow icon from the button in the above wireframe? Thanks!

[2017-02-20 13:08] JMurphyWeb commented on #693
I have fixed the bottom nav not showing up in this view

[2017-02-20 13:09] JMurphyWeb commented on #693
![screen shot 2017-02-20 at 13 08 41](https://cloud.githubusercontent.com/assets/12638261/23126246/c117140c-f76d-11e6-9576-be13627c5b5b.png)

[2017-02-20 13:21] JMurphyWeb opened #711 "Document css"
Forms

form__section
- adds margin to the bottom, can be used for a random piece of content in a form
- (note form inputs already have margin bottom)

form__section--main
- adds a border to the bottom of the section

form__input
- to be used on all inputs
- Note this may need reviewing as I am not sure how useful it is to have such a generic element

form__input--text
- type text inputs

form__inp

[2017-02-20 13:28] mk4111 commented on #687
span cannot have line heights --> (it adopts that of the nearest block parent)[http://stackoverflow.com/questions/18151124/css-reducing-line-spacing-of-text]

Have switched out span for div, applied a new utilities class called `u-text-wrap` which will wrap the text and contain it within a certain width. Applied line-height and padding to make it more intuitive that it is part of the same field

[2017-02-20 13:32] mk4111 commented on #687
Now looks like:

![screenshot from 2017-02-20 13-30-24](https://cloud.githubusercontent.com/assets/13470325/23126954/ff07599a-f770-11e6-8618-2f6b90904f07.png)
![screenshot from 2017-02-20 13-30-34](https://cloud.githubusercontent.com/assets/13470325/23126957/0090b842-f771-11e6-8771-6a3d853cda8a.png)
![screenshot from 2017-02-20 13-31-15](https://cloud.githubusercontent.com/assets/13470325/23126958

[2017-02-20 13:33] mk4111 commented on #697
Have updated the icon colours, font size, etc.

Other fixes detailed in #687

[2017-02-20 13:37] mk4111 commented on #666
Have made the relevant changes which affect the user.html partial in #697.
The things that affect organisation explore view are the padding/margin settings on `.list__item`.

View now looks like:

![screenshot from 2017-02-20 13-35-19](https://cloud.githubusercontent.com/assets/13470325/23127063/7093aa82-f771-11e6-864c-734564b6563b.png)

[2017-02-20 13:46] mk4111 commented on #681
The above has been updated following the completion of #697 with the details below:

Explore Orgs _and_ People List use `list__item` and `list__item--big`

--> Given that the old styling on list__item (in terms of padding/margins/line heights and size) is no longer solely required, I will update list__item with the diff with list__item--medium, and remove list__item--medium as it will no longer be

[2017-02-20 16:28] fannyBkane commented on #693
Arrow right svg sent.

[2017-02-20 19:44] JMurphyWeb commented on #691
All new features are there:

<img width="241" alt="screen shot 2017-02-20 at 19 43 59" src="https://cloud.githubusercontent.com/assets/12638261/23139570/f7d3dfde-f7a4-11e6-88cc-468f03f29511.png">

<img width="241" alt="screen shot 2017-02-20 at 19 43 54" src="https://cloud.githubusercontent.com/assets/12638261/23139574/fcf13340-f7a4-11e6-858b-0d983d3fba8d.png">

[2017-02-21 10:56] JMurphyWeb commented on #700
@mk4111 this is the comment from harry on the naming for some desktop classes:

https://github.com/emfoundation/ce100-app/pull/678#discussion_r102055118

I am happy to take this on, just thought I would check to see if it is something you thought it would be better for you to look into. We probably shouldn't work on this until that pr above is merged..

[2017-02-21 11:04] JMurphyWeb commented on #698
<img width="243" alt="screen shot 2017-02-20 at 22 12 21" src="https://cloud.githubusercontent.com/assets/12638261/23162348/54792dde-f836-11e6-9bab-ccd946a0bb3b.png">

[2017-02-21 15:09] fannyBkane commented on #688
Hi @JMurphyWeb could you let me know about this when you can?

[2017-02-22 08:49] JMurphyWeb commented on #688
@fannyBkane I asked the question to @asimonw on gitter but I know he has been away. I will copy the question in here.

[2017-02-22 10:15] mk4111 commented on #695
Views now look like:

![screenshot from 2017-02-22 10-07-09](https://cloud.githubusercontent.com/assets/13470325/23206771/dda4e8c2-f8e6-11e6-8844-9e77b3471e4e.png)

![screenshot from 2017-02-22 10-06-45](https://cloud.githubusercontent.com/assets/13470325/23206770/db555958-f8e6-11e6-9a93-3db9ad28378b.png)

The 'Back' and 'Cancel' buttons have been added to each 'add-tags-view.js'; these exist in t

[2017-02-22 10:27] mk4111 commented on #704
This issue was covered in #717 PR (linked to mobile view, #695)

[2017-02-22 10:28] mk4111 commented on #704
Need to replace 'X' button with 'Cancel' round button

[2017-02-22 11:23] JMurphyWeb commented on #660
<img width="243" alt="screen shot 2017-02-22 at 13 22 27" src="https://cloud.githubusercontent.com/assets/12638261/23209503/2359d722-f902-11e6-8947-1c885555ae20.png">
<img width="246" alt="screen shot 2017-02-22 at 13 22 33" src="https://cloud.githubusercontent.com/assets/12638261/23209504/235f35dc-f902-11e6-8851-933cab3a3baf.png">
<img width="242" alt="screen shot 2017-02-22 at 13 22 42" src="htt

[2017-02-22 12:25] mk4111 commented on #704
Updated, now looks like:

![screenshot from 2017-02-22 12-22-35](https://cloud.githubusercontent.com/assets/13470325/23211359/aa5b2806-f8f9-11e6-89f5-7573d0e59df6.png)
![screenshot from 2017-02-22 12-22-06](https://cloud.githubusercontent.com/assets/13470325/23211360/ac1a2818-f8f9-11e6-8810-181d442ea296.png)

[2017-02-22 12:25] mk4111 commented on #704
Button text has been updated from 'Done' to 'Save'

[2017-02-22 12:49] JMurphyWeb commented on #699
Just put a little bit of time into getting this view look ok in Desktop view. Can revisit when there is time.

<img width="1264" alt="screen shot 2017-02-22 at 14 47 48" src="https://cloud.githubusercontent.com/assets/12638261/23212157/1c769b96-f90e-11e6-9e06-e22883ec9cdd.png">
<img width="1265" alt="screen shot 2017-02-22 at 14 47 55" src="https://cloud.githubusercontent.com/assets/12638261/23212

[2017-02-22 14:07] mk4111 commented on #702
Starting with Org Explore view. Will check over fonts, etc.

[2017-02-22 14:12] JMurphyWeb commented on #690
Admin
<img width="247" alt="screen shot 2017-02-22 at 16 11 19" src="https://cloud.githubusercontent.com/assets/12638261/23215052/b04e1884-f919-11e6-8e0e-3b4192a342e7.png">
<img width="246" alt="screen shot 2017-02-22 at 16 11 23" src="https://cloud.githubusercontent.com/assets/12638261/23215053/b04f8f7a-f919-11e6-8609-b1feca7212c4.png">

Primary
<img width="245" alt="screen shot 2017-02-22 at 16

[2017-02-22 14:29] JMurphyWeb commented on #690
Now with disabled tags:
<img width="242" alt="screen shot 2017-02-22 at 16 29 25" src="https://cloud.githubusercontent.com/assets/12638261/23215749/1ea9293e-f91c-11e6-8296-48b4ae2ebe80.png">

[2017-02-22 14:41] JMurphyWeb commented on #663
@mk4111 I have just merged with master and now have this:\

<img width="242" alt="screen shot 2017-02-22 at 16 39 23" src="https://cloud.githubusercontent.com/assets/12638261/23216125/886c4030-f91d-11e6-91c5-6cb8832e711c.png">

I was wondering if that logo was what we wanted? and if not where it has come from? Also the font of the card header is now 18px but should be 14px in these views, I wanted

[2017-02-22 14:54] JMurphyWeb commented on #663
Also I would like to change the padding (bottom only) on the `.card` class from
`2.75rem 1.55rem` to `2.75rem 1.55rem 1.75rem`

[2017-02-22 15:03] mk4111 commented on #663
Just had a look!
Soooo:
- I switched out the logo for Profile.svg from the old version to this one as this is what they now want for their navbar. Previously the organisation logo icons were the same as that in the nav, but this might no longer be what is desired. Shall we ask Alex what he wants there by default when an org doesn't have a logo?
- Yes this can be changed to 14px! I think I added it

[2017-02-22 15:10] JMurphyWeb commented on #663
Dont worry about the logo. I will change it back.

[2017-02-22 15:26] mk4111 commented on #663
@JMurphyWeb thanks for the updates and the pictures that helped a lot!

As before, `logo`, `card__headers` and `padding-bottom` of .card should be fine!
About the additional points:
- Updating the rem increments from 0.8 --> 0.875rem sounds good and uniform to me!
- Changing the padding works with me, but I have a bit of a question about it. The 'Challenge' bit under the navbar (see image below) o

[2017-02-22 15:58] asimonw commented on #698
@JMurphyWeb Ok for now, move on to other screens first and see if we still have time for this one later on.

[2017-02-22 17:34] mk4111 commented on #652
Summary from this morning's standup --> Add the above two options to a documentation, and state that these are the proposed methods for structural migration and is to be implemented in the future.

[2017-02-23 08:06] JMurphyWeb commented on #663
@mk4111 I think you are probably right. Lets go with the uniform 64px. Thanks!

[2017-02-24 11:33] JMurphyWeb opened #720 "View Desktop - Challenge details view"
As discussed in todays standup, we will get the 'challenge details' view looking respectable in desktop and can enhance this view with the modal originally requested in #701 in the future.

The modal should look like this:
<img width="557" alt="screen shot 2017-02-24 at 13 30 43" src="https://cloud.githubusercontent.com/assets/12638261/23302052/a97bdbe0-fa95-11e6-8662-ea5a7e1833f9.png">

And curre

[2017-02-24 11:58] JMurphyWeb commented on #683
This doesn't seem to be an issue anymore @mk4111

[2017-02-24 12:26] #645 closed

[2017-02-24 12:36] asimonw commented on #634
@mk4111 Two small issues:
* Could the background colour on desktop stretch all the way to the bottom, even when there isn't enough content to fill the whole space above the fold?
* The challenge icons don't look good on mobile (see below). I think they are there because clicking a challenge was supposed to open a challenge. Since we'll go for a non-modal option for now, maybe simply comment out th

[2017-02-24 12:38] #649 closed

[2017-02-24 12:44] asimonw commented on #655
@JMurphyWeb This isn't in place yet, so I assume that the `please-test` label was added by mistake?

[2017-02-24 13:02] fannyBkane commented on #634
@asimonw @mk4111 it's fine, thanks guys!

[2017-02-24 13:19] JMurphyWeb commented on #720
<img width="1036" alt="screen shot 2017-02-24 at 15 15 14" src="https://cloud.githubusercontent.com/assets/12638261/23304742/1b1957d8-faa4-11e6-98ea-aae7d47ebfd9.png">

I have updated `card__header--challenge` font size and margin, but ensured that it doesn't affect any other views by adding `card__data--link` to the other views that use this class.

Currently this class is used as our list item t

[2017-02-24 13:35] JMurphyWeb commented on #634
@asimonw so for now we don't need the icons in mobile or desktop?

[2017-02-24 13:41] JMurphyWeb commented on #655
@asimonw not sure if we are still testing on staging but this should be the new list of tags: https://staging-ce100-emf.herokuapp.com/orgs/tags

[2017-02-24 14:23] asimonw commented on #634
@JMurphyWeb Yes indeed. We might bring them back once we have a modal solution.

[2017-02-24 14:31] asimonw commented on #655
@JMurphyWeb Tags are looking good on staging indeed. But this issue is about making sure production is ready. So I'd like to keep it open until the tags are in production _and_ the database is reset, as we agreed with @SimonLab earlier this week.

We're not doing anything in production yet, so feel free to deploy what you have already to production when you can. Add the label `please-test` back on

[2017-02-24 14:33] asimonw commented on #681
@mk4111 or @JMurphyWeb is this something we need to test?

[2017-02-24 14:40] #683 closed

[2017-02-24 14:45] #687 closed

[2017-02-24 14:56] fannyBkane commented on #660
@mk4111 could you add more margin top of the h1 'Welcome Sally' so that it looks more vertically centred?

[2017-02-24 14:58] fannyBkane commented on #661
@mk4111 looks exactly like the mockups, however ideally this nav should change due to accessibility issue — can you confirm?

[2017-02-24 15:01] fannyBkane commented on #662
Looks good. forgot to call it out but I added a text shadow to enhance legibility - could you update?
text-shadow: 0 1px 0 rgba(0, 49, 83, 0.07);

Please note:  time allowing the tags style should change due to accessibility issue — can you confirm?

[2017-02-24 15:19] fannyBkane commented on #663
Looks ace @asimonw fine to close this one

[2017-02-24 15:32] asimonw commented on #660
@JMurphyWeb The down arrows (and consequently the different sections) are not well well spaced on mobile. The first down arrow doesn't appear above the fold. This might have been caused by improving the alignment on desktop, where everything looks fine.

[2017-02-24 15:37] fannyBkane commented on #665
@mk4111 All good

@asimonw Fine to close this one!

[2017-02-24 15:40] #665 closed

[2017-02-24 15:45] fannyBkane commented on #666
@mk4111 Ace.
@asimonw fine to close this one.

[2017-02-24 15:47] #666 closed

[2017-02-24 15:49] iteles commented on #681
A technical issue, this is one for us @asimonw, you're right 👍

[2017-02-24 15:49] #681 closed

[2017-02-24 16:01] fannyBkane commented on #667
@JMurphyWeb great :)

@asimonw fine to close this one!

[2017-02-24 16:02] fannyBkane commented on #669
@asimonw Fine to close!

[2017-02-24 16:02] #667 closed

[2017-02-24 16:03] fannyBkane commented on #668
@asimonw Fine to close. Curtain!

[2017-02-24 16:08] #669 closed

[2017-02-24 16:09] fannyBkane commented on #689
@mk4111 All good!

@asimonw Close. Now.

[2017-02-24 16:10] #668 closed

[2017-02-24 16:11] asimonw commented on #689
@fannyBkane Sir, yes Sir!

[2017-02-24 16:11] #689 closed

[2017-02-24 16:36] fannyBkane commented on #692
@JMurphyWeb could the button say 'Save & add tags'?

[2017-02-24 16:39] fannyBkane commented on #693
@JMurphyWeb

Could the small text above the button say 'Clicking 'Save' will make your challenge public to the network'

instead of 'Clicking 'Next'...'?

[2017-02-24 16:41] fannyBkane commented on #695
@mk4111 Could you make the cancel button and save button a similar width?

[2017-02-24 16:42] fannyBkane commented on #697
All good. @mk4111

@asimonw can you pleeeease close this issue?

[2017-02-24 16:44] fannyBkane commented on #698
The text-shadow in the button looks too strong - would be great to check if it corresponds with the mockup?

But anyway @asimonw @JMurphyWeb Fine with me, let's change to a lower priority.

[2017-02-24 16:46] fannyBkane commented on #699
@JMurphyWeb @asimonw fine with me to keep it centred for the moment. Could you just up the size to around or at least 16px?

[2017-02-24 16:47] #697 closed

[2017-02-24 16:49] fannyBkane commented on #707
@JMurphyWeb Looks good.

@asimonw fine to close this issue.

[2017-02-24 16:52] #707 closed

[2017-02-24 16:54] fannyBkane commented on #691
@JMurphyWeb all good

@asimonw fine to close this one

[2017-02-24 16:55] #691 closed

[2017-02-24 16:56] fannyBkane commented on #659
@mk4111 great stuff. Could you just double the text-shadow value? It looks quite strong. Thank you!

[2017-02-24 17:00] asimonw commented on #698
Remaining issue is duplicate of the one raised in #659 so closing this one.

[2017-02-24 17:00] #698 closed

[2017-02-24 17:03] asimonw commented on #662
@JMurphyWeb To re-iterate @fannyBkane's comment, if the changes to tags outlined in #688 are implemented, this issue can be closed without adding the text shadow.

[2017-02-24 17:06] asimonw commented on #660
@JMurphyWeb In addition to my comment above, when using an actual mobile device (iPhone 5), both in Safari and Chrome the down arrows appear on top of the text and there is no proper spacing between the different sections (as if down arrows are positioned absolutely, but I didn't verify that).

[2017-02-24 17:13] asimonw opened #722 "Admin user on actual mobile device: clicking "Add" button makes the whole screen inactive"
On iPhone 5, this happens in Chrome but not in Safari. It also doesn't happen in the device simulator in chrome dev tools. Not sure what's going on, but it feels like all click handlers get a preventDefault.

Reproduce by simply trying to tap the "Add" button on an actual mobile device, using Chrome. The option list will not open. Tapping anything else also has no effect.

[2017-02-24 18:17] JMurphyWeb commented on #269
This was added in #715

[2017-02-24 18:40] JMurphyWeb commented on #658
`{ userFlow: { [userFlow]: true }`

in handlbars access userFlow by: `userFlow.activate` or `userFlow.reset`

[2017-02-24 18:41] JMurphyWeb commented on #658
<img width="530" alt="screen shot 2017-02-24 at 20 41 10" src="https://cloud.githubusercontent.com/assets/12638261/23316065/9d50d6f4-fad1-11e6-9624-cc510f10cc7f.png">

[2017-02-25 14:46] JMurphyWeb commented on #663
@fannyBkane could you confirm that your comment is to do with the desktop view? This issue is specifically mobile view. sorry that wasn't made clear in the description.

[2017-02-25 14:47] JMurphyWeb commented on #700
@fannyBkane made this comment regarding the add challenge button

https://github.com/emfoundation/ce100-app/issues/663#issuecomment-282316942

[2017-02-25 22:37] iteles commented on #653
I'll be updating this in the next couple of days to include setting up of a custom domain: https://github.com/dwyl/learn-heroku

[2017-02-26 10:45] JMurphyWeb commented on #693
<img width="637" alt="screen shot 2017-02-26 at 12 45 04" src="https://cloud.githubusercontent.com/assets/12638261/23339001/6ed4d45a-fc21-11e6-96d7-c2f6fc42bf15.png">

Copy changed and icon added.

[2017-02-27 09:39] #269 closed

[2017-02-27 11:12] JMurphyWeb opened #727 "Production database"
Updated DB:
Leave one admin user with unguessable password and ce100 gmail address in production db.

@asimonw please let me know if this is not desirable.

#655

[2017-02-27 11:23] JMurphyWeb commented on #612
[code]

We now have a production setup in our config.

[2017-02-27 11:23] #612 closed

[2017-02-27 12:17] asimonw commented on #727
@JMurphyWeb That sounds good.

[2017-02-27 12:53] mk4111 commented on #700
Having issues with displaying the two 'sections' align horizontally:

![screenshot from 2017-02-27 12-49-22](https://cloud.githubusercontent.com/assets/13470325/23361946/34da16c8-fceb-11e6-9797-a55baf83f885.png)

I currently have everything on the left-hand side in a div, to align them at 30% vertically. I then have attempted to align that div horizontally with 'Challenges' div (set to 60% width)

[2017-02-27 13:19] JMurphyWeb commented on #722
@asimonw just to let you know this is not in the milestone and therefore not part of what we will get onto today. Could you please add it to the milestone and prioritise it if you want us to look at it?

[2017-02-27 13:26] JMurphyWeb commented on #688
@asimonw I would like to spend 2 hours getting as much of these done as possible. I don't think they will all get done in time, although I could be wrong.

Of these, I hope that only the edit icon (pressed) could be an issue.
<img width="217" alt="screen shot 2017-02-27 at 15 23 39" src="https://cloud.githubusercontent.com/assets/12638261/23362940/bf61bdae-fd00-11e6-8b4e-97af99864cbe.png">

The co

[2017-02-27 13:38] asimonw commented on #722
@JMurphyWeb Because this is only for admins and on mobile, it's not as urgent as some other remaining issues. It might be a sign of a deeper problem though, so I'm adding it to the milestone.

[2017-02-27 13:40] asimonw commented on #688
@JMurphyWeb That sounds very fair! I think a typical 10% darker for button pressed could be a reasonable temporary fix.

[2017-02-27 13:48] mk4111 opened #730 "borders in challenges list (profile view)"
Cannot quite pinpoint where the borders are creeping in:

Desired effect (no borders):
![screenshot from 2017-02-27 13-43-04](https://cloud.githubusercontent.com/assets/13470325/23363579/4498649a-fcf3-11e6-8293-ab4b2ab8a3c1.png)

Current result:
![screenshot from 2017-02-27 13-47-17](https://cloud.githubusercontent.com/assets/13470325/23363583/4a560180-fcf3-11e6-8b7d-2c57eb6ea7bb.png)

#### Tried:

[2017-02-27 13:49] mk4111 commented on #730
@harrygfox - do you know why this might be happening...? :/

[2017-02-27 14:35] fannyBkane commented on #693
Awesome. @JMurphyWeb Would it be possible to up the size of the arrow just a bit, so that it is more legible. Thank you!

[2017-02-27 14:45] fannyBkane commented on #663
Hey @JMurphyWeb thanks for clarifying.  I got mixed up.

Could you make the 'archived challenge' link grey like here (i've used #fff 75% opacity)?

![screen shot 2017-02-27 at 14 39 04](https://cloud.githubusercontent.com/assets/20577339/23365340/a118c654-fcfa-11e6-9d8b-d90df1792a64.png)

[2017-02-27 14:45] asimonw opened #731 "Drop down menu linked to burger icon shouldn't scroll"
The menu behind the burger icon (with links to Settings, People, Resources) should be fixed to the viewport. At the moment, the user can scroll it up and see the content which should be hidden behind it.

It looks like this could be solved by adding `position: fixed` to the containing div.

[2017-02-27 16:06] mk4111 commented on #700
Currently facing a problem where the divs don't inline unless a 'transform' is applied, or unless 'float' is used. Would prefer not to use the latter as it messes with the horizontal spacing of the blocks...

When transform is applied, the result is inconsistent when used with margins:

![screenshot from 2017-02-27 16-05-06](https://cloud.githubusercontent.com/assets/13470325/23368739/bcfe8e1a-fd0

[2017-02-27 17:01] mk4111 commented on #700
Current solution:

<wrapper>
  <div 1>
    <org mission statement + tags>
    <primary user details>
  </div>
  <div 2>
    <challenges>
  </div>
</wrapper>

### wrapper:
display: block;
width: 80%;
margin: 0 auto;

### div1:
float: left;
display: inline-block;
width: 30%;

### div2:
display: inline-block;

[2017-02-27 17:02] mk4111 commented on #700
Just received some info from Harry; could be to do with HTML rather than CSS.

Will look into this now

[2017-02-27 17:05] mk4111 commented on #700
Have removed whitespace/new lines from HTML. This yields the following result:

![screenshot from 2017-02-27 17-05-04](https://cloud.githubusercontent.com/assets/13470325/23371122/f3faf428-fd0e-11e6-8900-4919c62fa9c4.png)

[2017-02-27 17:06] mk4111 commented on #700
It seems like the divs are vertically aligned with the bottom? Have tried to overwrite this with 'vertical-align: top' but to no avail... will continue trying

[2017-02-27 22:36] mk4111 commented on #700
`vertical-align: top` on `.card--desktop-large` fixed this issue

[2017-02-28 08:37] JMurphyWeb commented on #688
@fannyBkane i have updated the font and links with a white background only. Can you please review:
- the colours
- the use of underlines (i imagine you will want some removed!!)

And let me know in this issue?

[2017-02-28 09:15] asimonw commented on #688
@JMurphyWeb Apologies, I now realise that I said "hover state" in my previous comment, while it's probably an active state pseudo-class which needs to be used, because it says "Button pressed." @fannyBkane Is the hover state still just 10% darker?

[2017-02-28 09:48] JMurphyWeb commented on #688
@asimonw I didn't know what to do with hovers so have left them out.

[2017-02-28 10:10] JMurphyWeb commented on #657
I just edited the mission statement to empty string `""` as both an admin and a primary user and did not get any error message. Do you want there to be validation on primary user editing mission statement saying it cannot be empty?

[2017-02-28 10:15] asimonw commented on #657
@JMurphyWeb Just did another test on staging and the 500 error seems to have disappeared! The problem is still there in production, so you guys must have solved it recently?

In any case, this means that the issue is now less high priority. I'll move it down in the list, but when you get to it, indeed adding some validation so that the mission statement cannot be empty would be good.

[2017-02-28 10:33] fannyBkane commented on #688
@JMurphyWeb @asimonw Please bear in mind the UI update here was only showing states for mobile. As there is no hover state on mobile, I thought we could have an indication that you have pressed a button and that next state is loading. I have called it pressed state, but supposedly it wasn't clear... Please let me know if that makes sense and how you'd call that?
![screen shot 2017-02-28 at 10 32 3

[2017-02-28 10:33] mk4111 commented on #662
@JMurphyWeb - have you included this in #688?

[2017-02-28 10:37] JMurphyWeb commented on #688
@fannyBkane that is fine I think.

Did you see my message about staging app?

[2017-02-28 10:38] fannyBkane commented on #688
@JMurphyWeb I did - shall  reply in this thread?

[2017-02-28 10:46] mk4111 commented on #662
@JMurphyWeb - okidokie! Can we have a quick catch up call in a bit?

[2017-02-28 10:49] JMurphyWeb commented on #657
I will put in some front end validation.

[2017-02-28 10:53] fannyBkane commented on #688
@JMurphyWeb  Great. I did, thanks!

On the explore views (organisations, challenges and insights), can you remove the **underline** on the list item only (keep underline under 'Apple'):

On the explore challenges view can you make the link 'Apple' same light grey (#89a0ae) as other text?

![challenges-mob](https://cloud.githubusercontent.com/assets/20577339/23402454/8bb75d76-fda3-11e6-8c2e-471a2a4

[2017-02-28 10:56] fannyBkane commented on #688
On the 'People' page could you apply the  email style to the phone number ![people-mob](https://cloud.githubusercontent.com/assets/20577339/23402600/2987b35c-fda4-11e6-9ecb-d2fe5e06e4c9.png)

[2017-02-28 10:59] fannyBkane commented on #688
On the profile, could you please remove the links 'Add new challenge' and 'Archived challenges'?

 ![profile-mob](https://cloud.githubusercontent.com/assets/20577339/23402685/941769ec-fda4-11e6-98f1-f65ddb093e68.png)

[2017-02-28 11:18] mk4111 commented on #634
Fixing both issues raised by @asimonw [above](https://github.com/emfoundation/ce100-app/issues/634#issuecomment-282281294) in #732

[2017-02-28 11:39] mk4111 commented on #634
Coming towards the end of my pomodoro, so updating:
- Have tried to set html to `height: 100%`, and body to `min-height: `100%` but with no effect

[2017-02-28 11:46] iteles commented on #654
@asimonw You already have our final handover document which provides you with the details you need for master access to the heroku account.

Let me know if you need anything else here!

[2017-02-28 11:51] iteles commented on #651
@asimonw Heroku is also `https` by default. This shouldn't be an issue at all in our experience - in fact, the issues arise when there is *no* SSL certificate.

Assigning this to you for testing when relevant, Alex.

[2017-02-28 11:51] mk4111 commented on #634
Going to park this issue for now - will revisit later today once I've had an external set of eyes to have a look too!

[2017-02-28 12:06] JMurphyWeb commented on #688
Thanks i'll look into these now @fannyBkane

[2017-02-28 12:19] mk4111 commented on #634
Just fixed this with a change in container padding and height + html/body height.

Need to check with other screens but this current implementation fixes the background colour issue raised.

![screenshot from 2017-02-28 12-19-25](https://cloud.githubusercontent.com/assets/13470325/23405050/2d01520c-fdb0-11e6-957e-eeee74886b9c.png)

[2017-02-28 12:23] asimonw opened #736 "Update copy on walkthrough screen"
Nothing changes to the structure, still 5 sections, of which 4 have a button linking to parts of the app. The links in the buttons should stay as they are:

**Sally, innovation begins with collaboration.**
Get connected to the people making the circular economy happen.

**Tell us about you**
Share your circular economy vision, expertise and challenges.

Button: Update profile

**Get to know the ne

[2017-02-28 12:30] JMurphyWeb commented on #688
in review now @fannyBkane

[2017-02-28 12:45] mk4111 commented on #662
@fannyBkane, seems the shadow has been added! Will confirm when we next deploy and this is ready to test again.

[2017-02-28 13:54] mk4111 opened #737 "Landing Page - down arrow icon doesn't scroll again"
We have an issue where clicking on the down arrow icon does not have the expected effect past 'Get to know the network'; i.e. does not scroll down to the next card.

[2017-02-28 13:55] mk4111 commented on #737
@JMurphyWeb - can you see if this is an issue on your phone too please? Thanks

[2017-02-28 14:14] mk4111 commented on #731
@asimonw - you're right about the position fixed. Unfortunately we can still see the landing page content as we scroll in the section where the top-navbar is.

![screenshot from 2017-02-28 14-13-53](https://cloud.githubusercontent.com/assets/13470325/23408501/2a08e636-fdc0-11e6-93bc-ac86ba522701.png)

[2017-02-28 14:19] asimonw commented on #731
@mk4111 The top bar can be fixed as well actually. That's always been the idea, but might hot have been clear. It can stay fix at the top in the same way that the bottom nav is fixed to the bottom on mobile.

[2017-02-28 14:21] mk4111 commented on #731
@asimonw - okidokie! Will make both fixed! Thank you!

[2017-02-28 15:20] fannyBkane commented on #628
Hey @JMurphyWeb just seeing that the Explore icon is grey and the other white. Can you make all of them grey or white (whatever is the easiest)? ![screen shot 2017-02-28 at 15 18 29](https://cloud.githubusercontent.com/assets/20577339/23411113/469d1f20-fdc9-11e6-8e3c-4b48cf518685.png)

[2017-02-28 15:20] fannyBkane commented on #651
@asimonw is this one for you?

[2017-02-28 15:23] mk4111 commented on #695
This is included in #732; Will be sure to update this issue once it has been merged in!

[2017-02-28 15:24] #657 closed

[2017-02-28 15:24] fannyBkane commented on #663
Hey @JMurphyWeb it looks like the body font colour has changed back to a grey, since this morning. The phone and email links are also changed back to previous colours.

[2017-02-28 15:26] fannyBkane commented on #692
Hey @JMurphyWeb can you add the arrow in the Save & add tags button?

[2017-02-28 15:26] JMurphyWeb commented on #737
my buttons work (on staging0, but the css is bad

[2017-02-28 15:31] fannyBkane commented on #699
Hey @JMurphyWeb could you up the paragraph 'landing-card__description' text size to 1.2rem, and add a max width of 400px?

[2017-02-28 15:49] JMurphyWeb commented on #663
@fannyBkane it is in review. We will add please test to relevant issue when it is merged.

[2017-02-28 15:50] mk4111 commented on #686
Hi @asimonw, is the setup on EMF's side ready for this? If so, could you please provide us with the key/links to implement this in place of the current feedback method?

[2017-02-28 16:00] asimonw commented on #686
@fannyBkane Could you please set this up and email the necessary to the ce100.emf address?

[2017-02-28 16:24] asimonw commented on #736
The updated mockup can be found [here](https://zpl.io/29JvPl)

[2017-02-28 17:35] JMurphyWeb commented on #660
var viewportHeight = window.outerHeight;

does not work nicely on ios, used `innerHeight` instead and seems to work fine.

@asimonw if testing on dev tools, remember to refresh page after switching to mobile/desktop

[2017-02-28 17:36] JMurphyWeb commented on #692
this should be in the add challenge view already.

[2017-02-28 17:36] JMurphyWeb commented on #692
(on staging)

[2017-02-28 21:05] fannyBkane commented on #688
Hey @JMurphyWeb I have noticed on staging that the text and links colour have changed back to the colours we had before you update today, was it planned at all?

[2017-03-01 07:41] JMurphyWeb commented on #662
PR #739 should change the look of the tags and put this issue into please test

[2017-03-01 08:04] JMurphyWeb commented on #736
This view has been a struggle to get right with various mobile sizes and desktop screens. Copy update should be simple, but could cause more problems than we might expect.

[2017-03-01 08:24] JMurphyWeb commented on #688
@fannyBkane it is in review

[2017-03-01 08:36] JMurphyWeb commented on #655
@asimonw Tags should be on production now.

We have another issue relating to wiping the user/org/insight data #727

[2017-03-01 09:40] asimonw commented on #628
@JMurphyWeb The explore icon actually looked better in production (until yesterday..), white and with a nice white fill for the bit in the middle. Hope that can be restored?

[2017-03-01 09:43] asimonw commented on #655
Tags look good. I'll close this one and follow up on DB in #727 👍

[2017-03-01 09:43] #655 closed

[2017-03-01 09:43] JMurphyWeb commented on #727
Thought best way to do this was wipe the current database by deploying from a branch with no data except our 1 admin user, remembering to change the reset env variables to true, then back to empty string once db has been reset.

[2017-03-01 10:25] mk4111 commented on #727
@JMurphyWeb that sounds good to me! Will we do this today?

[2017-03-01 10:28] harrygfox opened #743 "Missing Radial background pattern"
In PR #719
Something that was missing from the wireframes ([select tag-small desktop](https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=58a1aea86d53d90f4bf5e634)):
the radial background on the second bar that says "select tags".
[code]

![screen shot 2017-03-01 at 10 27 48](https://cloud.githubusercontent.com/assets/7805691/23456036/c0bfe378-fe69-11e6-87a0-67c46629305c.png)

[2017-03-01 10:33] mk4111 commented on #743
@harrygfox - thank you!!! Missed this wahhn! D:

[2017-03-01 10:55] harrygfox opened #745 "Darker Button colour "+ Challenge""
## #40667e

The colour above is used for the border and text of the add challenge button found on a profile
See:
https://app.zeplin.io/project.html#pid=589c772f8ad534321d652f04&sid=589c95d3c4ac70861db5c611

This is not reflected in the code from PR #732

![screen shot 2017-03-01 at 10 54 44](https://cloud.githubusercontent.com/assets/7805691/23456962/8b4e1a1c-fe6d-11e6-8179-a87d3fd81fd3.png)

[2017-03-01 10:58] mk4111 commented on #743
![screenshot from 2017-03-01 10-58-32](https://cloud.githubusercontent.com/assets/13470325/23457055/08dbdb7c-fe6e-11e6-9cee-a5bba1681b27.png)

[2017-03-01 11:01] asimonw commented on #736
@JMurphyWeb Looks great. There was a small typo in the third section though.. `member's` should be changed to `members`. My bad.. this had been updated in the mockup, but not in this issue.

[2017-03-01 11:08] mk4111 commented on #745
@harrygfox - you're right! I'll make a new PR to fix this after #732 is merged in! Hope that's ok!

[2017-03-01 11:37] mk4111 commented on #745
![screenshot from 2017-03-01 11-37-19](https://cloud.githubusercontent.com/assets/13470325/23458267/78c037ee-fe73-11e6-9041-0dbede90f230.png)

[2017-03-01 13:03] harrygfox opened #749 "Top Menu Clickable Areas too small"
![screen shot 2017-03-01 at 12 55 55](https://cloud.githubusercontent.com/assets/7805691/23460684/6f728380-fe7e-11e6-874e-bb604080a85b.png)

As demonstrated above the **_clickable area_** for opening the menu hidden behind the hamburger icon is only 22px _x_ 14px

Similarly the text links along from the hamburger are of a similar size (roughly 17px high). This is behaviourally inconsistent with th

[2017-03-01 17:43] #692 closed

[2017-03-01 18:02] mk4111 commented on #686
Hi @fannyBkane and @asimonw ! Received the information through email and just wanted to let you know that we'll confirm it's working as soon as we get onto that issue! Thank you!

[2017-03-01 19:58] mk4111 commented on #686
I've added the script to `default.html` but it is not working on localhost.
On [this link](https://docs.intercom.com/install-on-your-product-or-site/other-ways-to-get-started/integrate-intercom-in-a-single-page-app) it seems that their user information needs to be registered and authenticated on yourside. Please let me know if it doesn't work once we redeploy! (Will add please-test label once merg

[2017-03-02 08:20] JMurphyWeb commented on #694
Here is how i have attempted to update the error message from Joi, similar to how we have done it in other models:

[code]

I have tried a lot of different combinations but cant seem to get it to alter the error message.

Their documentation is a bit lousy: https://github.com/hapijs/joi/blob/v10.2.2/API.md

[2017-03-02 10:46] asimonw opened #756 "Add ga tracking code to app"
I've sent an email to the ce100.emf address with the ga tracking code.
Could you please add that to every page, thanks!

[2017-03-02 10:51] asimonw commented on #696
@JMurphyWeb I've updated the email for the Contact link in the Zeplin mockup. Make sure to use that one (not the ce100.emf address you guys created), thanks!

[2017-03-02 13:20] #737 closed

[2017-03-02 13:22] mk4111 commented on #745
@harrygfox - if happy, could you please close? Tank tank!

[2017-03-02 13:23] mk4111 commented on #743
@harrygfox - if :) could you please close ze issue? Thank you!

[2017-03-02 13:28] mk4111 commented on #695
Has been merged; Will be ready to review on staging shortly

[2017-03-02 14:35] asimonw commented on #688
@JMurphyWeb and @fannyBkane It starts looking great, but I don't understand what happened to all the hover states now.. I know that on mobile, the active state is more useful, but most of the beta testing will probably happen on desktop, so hover states are probably going to be more important than active states. Has this been overlooked or did you have something in mind for this @fannyBkane?

[2017-03-02 15:25] JMurphyWeb commented on #688
@asimonw sorry it wasn't clear from the accessibility wireframe what we wanted from hover states. The active states listed only.

[2017-03-02 16:14] asimonw commented on #688
Fair point @JMurphyWeb. I did ask about hover states a bit higher up the thread, but I guess it got overlooked. I'll have a chat with @fannyBkane see what we do this late in the game.

[2017-03-02 16:28] iteles commented on #688
@asimonw Given that the accessibility issue was added outside of the original scope, our view here should be to do as much as possible in the time we have within this sprint. I can definitely confirm that when estimating this issue and determining it did fit into the tail end of this sprint, we didn't include hover states.
This sprint finished on Monday and we're already running quite a bit over.

[2017-03-02 16:34] iteles commented on #688
Confirmed by @asimonw over gitter that this is out of scope 👍

[2017-03-02 17:48] JMurphyWeb opened #762 "Secondary user top nav profile icon not showing"
Secondary users cannot see the icon on the top nav in desktop view

[2017-03-03 09:07] #578 closed

[2017-03-03 09:08] #366 closed

[2017-03-03 09:35] mk4111 commented on #727
I think this is complete --> we have redeployed from branch name: [redeploy-phase2](https://github.com/emfoundation/ce100-app/tree/redeploy-phase2)

[2017-03-03 10:45] mk4111 commented on #722
Just to note - This was discussed on gitter with @asimonw, and it seems as this may be an issue isolated to iPhones, as the issue has only been reported for users of this phone. When I tested on an Android device, this issue could not be replicated. We will time estimate this issue with this point in consideration.

[2017-03-03 10:46] mk4111 commented on #327
As all the sub-issues for each of the designs now have the `please-test` label, I thought it would make sense to add it to this epic, so that we would be able to close it if/when happy :)

[2017-03-03 11:52] asimonw opened #766 "Update copy for activation and password reset emails"
I will send an email to the ce100.emf email with all the necessary details.

[2017-03-03 12:43] asimonw commented on #766
@iteles Email sent, but as explained in the email, this change can't go to production until we have the final url in place. I'll let you know in this issue when everything's in place.

[2017-03-03 12:47] asimonw commented on #686
@fannyBkane Is there still something to activate in the Intercom admin? (I think I remember something like a "show widget" setting which needs to be selected) I can see that the app is making requests to the Intercom API, but nothing is appearing.

[2017-03-03 12:48] #727 closed

[2017-03-03 12:48] #731 closed

[2017-03-03 12:52] asimonw commented on #321
@iteles We've set up our own interface to manage files on S3 for this using a CMS EMF is familiar with. Nothing left to do from your side.

[2017-03-03 12:52] #321 closed

[2017-03-03 12:52] #654 closed

[2017-03-03 14:29] fannyBkane commented on #686
@asimonw You are right - I've just activated and it works! I will customise the colours and message through the Intercom app. @mk4111 Thank you it all seems to work!

[2017-03-03 15:00] asimonw commented on #686
@mk4111 It's working now, thanks! The old feedback button is still there though.. could you please remove that before closing this issue please?

[2017-03-03 15:03] #268 closed

[2017-03-03 15:28] asimonw opened #767 "Asymmetric border radius effect for logo on org profile on desktop"
This seems to be because of the padding directly applied to the img element. You can achieve the same effect by adding margin-right, which solves the issue. The issue only occurs on desktop

<img width="234" alt="screen shot 2017-03-03 at 15 24 32" src="https://cloud.githubusercontent.com/assets/15235804/23556831/dadeb078-0025-11e7-8c3b-e3c9b96207a5.png">

[2017-03-03 16:37] #628 closed

[2017-03-03 16:39] fannyBkane commented on #327
Hey @mk4111 it all looks good, just wondering if we could center and add a max width to the form as see on this mockup https://zpl.io/u0QgI

[2017-03-03 16:40] #659 closed

[2017-03-03 16:42] fannyBkane commented on #659
@asimonw fine to close :)

[2017-03-03 16:50] #762 closed

[2017-03-03 16:52] #745 closed

[2017-03-03 16:55] #736 closed

[2017-03-03 17:32] #720 closed

[2017-03-03 17:36] #704 closed

[2017-03-03 17:36] fannyBkane commented on #660
@JMurphyWeb could give the same button class as on the login page? Other than that, it's fine to close @asimonw

[2017-03-03 17:37] fannyBkane commented on #661
@asimonw ok to close.

[2017-03-03 17:38] fannyBkane commented on #662
Ok to close.

[2017-03-03 17:41] #661 closed

[2017-03-03 17:42] #662 closed

[2017-03-03 17:42] fannyBkane commented on #663
@asimonw fine to close

[2017-03-03 17:43] #696 closed

[2017-03-03 17:47] fannyBkane commented on #664
@asimonw fine to close.

[2017-03-03 17:48] #663 closed

[2017-03-03 17:49] asimonw commented on #688
We'll pick this up again in a coming sprint.

[2017-03-03 17:50] #664 closed

[2017-03-03 17:51] fannyBkane commented on #690
@asimonw ok to close.

[2017-03-03 17:52] fannyBkane commented on #693
@asimonw fine to close.

[2017-03-03 17:53] fannyBkane commented on #694
@asimonw ok to close.

[2017-03-03 17:53] #690 closed

[2017-03-03 17:53] #693 closed

[2017-03-03 17:54] #694 closed

[2017-03-03 17:55] fannyBkane commented on #702
@asimonw OK to close.

[2017-03-03 17:57] fannyBkane commented on #703
@asimonw ok to close.

[2017-03-03 17:58] fannyBkane commented on #743
@asimonw ok to close the issue.

[2017-03-03 17:58] #702 closed

[2017-03-03 17:58] #703 closed

[2017-03-03 18:15] fannyBkane commented on #700
Hey @mk4111 is there a reason why the challenges links are a lighter grey on desktop (by default they should be the same colour as text)?
![screen shot 2017-03-03 at 18 14 43](https://cloud.githubusercontent.com/assets/20577339/23563164/65e363e6-003d-11e7-886f-2bf15a8d127d.png)

@asimonw That is something that can be addressed at a later stage, happy to close for now.

[2017-03-03 18:19] fannyBkane commented on #695
@mk4111 I am concerned with the legibility of the blue text on the blue background at the top.

Would be great to change to the colour as seen on here: https://zpl.io/u0QgI

@asimonw otherwise it is fine to close.

[2017-03-03 18:26] #699 closed

[2017-03-05 15:23] JMurphyWeb commented on #766
@asimonw this just requires a change in environment variables so we can get new copy in now.

[2017-03-06 09:52] asimonw commented on #766
@JMurphyWeb That would be great, thanks! Should get the SSL working today I hope, so we can update that env variable soon.

[2017-03-06 10:09] asimonw commented on #651
@iteles There is one issue left for this one though. Connecting over https is now working, but when a  request comes in over http, it is not redirected to https.

The solution seems to be the top answer here: http://stackoverflow.com/questions/7185074/heroku-nodejs-http-to-https-ssl-forced-redirect

Would you be able to implement that? Then this item can be closed.

[2017-03-06 10:10] asimonw commented on #766
@JMurphyWeb The SSL is now working so it should be fine to update the env var as well. Make sure to use https. There is one issue though, but we should deal with that in #651

[2017-03-06 10:12] asimonw commented on #653
Thanks @iteles that's in place now.

[2017-03-06 10:12] #653 closed

[2017-03-06 11:06] JMurphyWeb commented on #327
[code]

[2017-03-06 11:13] JMurphyWeb commented on #684
After a discussion with @mk4111 we estimate this to be a 1 day task as there are a fair number of unknowns and there is no current system in place.

[2017-03-06 11:19] iteles commented on #651
@JMurphyWeb This is an implementation of the code snippet you have above. @SimonLab is happy to do this if you prefer?

[2017-03-06 12:46] asimonw commented on #651
@iteles I see this as part of "making SSL work" because without a redirect https is pretty useless (no-one actually ever types that in their browser), but other things have been added to the sprint at quite a late time, so it's only fair to compensate for that. So, happy to see this as an addition!

[2017-03-06 13:10] JMurphyWeb opened #770 "Feedback widget sits on top of bottom nav"
in mobile view, the feedback widget blocks the bottom nav:
<img width="190" alt="screen shot 2017-03-06 at 15 08 38" src="https://cloud.githubusercontent.com/assets/12638261/23611220/e22ba2a4-027e-11e7-9e01-aa8f8ac549b3.png">

adding some styling to the following id:
`id="intercom-container-body"`
something like:
`transform: translate(2rem, 2rem);`

[2017-03-06 13:11] JMurphyWeb commented on #770
@iteles not sure where to put this issue.

[2017-03-06 13:18] JMurphyWeb commented on #722
@asimonw I am also unable to re-create this issue (on ios as well). Could we ask that you check if you are still seeing this problem?

[2017-03-06 13:27] JMurphyWeb commented on #651
I will look into now and ask Simon if I get stuck.

[2017-03-06 13:52] asimonw commented on #770
@JMurphyWeb Thanks for logging this. We've noticed it and @fannyBkane will look into whether the plugin has some config option to position the widget.

If not, we'll need to either remove the widget or revisit the design, none of which would be something you need to look at for this sprint.

[2017-03-06 13:54] JMurphyWeb commented on #770
transform: translate(1rem, -3rem);****

[2017-03-06 13:54] JMurphyWeb commented on #770
@mk4111 this should do it

[2017-03-06 13:55] asimonw commented on #770
@JMurphyWeb You mean you're manipulating the widget positioning on your end? If that solves it, great!

[2017-03-06 13:56] JMurphyWeb commented on #770
yeah it looks ok
 👍

[2017-03-06 14:03] asimonw commented on #651
@iteles and @JMurphyWeb This one is actually higher priority than the things remaining in the sprint 5 milestone. Happy to move this to another milestone, but we need to be flexible about priorities.

[2017-03-06 14:04] mk4111 commented on #770
@JMurphyWeb - seems that even when the above is added to main.css, it's overridden by the settings set by Intercom. Might not be a fix that's as straightforward as we originally thought...

[2017-03-06 14:19] asimonw commented on #722
@JMurphyWeb Just tried again and I also don't have the issue anymore. I would attribute it to a browser glitch, but @fannyBkane had exactly the same problem. @fannyBkane could you log in as admin on staging, press the "Add" button and see if the app still freezes on your iPhone?

[2017-03-06 14:24] fannyBkane commented on #722
@JMurphyWeb @asimonw It works for me now :)

[2017-03-06 14:28] asimonw commented on #722
One option: connection issue at the office, affecting us both. Potentially JS not fully loaded..

In any case, @JMurphyWeb looks like we can park this one! I'll keep it open for now, close it if it doesn't re-appear in production. Removing it from the milestone.

[2017-03-06 14:58] JMurphyWeb commented on #722
@asimonw it relies on css only so shouldn't be a js problem (although could be to do with something else js related)
Ok, fingers crossed 🤞

[2017-03-06 15:08] JMurphyWeb commented on #766
env var updated. just need to redeploy.

[2017-03-06 17:26] JMurphyWeb commented on #651
https://github.com/hapijs/hapi/issues/778

I had a read of the above issue.

[2017-03-06 22:25] SimonLab commented on #770
The position of the icon is better with the merged PR #773, however now the intercom box seems smaller (which might not be an issue):
![small-intercom](https://cloud.githubusercontent.com/assets/6057298/23632796/2e706dd4-02bb-11e7-8d74-2f59412f89e8.png)

But now the chat box popup doesn't show properly on mobile (android), just a light shadow appears but nothing else.

We can rollback the last PR

[2017-03-07 09:31] mk4111 commented on #770
@SimonLab; I'm seeing exactly the same thing.
Mobile (Android; Chrome) - not working.
Desktop view - working.

[2017-03-07 09:49] asimonw commented on #770
@mk4111 We can look into attaching Intercom to a custom element in the app. Here's an outline of how to do it https://docs.intercom.com/configure-intercom-for-your-product-or-site/customize-the-intercom-messenger/customize-the-intercom-messenger-technical

We'll need to revisit this for a later sprint, because it might require @fannyBkane to design a custom button. This is also an opportunity to m

[2017-03-07 10:07] mk4111 commented on #766
@JMurphyWeb - is this a `please-test` too then?

[2017-03-07 11:47] #686 closed

[2017-03-07 11:49] #767 closed

[2017-03-07 11:50] #660 closed

[2017-03-07 11:52] asimonw commented on #652
@mk4111 I can't really test this. I prefer to keep it open and remove it from the milestone. Is that ok?

[2017-03-07 11:52] #651 closed

[2017-03-07 11:54] #756 closed

[2017-03-07 11:55] #656 closed

[2017-03-07 12:07] asimonw opened #778 "Link missing at the top of /insights/add"
Could the link to where to upload assets please point to http://dev.ce100.org/admin ?
Also make sure that the page opens in a new tab.

[2017-03-07 12:09] asimonw opened #779 "Add three more resource types"
Could we please add the following Types on /insights/add:
* CO.PROJECT
* IMAGE
* LINK

I hope that this can be done without affecting existing records. Note the dot in "CO.PROJECT"; this is not a typo.

[2017-03-07 12:14] asimonw opened #780 "Add publication date to insights"
A new **optional** field should be added to /insights/add with name `Publication Date`.

[2017-03-07 12:17] fannyBkane commented on #327
Ace @JMurphyWeb

@asimonw fine to close.

[2017-03-07 12:20] SimonLab commented on #780
Just to clarify the publication date is the date when the author of the insight created the document (or other type of insights) or is it the date when a user of the application create the insight itself? I guess the first one?

[2017-03-07 12:53] asimonw commented on #766
@JMurphyWeb I know there's no please test label yet, but I just noticed that the new copy is there, but the email still comes from the ce100.emf address. Could that be changed to our ce100 address please? Same one as in the body of the text. Thanks!

[2017-03-07 13:11] #327 closed

[2017-03-07 13:13] asimonw commented on #780
@SimonLab No, it's the date when the document was written by the author. This is important to indicate relevance. But nothing to worry about now. I created the issue to make sure we add it in a later sprint.

[2017-03-07 16:46] mk4111 commented on #766
Hi @asimonw - I've just added the said email to the list of 'verified emails'; there should be an email from AWS SES requesting confirmation of this. Could you please check and confirm? Once that's done, I'll test locally and will push up upon checking it's successful!

[2017-03-07 16:53] asimonw commented on #766
@mk4111 Thanks, I'll check. When you make the change, could you also change the titles of both emails as per instruction in the email I sent with the copy?

[2017-03-07 17:53] asimonw opened #781 "When creating/editing an insight, sometimes clicking on add/edit tags returns a 500"
It seems to happen when using a long title, but not consistently, so it's hard to say for sure what's causing it.

Sometimes before the app crashes, it takes up to half a minute to return the 500 page.

[2017-03-07 18:48] SimonLab commented on #781
Thanks for spotting that @asimonw . I think you are right this is due to the length of the title see https://github.com/postgres-plugin/insights/blob/master/lib/fixtures/create-tables.sql#L4 . The type of the title should be TEXT.
If you are testing on the staging, the app needs a bit of time to start the dyno on heroku that might be why it take a bit of time.

The quickest solution is to manually

[2017-03-08 10:13] asimonw commented on #781
@SimonLab Thanks for looking into this. I'm aware of the "sleep time" of free dynos, but this was after the dyno had "woken up" and the flow was smooth and quick until right before it crashed. It looks like your suggestion might solve both issues though.

[2017-03-09 09:45] JMurphyWeb commented on #781
We could look into adding db validation layer that flags any failure

[2017-03-09 09:54] JMurphyWeb commented on #781
${COMMENT}

[2017-03-09 10:01] JMurphyWeb commented on #781
What do you think @simonLab?

[2017-03-09 10:06] JMurphyWeb commented on #781
What do you think @simonLab?

[2017-03-09 12:11] iteles commented on #652
@asimonw I'll remove it now!

[2017-03-09 20:53] SimonLab commented on #781
@JMurphyWeb I'm not sure we want to limit the length on the title of the insight as it should be able to be long enough.
@asimonw I've just change the type from varchar to text so it should work now.

[2017-03-10 14:35] asimonw commented on #781
@SimonLab What's the maximum allowed length? It worked with a 100 char string, but not with a 200 char string. Also, after I get the 500 error screen, the app seems to break quite badly. After the "time out" I described before, I see the screen:
<img width="475" alt="screen shot 2017-03-10 at 14 23 41" src="https://cloud.githubusercontent.com/assets/15235804/23798857/4bc584b0-059e-11e7-8567-9d76aa

[2017-03-10 15:09] SimonLab commented on #781
Thanks for testing. There shouldn't be any limit as the type of the title is "TEXT" in the database. I will do more tests and check the logs. I will also check the application timeout and try to reproduce it, I'm wondering if your internet connection might produce the error if it's too slow (but I don't think it should)

[2017-03-10 15:30] SimonLab commented on #781
I just saw that the database has been reset on the staging with the old type for title, as soon as https://github.com/postgres-plugin/insights/pull/22 is merged the database will have the right type, sorry for the delay it will be a quick fix

[2017-03-13 14:49] asimonw commented on #781
@SimonLab Just to make sure, changing the type of the field can be done without actually erasing the content, right?

[2017-03-13 16:44] asimonw opened #784 "Saving the vision field of an org profile with a lot of text returns a 500"
Exactly the same problem as for the insight title field. See #781.

[2017-03-13 16:46] asimonw commented on #784
@SimonLab I'm assuming that this is the problem as for #781 so hopefully this is a quick fix as well?

[2017-03-14 10:38] asimonw commented on #784
👍

[2017-03-14 10:38] #784 closed

[2017-03-15 08:56] mk4111 commented on #652
Thanks @iteles !

[2017-05-08 15:29] asimonw opened #786 "Organisation profile titles should not automatically be title-cased"
Automatic title-casing doesn't work for a lot of organisation names, so this needs to be removed. The correct casing will be determined manually on a case by case basis.

[2017-05-08 15:45] asimonw opened #787 "Altered flow for new users"
When users log in, after creating a new password, they are guided through a different flow, asking them to populate their profile first.

To be determined (input from dwyl appreciated): should we do this alternate flow only on very first log in or as long as profile is not populated. UPDATE: this flow applies to all primary users who have not yet filled out a mission statement.

Copy for the messa

[2017-05-08 15:55] asimonw opened #788 "Improved tagging selection flow"
This applies to creating/editing organisations/challenges.

Rather than having a two step process, where the user first adds/edits other content to an org profile or challenge and then clicks next to add tags, the tag selection will be more integrated.

The existing (if any) tags are shown in the edit form with a "Add/Edit tags" button below them. Clicking on that button opens up the tag selection

[2017-05-08 15:57] asimonw opened #789 "Improved tag selection flow"
This applies to creating/editing organisations/challenges.

Rather than having a two step process, where the user first adds/edits other content to an org profile or challenge and then clicks next to add tags, the tag selection will be more integrated.

The currently selected (if any) tags are shown in the edit form with a "Add/Edit tags" button below them. Clicking on that button opens up the tag

[2017-05-09 10:00] asimonw opened #790 "After creating or editing a challenge, the user should be directed to the challenge view"
Currently, after creating/editing a challenge, the user is taken to the org profile. This means that the user does not see the details of what was created/edited. Instead, we should direct the user to the challenge card that was just created or updated.

[2017-05-09 10:03] asimonw opened #791 "Desktop walkthrough page redesign"
Instead of having a long scrolling page, we would like to show all the different options at a glance, above the fold for a typical laptop/desktop browser ratio if possible.

Mockup to be added.

[2017-05-09 10:17] asimonw opened #792 "Change profile and burger icons"
The icon used for the Profile item in the navigation will be replaced. The burger icon will be changed to an icon which reflects better that it offers _more_ options, not the full navigation.

New icons to be shared.

[2017-05-09 10:32] asimonw opened #793 "Explore view: update to filter and tab design"
The functionality of the tag filter and different tabs in the Explore view is not sufficiently clear. The visual design will be improved.

Mockup to be shared.

[2017-05-09 10:53] asimonw opened #794 "Improve accessibility for information messages and other elements"
The current light blue over lighter blue contrast of some information messages is not strong enough.
The edit icon doesn't stand out enough.

- [x] Change body text and headers to grey #333
- [x] Change blue #66D9E0 to grey #40667E
- [x] Change grey #89A0AE to #40667E across the app:
- [x] Change edit icon colour to #40667E
- [x] Change select tag/parent tag colour to #40667E https://zpl.io/Z1QNlv

[2017-05-09 11:05] asimonw commented on #788
Apparently, I created this issue twice..

[2017-05-09 11:05] #788 closed

[2017-05-09 16:19] fannyBkane commented on #789
[
![screen shot 2017-05-09 at 17 18 28](https://cloud.githubusercontent.com/assets/20577339/25861076/94393676-34db-11e7-9e11-57555a3d7439.png)
](url)

[2017-05-09 16:21] fannyBkane commented on #793
![screen shot 2017-05-09 at 17 20 51](https://cloud.githubusercontent.com/assets/20577339/25861212/ea4a74bc-34db-11e7-807b-5942a1871431.png)

[2017-05-09 16:43] fannyBkane commented on #793
Mobile: https://zpl.io/ZyEJOe
Desktop: https://zpl.io/1Lvnx1

[2017-05-09 16:45] fannyBkane commented on #789
Form/mobile: https://zpl.io/W62Dw
Modal/mobile: https://zpl.io/222375

[2017-05-10 12:50] fannyBkane commented on #792
2 x options:

![screen shot 2017-05-10 at 13 50 00](https://cloud.githubusercontent.com/assets/20577339/25899414/a797d338-3587-11e7-808c-e54a51b34923.png)

[2017-05-10 12:51] fannyBkane commented on #791
Desktop: https://zpl.io/5aRSX

[2017-05-11 13:26] asimonw opened #795 "Update CE100 logo on login screen"
Logo to be shared.

[2017-05-11 13:32] asimonw opened #796 "Copy changes"
Here we'll collect some copy changes on profile forms and challenge forms and cards.

Org profile (public view):
- [x] Remove "OUR" from "OUR CIRCULAR ECONOMY VISION"
- [x] Add title: "EXPERTISE" above the tags (style can be the same as "CIRCULAR ECONOMY VISION")
- [x] If no challenges have been shared on an organisation’s profile yet:
**No challenges shared yet.**
- [x] If (in rare instances) no

[2017-05-11 13:42] asimonw opened #797 "Add hover states"
Details to be added

[2017-05-11 15:15] fannyBkane commented on #794
- Change body text and headers to grey #333
- Change blue #66D9E0 to grey #40667E

![screen shot 2017-05-11 at 11 09 38](https://cloud.githubusercontent.com/assets/20577339/25944208/60e353c8-363a-11e7-8fd9-744b2f7ae63c.png)
- Change grey #89A0AE to #40667E across the app:
   - Change edit icon colour to #40667E
https://staging-ce100-emf.herokuapp.com/orgs/1
![screen shot 2017-05-11 at 11 29 08](ht

[2017-05-11 15:23] fannyBkane commented on #792
![screen shot 2017-05-11 at 16 22 40](https://cloud.githubusercontent.com/assets/20577339/25957383/1b494c38-3666-11e7-8cce-88f5f71dcd93.png)

[2017-05-11 15:23] fannyBkane commented on #792
Icons sent to gmail address :)

[2017-05-11 15:44] fannyBkane commented on #797
Hover states are 10 % darker value on links and buttons across the site.

Except for: nav links and tabs links on the 'explore' screen, which has a different hover state:
a 10% darker overlay, and the active state is the same as hover but less the overlay
https://zpl.io/gFBqs

[2017-05-12 15:39] asimonw commented on #787
Flow: Log in screen -> Edit Profile -> (on save) Profile
                                                         -> (on cancel) Walkthrough screen

[2017-05-15 08:16] asimonw opened #798 "Pending state for users"
After a user has been sent an account activation email, but before they have activated their account, the state of the user should be pending (rather than already active). This should be indicated by an amber dot next to their name in the admin interface. This will allow the admin to know whether the user has successfully activated their account or not.

As long as a user is still pending (or inac

[2017-05-15 08:21] asimonw opened #799 "Resend activation email for pending users"
An admin should be able to resend the activation email for a pending user.

This could be done by adding a checkbox with label "Resend activation email on save" at the bottom of the user edit screen. This would be unchecked by default. On user creation, the checkbox should preferably not be there, or be checked by default if necessary.

Alternatively, we could enable the admin to copy the activati

[2017-05-15 11:57] sohilpandya commented on #786
This is currently being done in the front-end with CSS classes. We will have to rummage through all the classes and views where this is being applied and make the changes accordingly.
a. either remove the class entirely
b. modify class if it capitalizes the first character.

[2017-05-15 11:59] SimonLab commented on #779
At the moment there are two places that need an update:
- the frontend dropdown needs to get a new value this can be done in the helper file [here](https://github.com/emfoundation/ce100-app/blob/b9bafae1c449f3593f607bb6b1e687060350e3f7/server/handlers/helpers.js#L7)

- The constraint apply on the datbase needs to be updated on the insight plugin see [here](https://github.com/postgres-plugin/insigh

[2017-05-15 12:10] SimonLab commented on #789
Main steps:
- When the new tags are saved we need to save the tags state on the frontend with cookiee/seesion/localstorage
- redirect to the edit page and display the new selected tags on the view based on the cookie
- on save we need first to save the tags then to save the organisation details
- on cancel we don't save anything and redirect to the previous page

We need to choose the right struct

[2017-05-15 12:18] SimonLab commented on #790
This should be just a redirection.

[2017-05-15 13:15] asimonw commented on #789
@SimonLab Are you trying to avoid rendering the tag selection screen in the browser? I think that won't work if it's a modal on desktop.

[2017-05-15 13:38] SimonLab commented on #787
We need to determine which fields need to be provided to determine the flow of the primary user. At the moment I think only the name of the organisation is required, which other fields will need to be required?
- [ ] name of the organisation
- [ ] logo
- [ ] Organisation's mission statement
- [ ] a minimum number of tags

@asimonw do you have an idea about these required fields?

[2017-05-15 13:41] sohilpandya commented on #793
The flow remains the same, the changes being made will be from the design perspective.

[2017-05-15 13:43] SimonLab commented on #791
For the mobile view the card will go under each other

[2017-05-15 13:51] asimonw commented on #787
@SimonLab The name of the org is required, but will already be provided by the admin before the primary user logs in for the first time.

The only additional required field should be the mission statement. Only check that one to determine the primary user flow when logging in.

[2017-05-15 13:52] SimonLab commented on #798
At the moment the status of the user is define in the database with a Boolean value on the "active" field
[code]
We need to
- update the table with a more detail field, "status"?
- update the logic when a user is created to put the status to "pending"
- update the logic when a user login for the first time to put the status to "active"
- update the logic when an admin define the user "inactive"

[2017-05-15 13:59] SimonLab commented on #799
With this flow, the admin will have to go to the edit user page, check the the checkbox and save the page to resend an email. Is the checkbox unchecked automatically after these steps?

Instead of going to the edit user page, could we have a button "resend" for pending user on the on the list of user page?

[2017-05-15 14:03] SimonLab opened #800 "Update dependencies"
![image](https://cloud.githubusercontent.com/assets/6057298/26061355/a36eb104-397f-11e7-928e-dc10fad4feed.png)

We need to check that the new packages version won't break any features of the application

[2017-05-15 14:06] asimonw commented on #799
@SimonLab A button would also work if that avoids having to worry about that state of that checkbox. Or a link, styled similarly to the "Disable user" at the bottom of the edit user screen. @fannyBkane what do you think?

[2017-05-15 14:15] sohilpandya opened #801 "Improved tag selection flow design implementation - design"
Related to #789

Once we are saving the state for the tags locally (cookie, local storage or session storage), we need to implement the designs for both the mobile and desktop view.

Form/mobile: https://zpl.io/W62Dw
Explore/modal/mobile: https://zpl.io/222375

Form/modal/desktop: https://zpl.io/Z6ml4L
Explore/modal/desktop: https://zpl.io/Z1QNlvL

- Render `/orgs/11/edit` with a hidden section th

[2017-05-15 14:40] fannyBkane commented on #799
@SimonLab can you add a link like @asimonw  suggested? If it doesn't stand out enough we will change it to a button. Cheers.

[2017-05-15 14:45] sohilpandya commented on #801
@asimonw just wanted to check what devices does this need to be compatible with as we'll be using some javascript on the front end and as far as I'm aware there isn't any front-end javascript being used in the app at this moment in time.

We'll potentially have to use JavaScript for the **modal** as well as the **local storage**.

[2017-05-15 15:41] asimonw commented on #801
@sohilpandya You can assume ES5 compatibility, but we would still like to support browsers like IE9, so no ES6/2015 features and beyond (unless you transpile of course). Using localStorage should be fine. Are there any other HTML5 API's you'd consider using?

[2017-05-15 15:49] sohilpandya commented on #801
@asimonw I think that's all for now, just wanted to make sure everyone was on the same page and aware of it 👍, we are very likely to keep the javascript to ES5 for the front-end.

Will be doing a spike to figure out the best possible way to tackle this.

[2017-05-15 16:34] SimonLab commented on #800
Unfortunately updating the dependencies, break our tests:
![image](https://cloud.githubusercontent.com/assets/6057298/26068167/826dbc88-3994-11e7-9053-8e12d3f06ce0.png)

This seems to be linked to tests related to admin. Instead of being redirected to the right page the tests are blocking the user with an unauthorised code 401. Need to investigate which package has some breaking changes.

[2017-05-15 22:02] SimonLab commented on #800
Joi makes the app break with the version 10.4.2. Checking for any breaking changes on the documentation.

[2017-05-16 08:40] asimonw commented on #794
Added checklist of all items mentioned by @fannyBkane to the top comment.

[2017-05-16 09:20] sohilpandya opened #806 "Access to Zeplin"
Hi @fannyBkane, @asimonw & @iteles

would it be possible to get access to the designs in zeppelin? both for @harrygfox & myself. 😄

Our details:
- `sohilpandya{at}me.com`
- `harry{at}dwyl.io`

Thanks

[2017-05-16 09:29] SimonLab commented on #800
resolved with #805 the badges will be updated soon

[2017-05-16 09:35] fannyBkane commented on #806
Hey @sohilpandya I need your email, as it's the first time I invite you...

[2017-05-16 09:59] SimonLab commented on #789
sorry @asimonw I'm not sure I understand your previous comment and my previous comment wasn't clear also. We had a bit more thought and will had more detail of the implementation. The idea is to reuse as much as possible of the existing code and logic to avoid recreating everything from scratch

- [ ] When a user edit or create a new organisation/challenge we are storing in localstorage the values

[2017-05-16 09:59] sohilpandya opened #807 "create local storage for initial tags stage"
When the user adds/edits an organization or challenge we store the existing tags on local storage.

rough format:
[code]

Related to #789

[2017-05-16 10:04] sohilpandya opened #808 "Merge adding/editing organization/challenges view with adding tags view"
At this current moment adding/editing of organization and challenges is one view and adding of tags is another.

We need to:
- combine these pages together
- hide the tags section at first
- on click of `edit-tags` show the tags view
- on save of the new tags either hide or redirect the user to the original view.
- also, save the new tags to the DB.

Related to #789

[2017-05-16 12:53] asimonw commented on #789
@SimonLab This doesn't fully correspond to the requirements, though. The tag selection screen doesn't have a "Save" option, only "Select" or "Cancel". When clicking "Select" the data should not yet be saved to the database. The data should only be persisted once the user clicks "Save" on the org/challenge form. Note that the user can still cancel the whole action even after "selecting tags". In ot

[2017-05-16 12:56] asimonw commented on #789
Also, you might not need localStorage. Just saving the state as a JS object in memory would be fine, no? What would be the reason for keeping that data around once the user has submitted the form?

[2017-05-16 13:40] SimonLab commented on #789
@asimonw thanks for your comments. you have some good points and your logic was the one I had in mind at the begining.

We are saving the tags on "select" as at the moment it is the easier and quicker to implement the flow. The final logic will however be the one describe on your top comment. If the user cancel the whole action we will reset the tags in the database to the initial state.
This way

[2017-05-16 13:49] SimonLab commented on #789
@asimonw saving tags on select will be an issue if the user change the url manually, this means that we have saved the tags in the database even if the user hasn't click on the "save" button. So you are right and we are going to refactor to only save when the user click on the save. Thanks for your comments :+1:

[2017-05-16 14:09] sohilpandya commented on #792
@fannyBkane Thanks for sending those over, I've had a look at them and it looks like they are black by default. Do you usually send the different colored SVGs? So, in this case, send the one with a default of white?

[2017-05-16 14:19] fannyBkane commented on #792
Hey Sohil,

I would usually send only the black (or so I try). Do you still need the
white, and should I send both black and white in the future?

*Fanny Breteau*
Designer ~ Digital Team

t: +44 (0) 1983 296 463
e: fanny.breteau@ellenmacarthurfoundation.org
<scs@ellenmacarthurfoundation.org>

<http://ellenmacarthurfoundation.org>

On 16 May 2017 at 15:09, Sohil Pandya <notifications@github.com> wr

[2017-05-16 15:40] sohilpandya commented on #792
@fannyBkane thanks for getting back, no need to send the white version just wanted to know what the process has been in the past. 😄

I had one more question, would you like the profile icon to change on mobile as well or just change the hamburger menu on mobile and leave profile as is?

Currently it is set to this:
<img width="433" alt="screen shot 2017-05-16 at 16 38 46" src="https://cloud.github

[2017-05-16 15:42] fannyBkane commented on #792
@sohilpandya We'd like the profile icon to change on  both mobile and desktop, cheers :)

[2017-05-16 15:43] asimonw commented on #766
@iteles I tested this again and it was all in place, actually. Closing the issue.

[2017-05-16 15:43] #766 closed

[2017-05-16 15:48] #779 closed

[2017-05-16 15:49] #786 closed

[2017-05-16 15:50] asimonw commented on #800
@SimonLab I'm assuming that this is not for me to test?

[2017-05-16 16:08] asimonw commented on #790
@sohilpandya The redirect works, but after landing on the challenge card after saving, I wanted to go back to the org profile view by clicking on the top right cross icon. This sent me back to the tag selection screen (the previous screen), instead of the org profile.

Could the cross on a challenge card always take the user to their org profile. This is the current behaviour on the live app. Than

[2017-05-16 17:34] SimonLab commented on #800
![image](https://cloud.githubusercontent.com/assets/6057298/26119730/29538eca-3a66-11e7-94ad-2628a4f397eb.png)

The devdepencies hasn't been updated yet but it is ok now if you check https://david-dm.org/emfoundation/ce100-app?type=dev

![image](https://cloud.githubusercontent.com/assets/6057298/26119762/56b24190-3a66-11e7-94dc-6b2de53768dd.png)

[2017-05-16 17:34] #800 closed

[2017-05-16 17:35] SimonLab commented on #807
closing this issue as we don't use localStorage anymore. We are just using js to store the state, thanks @asimonw for the tip :wink:

[2017-05-16 17:35] #807 closed

[2017-05-17 09:31] SimonLab commented on #790
@asimonw the cancel button should now redirect to the org profile page now

[2017-05-17 09:57] sohilpandya commented on #806
Hi @fannyBkane I've updated the original issue with the email details :)

[2017-05-17 10:25] fannyBkane commented on #806
Hey @sohilpandya I've just sent an invite :)

[2017-05-17 10:48] harrygfox commented on #806
Got it, thank you @fannyBkane ! 👍

[2017-05-17 11:07] SimonLab commented on #789
next steps for implementing the javascript state (exemple with challenge edit page):

on edit challenge load page event (ex: challenges/3/edit)
- [ ] save in js variable the list of the current selected categories and tags

On "edit tags" click event
- [ ] select the categories based on the current state of the categories (uncheck to reset + check the  selected categories)
- [ ] select the tags ba

[2017-05-17 14:42] SimonLab commented on #806
people can access Zeplin :tada:  closing

[2017-05-17 14:42] #806 closed

[2017-05-17 15:30] SimonLab commented on #792
@harrygfox sorry I miss a small issue with the profile logo on the organistion list:
![image](https://cloud.githubusercontent.com/assets/6057298/26162246/1f0183a6-3b1e-11e7-99bd-347b680d1303.png)

Is it possible to get a round icon?

[2017-05-17 16:44] harrygfox commented on #797
@SimonLab @sohilpandya  The hover states require the UI to be able to distinguish between the apps roots: it needs to know when it's on `/orgs` and apply the correct CSS modifier class to the right element.
In other partials this has been done with handlebars logic, but I don't know how to do it for this app.
The relevant class (which is already in main.css at line 1472) is `navbar-top__item--acti

[2017-05-17 22:09] SimonLab commented on #789
@asimonw from your top comment "This applies to creating/editing organisations/challenges."
Do we also want the same modal tag view and flow for the insights?

[2017-05-18 08:58] SimonLab opened #815 "tag selection flow for organistion"
based on #789

The selection of tags for the organisation should use the new modal view.
- [x] Add modal javascript for add and edit view
- [x] Update Joi validation to accept "tags" payload on post request on add and edit org
- [x] Update the handler of add and edit to allow them to save the tags directly into the database

[2017-05-18 08:59] asimonw commented on #789
@SimonLab I would definitely want to consider it. The flow shouldn't change in the explore view (after selecting a tag, you see the filtered list of orgs, challenges or insights), but on desktop we could use a modal to keep the look and feel of tag selection consistent throughout the app.

On mobile, this should have no effect on the ux. Only on desktop, the tag selection screen could be a modal r

[2017-05-18 10:01] sohilpandya opened #816 "Update usage of `document.querySelector`"
As mentioned in the PR #814, it would be good to be consistent across the front-end JavaScript and use just `document.querySelector` instead of a mixture between `getElementById`, `getElementsByClassname` and `querySelector`

[2017-05-18 10:06] SimonLab opened #817 "Frontend test for modal tag view"
The selection of tags is now relying on javascript with #789 . We have some backend test which verify that the payload contains the tags and that they are saved in the database but it would be nice to add front end tests with [nightmare](https://github.com/segmentio/nightmare) for example.
@asimonw could you prioritise this issue? Thanks

[2017-05-18 10:44] iteles opened #818 "New tag editing flow for Insights creation"
As an EMF admin, I would like to have the same tag selection and editing workflow ( #789 ) for Insights creation so that I have the same workflow as our application's users.

@asimonw You mentioned this was a priority 3 and would be at the very bottom of sprint 6 in case we have time to get to it. Can you please confirm?

[2017-05-18 11:01] harrygfox commented on #792
@SimonLab I believe the issue you have raised has been resolved

[2017-05-18 11:18] asimonw commented on #818
@iteles Priority added and placed towards the bottom of the sprint 6 milestone.

[2017-05-18 11:20] asimonw commented on #817
@SimonLab Priority added and position in sprint 6 milestone verified.

[2017-05-18 11:34] harrygfox commented on #792
@SimonLab Realised the short-sighted nature of my changes - there is now support for a regular icon when the organisation does not have one of their own, as well as a non-regular icon for when a custom logo has been uploaded

[2017-05-18 11:37] sohilpandya commented on #789
@fannyBkane the screenshot that you've uploaded above for `edit-profile-mobile-copy` is not in zeppelin, I wanted to update the `edit tags` button but have no reference to it.

It would be great to get access to that file as well.

Thanks 😊

[2017-05-18 12:02] SimonLab commented on #815
The redirect is different for an admin or a primary user as only the admin as the right to change the logo. The redirection needs to be checked on logoSaver.submitForm function

[2017-05-18 13:06] fannyBkane commented on #789
Hey @sohilpandya  my bad. Here are the links:

Form/Edit profile/mobile: https://zpl.io/W62Dw
Form/Edit profile/mobile: https://zpl.io/222375

[2017-05-18 14:18] harrygfox commented on #791
@SimonLab Completing this will require a slight change in handlebars templating. Right now each section of the 'walkthrough' (landing page) is one `landing-card` which pulls its text from the database.
Now we need the landing-cards to be separate from the top card which says Welcome etc.
Would you be able to help / take this on?

[2017-05-18 15:20] SimonLab commented on #797
@harrygfox this should be fixed now. I've added some state on the backend which allow use to determine which page type has been loaded ("explore" "add challenge" "profile" or "add").
@harrygfox @sohilpandya @Jbarget could  you check the PR linked to this issue, thanks #813

[2017-05-18 15:25] Jbarget opened #824 "Full screen options behviour"
Heya gang, just some clicking around and wondered if this was desired behaviour:

1. click on "+ Add"

![screen shot 2017-05-18 at 15 22 40](https://cloud.githubusercontent.com/assets/11725595/26209963/2821aa4c-3be6-11e7-90ec-681bc1d5de41.png)

2. click on options dots

![screen shot 2017-05-18 at 15 22 43](https://cloud.githubusercontent.com/assets/11725595/26210003/476976b4-3be6-11e7-89f9-a947b7

[2017-05-18 15:26] fannyBkane commented on #824
I would. @asimonw what's your thought?

[2017-05-18 15:30] Jbarget commented on #600
![screen shot 2017-05-18 at 15 27 37](https://cloud.githubusercontent.com/assets/11725595/26210375/46d7c240-3be7-11e7-9e40-9eccb73d55b4.png)

@asimonw is there a particular message you would want here?

[2017-05-18 15:38] harrygfox opened #825 "Tag Filter Dropdown - Function is not obvious"
A sub-issue of Original Issue https://github.com/emfoundation/ce100-app/issues/793

![image](https://cloud.githubusercontent.com/assets/7805691/26210570/f03d72f8-3be7-11e7-8679-54f5b1242ce5.png)

Though this change makes it more obvious that I **can** interact with this element and I should expect a dropdown list,
It is not obvious as to **why** I would want to interact with this element.

To me t

[2017-05-18 15:44] fannyBkane commented on #825
Hey @harrygfox happy to try that. the icon white on blue may not have enought contrast, in that case you could fill the icon with dark blue.

[2017-05-18 15:49] SimonLab commented on #791
@asimonw @fannyBkane currently we have 4 main sections on the walkthrough page:
- Tell us about you
- Get to know the network
- Share a challenge
- Find the latest insights
![image](https://cloud.githubusercontent.com/assets/6057298/26211180/dc2c27a8-3be9-11e7-9d7d-84be0437feb0.png)

Do you still want to keep the last section (Find the latest insights) or do you want to drop it like on the design

[2017-05-18 16:13] fannyBkane commented on #791
Hey @SimonLab my understanding is to keep three sections / cards. The headers and copy are likely to be updated.

[2017-05-18 16:14] sohilpandya commented on #770
@fannyBkane @asimonw have we thought of where we would like this to be implemented as a custom element in the app?

[2017-05-18 16:38] harrygfox commented on #797
@SimonLab I thought the desired behaviour was that when the user clicks on 'Explore', for example, the Explore "tab" in the top navigation bar remains highlighted until the user navigates away to some other part of the app.
_This is currently the behaviour in the "togglebar" (containing: Orgs, Challenges, Insights)._

Am I wrong @asimonw @fannyBkane ?
If so, then this Issue is concluded (depending

[2017-05-18 16:49] harrygfox commented on #797
Sorry @asimonw @fannyBkane please disregard the message above, I had my wires crossed!

[2017-05-18 18:29] harrygfox commented on #791
@SimonLab I have made a first pass of this. Most of the styles from the wireframes have been implemented but not finished - all px numbers need to be converted to `rem` and the buttons on each landing__card must be fixed to the bottom of its container

[2017-05-19 08:04] asimonw commented on #824
@Jbarget Yes, ideally the Add menu would close. Thanks!

[2017-05-19 08:07] asimonw commented on #600
@Jbarget The message could simply be "Please select an organisation."

This is less high priority than the primary user interface issues, but would be great to change if it's a quick fix.

[2017-05-19 08:09] asimonw commented on #825
@harrygfox I agree, a filter icon would make sense 👍

[2017-05-19 08:25] asimonw commented on #770
@sohilpandya On desktop it can stay where it is, but on mobile, we'd like to have it sit right above the bottom nav, with some comfortable padding of course. Horizontal position can stay the same. @fannyBkane isn't in today to advise on the padding, but happy to get @harrygfox 's input as well.

[2017-05-19 08:30] asimonw commented on #791
@SimonLab @harrygfox Indeed, you can drop the last section exactly as in the mockup.

[2017-05-19 08:54] asimonw commented on #815
Nice work!

[2017-05-19 08:54] #815 closed

[2017-05-19 09:06] SimonLab commented on #787
@asimonw do we want to display a message on the edit profile page (ex: "Please add a mission statement") to let know the user why she has been redirected? see https://github.com/emfoundation/ce100-app/pull/830#discussion_r117433430

[2017-05-19 09:06] Jbarget commented on #824
@SimonLab rightly mentioned that this would require some front-end javascript. Im not fully up to speed on whether we're happy to introduce this type of functionality as an enhancement. @SimonLab @sohilpandya thoughts?

[2017-05-19 09:08] Jbarget commented on #600
for sure, just wanted to have something on record so that when/if we could make the changes straight away

[2017-05-19 09:15] asimonw commented on #789
@SimonLab Works beautifully thanks! Just one redirect issue for challenges.

If you follow the following steps:
* create or edit a challenge and click save
* you end up on the challenge card, which is perfect
* click cancel on the challenge card
* you go back to the "Edit challenge" view.

It would make more sense to direct the user to the org profile at this stage.

The redirect is a bit subtle,

[2017-05-19 09:17] asimonw commented on #801
@fannyBkane Could you have a look at the design implementation of the tag selection screen for form fields?

[2017-05-19 09:18] #808 closed

[2017-05-19 09:27] asimonw commented on #790
@SimonLab I think the work on the tag selection might have recreated the bug?

If you follow the following steps:

create or edit a challenge and click save
you end up on the challenge card, which is perfect
click cancel on the challenge card
you go back to the "Edit challenge" view.
It would make more sense to direct the user to the org profile at this stage.

The redirect is a bit subtle, becaus

[2017-05-19 09:29] asimonw commented on #789
@SimonLab Apologies, this should be addressed in #790 where the issue was previously raised. I've copied my comment to that issue and will close this one.

[2017-05-19 09:29] #789 closed

[2017-05-19 09:55] sohilpandya commented on #787
@asimonw as discussed on the call there are a few ways to tackle this issue:

- Add an extra block of text that would only appear when the user is redirected to the edit profile from login
- Add an extra block of text that would always appear if the mission statement is empty. (no matter how the user gets to the edit profile page)
- Update the copy so that it is universal and does not require addi

[2017-05-19 10:45] sohilpandya commented on #825
Thanks for that, I'll look into this one now.

[2017-05-19 11:55] sohilpandya commented on #825
@harrygfox I've tried to create this and not having any luck as it looks like the SVG you've created contains the icon and then the background color as well, did you do this in Sketch?

[2017-05-19 13:03] asimonw commented on #794
@harrygfox It looks like the tags haven't been changed to have a dark background on any of the tag selection screens (in the forms and in Explore), only on the profile and challenge cards. Could the ones on the tag selection screens also be changed for consistency?

Also, on profile and challenge screens, the cursor doesn't change to a pointer on hover.

The rest looks good to me, but @fannyBkane

[2017-05-19 13:06] asimonw opened #836 "The Profile item in the nav shouldn't be active when the user is on someone else's profile"
When you are viewing someone else's challenge card or org profile, the Explore item should be active.

[2017-05-19 13:08] asimonw commented on #797
@fannyBkane @harrygfox I don't seem to see any discussion around hover states for tags. I think the 10% darker rule would also be really useful here.

[2017-05-19 13:13] SimonLab commented on #836
![image](https://cloud.githubusercontent.com/assets/6057298/26249168/4cc16a9c-3c9d-11e7-8acc-26d89c33cfc5.png)

[2017-05-19 13:59] sohilpandya commented on #798
**udpate** the above table should refer to `people` not organisations. 👍

[2017-05-19 14:02] sohilpandya commented on #798
**WIP**

Following script needs to be run to add the extra column to the `people` table
`alter table people add column status VARCHAR(20) CHECK (status IN ('active', 'pending', 'inactive'))
;`

[2017-05-19 14:06] SimonLab commented on #836
@asimonw to confirm, when a user is viewing her own challenges, the profile nav item should be active?

[2017-05-19 14:20] asimonw commented on #836
@SimonLab Good point, that could make sense, if it doesn't create too much convoluted logic in the template code? It's important that other org's challenges have state "Explore".

[2017-05-19 14:22] SimonLab commented on #836
This should be ok to implement and I'll add the explore item active on other orgs and challenges :+1:

[2017-05-19 14:25] #790 closed

[2017-05-19 14:34] asimonw commented on #787
@sohilpandya I prefer your second option. As long as the mission statement is empty, keep the message.
@SimonLab We'll indeed go for a block like that, but would like the colour to be blue, same as for information messages, like on the tag selection screen:
<img width="695" alt="screen shot 2017-05-19 at 16 31 11" src="https://cloud.githubusercontent.com/assets/15235804/26252521/b263dffc-3cb0-11e7

[2017-05-19 14:41] asimonw commented on #793
@sohilpandya LGTM 👍
@fannyBkane Could you also have look, see if this can be closed?

[2017-05-19 14:50] asimonw commented on #791
@harrygfox LGTM 👍
@fannyBkane Could you also have a look, see if this can be closed?

[2017-05-19 14:51] #792 closed

[2017-05-19 14:55] #778 closed

[2017-05-19 15:06] asimonw commented on #781
@SimonLab This seems to work now, but there is still a harmless but annoying bug. Every time you edit an exist Insight, a few empty spaces are added to the beginning and end of the insight title. This padding doesn't show up in the UI, but is annoying for admins. Could this be prevented, please?

[2017-05-19 15:13] SimonLab commented on #787
I've tested again saving an empty mission statement and a correct error appears. I think when you've tested the texteara wasn't empty but had only white space, linked to https://github.com/emfoundation/ce100-app/issues/781#issuecomment-302728250

[2017-05-19 15:15] asimonw commented on #787
@SimonLab You're right, apparently there was a second line of white space.Strange.
I'll test it with a new user now. In the meantime, the copy for the top message would be:
"To get started, update your profile and let others know what you’re working on."

[2017-05-19 15:25] asimonw commented on #787
@SimonLab I tested it with a new users, and still a few issues:
* It doesn't work after activation, I needed to log out and in again to get the profile edit screen. In other words, this altered flow also needs to work coming from the password/activation screen.
* The mission statement already had some white space in it even before I ever touched it. I think the issue is related to the remaining is

[2017-05-19 16:24] asimonw commented on #796
@SimonLab Copy changes to be made added to first comment!

[2017-05-19 16:31] sohilpandya commented on #794
Hi @asimonw,

Could you please direct me to the forms where the colours have not been changed yet? I am unsure which form you are talking about.

Thanks! 😄

[2017-05-19 16:36] sohilpandya commented on #825
@fannyBkane @asimonw now that we have udpated the filter selection, I have noticed that the header for the next screen is a lot bigger than the previous one. Please view the screenshot below.
<img width="1345" alt="screen shot 2017-05-19 at 17 34 49" src="https://cloud.githubusercontent.com/assets/2305591/26257726/a57ca928-3cb9-11e7-9bb0-80d2031b526e.png">
<img width="1347" alt="screen shot 2017-0

[2017-05-19 16:48] asimonw commented on #794
@sohilpandya There are three places where the tag selection screen shows up:
* Explore -> All tags
* Edit Profile -> Edit tags
* Edit challenge -> Edit tags

For instance here the tags still have white backgrounds:
<img width="694" alt="screen shot 2017-05-19 at 18 46 37" src="https://cloud.githubusercontent.com/assets/15235804/26258114/8e239b38-3cc3-11e7-88d1-fc6fbd105b2e.png">

[2017-05-19 16:53] asimonw commented on #825
I'll leave that one for @fannyBkane :)

[2017-05-19 16:57] sohilpandya commented on #794
@asimonw I'm unsure what you'd like here as currenlty this is how it looks:

pre-selection:
<img width="495" alt="screen shot 2017-05-19 at 17 55 13" src="https://cloud.githubusercontent.com/assets/2305591/26258376/63bb10e4-3cbc-11e7-8d57-328d136b66fb.png">
post-selection:
<img width="480" alt="screen shot 2017-05-19 at 17 55 18" src="https://cloud.githubusercontent.com/assets/2305591/26258380/69b

[2017-05-19 17:03] asimonw commented on #794
@sohilpandya You're so right! Can't believe I didn't think of that. I guess that the fact that the selected ones do have the same colour as the tags in the rest of the app is actually quite consistent.

I'm changing this back to `please-test`, disregard my comments above!

So, @fannyBkane would this be fine to close?

[2017-05-19 17:05] sohilpandya commented on #794
@asimonw thanks! 👍

[2017-05-20 21:24] iteles commented on #825
@sohilpandya Can we open a new issue on this please so that the original issue on the filter can be closed? 😊

[2017-05-21 08:47] SimonLab opened #843 "Same header height size"
see https://github.com/emfoundation/ce100-app/issues/825#issuecomment-302751681

At the moment the header on organisation's profile and on the selection tags for explore page are bigger than on the other pages. Should we try to have a same height on all the pages?

[2017-05-21 08:47] SimonLab commented on #825
new issue for the header size here: https://github.com/emfoundation/ce100-app/issues/843

[2017-05-21 09:39] asimonw commented on #825
@fannyBkane This is issue is now only about the filter icon. If you're happy with that, we can close this issue. I think it works.

[2017-05-22 09:05] SimonLab commented on #799
@asimonw @fannyBkane once an admin has clicked on the "resend activation email" link should we redirect to the people list, or anywhere else?

[2017-05-22 10:40] Jbarget opened #845 "Tighten up validation params?"
@SimonLab @sohilpandya could the params that have `any` validation setting be more defined?

https://github.com/emfoundation/ce100-app/blob/master/server/models/admin-edit-org.js#L14-L16
https://github.com/emfoundation/ce100-app/blob/master/server/models/admin-add-org.js#L6-L7

[2017-05-22 10:44] SimonLab opened #846 "underline on hover disappear"
see https://github.com/emfoundation/ce100-app/pull/838#issuecomment-303046713

If the add button is already selected, the blue line disappear on hover.

[2017-05-22 10:46] SimonLab commented on #781
@asimonw I've just clean the white spaces on the inputs, this should be ok now.

[2017-05-22 11:04] SimonLab commented on #799
![image](https://cloud.githubusercontent.com/assets/6057298/26305325/bff4e3fe-3ee6-11e7-902f-6c68cf6a443f.png)
At the moment the link redirect to the list of people page

[2017-05-22 11:33] sohilpandya commented on #652
We can use the `pg_dump` & `pg_restore` commands for backing up and restoring a database. You can read more about `pg_dump` command [here](https://www.postgresql.org/docs/9.3/static/app-pgdump.html)

**How to backup a single local database**
[code]

This will backup everything in the `ce100` database and copy it to a file called `local_ce100_backup.sql`

**How to restore the backed up database**
[

[2017-05-22 13:09] fannyBkane commented on #801
Hey @sohilpandya looks great. Is it just possible to do amend the tag colour to #40667e?

[2017-05-22 13:15] fannyBkane commented on #797
@asimonw agreed. @harrygfox could you add the 10% darker rule on the tags?

[2017-05-22 13:23] fannyBkane commented on #794
@sohilpandya would it be ok to change the tag (text) colour to #40667e?
Once that's done it is fine to close @asimonw thanks.

[2017-05-22 13:26] fannyBkane commented on #791
@harrygfox looks good @asimonw fine to close :)

[2017-05-22 13:30] fannyBkane commented on #793
@sohilpandya LGTM to me too :)
@asimonw fine to close

[2017-05-22 13:53] fannyBkane commented on #843
@SimonLab The org page header follows a profile page layout with a large mast header that hosts the name of the profile (initially there was more info). We could try to make them the same height on all pages and see if it looks good.

[2017-05-22 13:56] fannyBkane commented on #825
@asimonw @sohilpandya it looks good, I think it works, ok to close, thanks!

[2017-05-22 14:13] sohilpandya opened #851 "UI for Navbar underline"
@Jbarget raised a good point related to the underline being applied to the items in the navbar.

As we can see in the screenshot below, the current designs lead to a full width underline
<img width="1197" alt="screen shot 2017-05-22 at 15 10 57" src="https://cloud.githubusercontent.com/assets/2305591/26312870/fbc17248-3f00-11e7-87f9-519b47456b1a.png">

This may be a little displeasing for some use

[2017-05-22 14:19] fannyBkane commented on #801
Hey @sohilpandya it looks good!
Would it be possible to make a couple of amends on desktop views:
-align tags and edit tags button to the left,
-change edit tag colour+icon fill+border to #40667e
-align centre archive link

[2017-05-22 14:50] SimonLab commented on #816
resolved with #848

[2017-05-22 14:50] #816 closed

[2017-05-22 15:00] SimonLab commented on #794
The color text of the tags has been update, let us know if it looks ok @fannyBkane :+1:

[2017-05-22 15:07] SimonLab commented on #797
@fannyBkane we just added 10% darker background, let us know if this is ok :+1:

[2017-05-22 15:11] fannyBkane commented on #794
All good! Thanks @SimonLab @asimonw fine to close this issue, thanks :)

[2017-05-22 15:51] SimonLab commented on #817
some reading:
- http://christopherdecoster.com/posts/nightmare/
- https://github.com/segmentio/nightmare
- https://github.com/segmentio/nightmare/blob/master/test/index.js

[2017-05-22 16:12] sohilpandya commented on #801
Hi @fannyBkane, I've made the first two changes, but unsure about the last one, the archive link is already centered at the bottom of the page.
<img width="353" alt="screen shot 2017-05-22 at 17 12 08" src="https://cloud.githubusercontent.com/assets/2305591/26318110/de5d1bd8-3f11-11e7-9aeb-facb81b4da9f.png">

[2017-05-22 16:28] harrygfox commented on #825
👍

[2017-05-22 16:28] #825 closed

[2017-05-22 16:29] harrygfox commented on #791
Sorry, jumped the gun, over to you @asimonw

[2017-05-22 16:45] fannyBkane commented on #801
Hey @sohilpandya all good if the link is centred - I thought I'd seen it left aligned.

[2017-05-23 08:37] #793 closed

[2017-05-23 08:42] #794 closed

[2017-05-23 08:48] asimonw commented on #797
@SimonLab @fannyBkane I can only see the hover effect on tags with a white background. Tags which appear on profiles and challenge cards (with dark background) should also have a hover effect, because they are also clickable (and navigation items).

[2017-05-23 08:49] #791 closed

[2017-05-23 08:56] #801 closed

[2017-05-23 08:59] #836 closed

[2017-05-23 09:55] fannyBkane commented on #797
Hey @sohilpandya  I realised that 10 % darker value hover states had not been implemented across the whole site. My bad. Could you look at the elements on the pages below and amend? I hope it makes sense. Thank you!

- Links, Add challenge button, tags, edit button: https://staging-ce100-emf.herokuapp.com/orgs/1

- Links, tags, edit button: https://staging-ce100-emf.herokuapp.com/challenges/3

- S

[2017-05-23 10:21] sohilpandya commented on #797
@fannyBkane I'll look into the above now. 👍 Hope you don't mind that I've converted them into a checklist. 😊

[2017-05-23 10:52] iteles commented on #843
@fannyBkane Agree with keeping the organisation profile header the same size, however, when a user clicks on the 'All tags' filter below:
<img width="1347" alt="screen shot 2017-05-19 at 17 34 43" src="https://cloud.githubusercontent.com/assets/2305591/26257725/a5691ed0-3cb9-11e7-8268-2173a45c47ed.png">

They are taken to this tag select page:
<img width="1345" alt="screen shot 2017-05-19 at 17 34

[2017-05-23 13:40] sohilpandya commented on #797
@fannyBkane could you please explain the following item from the list above:

I'm unsure what you mean here. I've updated the rest of the things and will update the label to please-test once it's been pushed to staging for you to test.

[2017-05-23 13:43] sohilpandya commented on #795
@asimonw @fannyBkane could we please receive the logo so we can implement it. 😄

[2017-05-23 13:53] SimonLab commented on #722
@asimonw is this still an issue? I haven't an iphone 5 to test this at the moment

[2017-05-23 13:55] SimonLab commented on #695
@asimonw is this issue still happening or is it ok to close it?

[2017-05-23 14:01] fannyBkane commented on #797
Hey @sohilpandya As a hover state, Considering the icon was already dark, could the blue background change to 10% darker?

[2017-05-23 15:04] SimonLab commented on #797
@asimonw @fannyBkane a new version has been deployed do you mind to have a look and to give us your feedback? Thanks

[2017-05-23 15:38] sohilpandya opened #857 "add required to the input labels when adding/editing challenges"
As discussed in this PR #856, we had to add some validation on the input fields for Insight.

- The plan is to add similar validation for challanges section when a user adds/edits a challenge.

Without the validation, the selected tags get lost as we are making a request to the backend and then returning with a view.

[2017-05-23 15:49] SimonLab commented on #652
Heroku provide a way to backup and restore data as @sohilpandya described above.
There is also a simple way to copy all the data from one database to another:
see https://devcenter.heroku.com/articles/heroku-postgres-backups#direct-database-to-database-copies
for us we can use:
[code]
Our ce100-test app (https://ce100-test.herokuapp.com/) has now the same data as the production app. We can then ap

[2017-05-23 15:53] sohilpandya commented on #857
It's now been implemented. Can be closed.

[2017-05-23 15:53] #857 closed

[2017-05-23 16:52] asimonw commented on #795
@sohilpandya There has been quite some back and forth over a name and corresponding logo for the app. We might not get it ready in time. Very likely, it won't be part of this sprint anymore.

[2017-05-23 17:17] asimonw commented on #722
@SimonLab Tested again and this doesn't seem to be a problem anymore. Closing the issue, thanks for the reminder.

[2017-05-23 17:17] #722 closed

[2017-05-23 17:19] #695 closed

[2017-05-23 17:24] asimonw commented on #652
@SimonLab This is generally not a good way to work with production databases, because while you are updating the database, live users might be adding or deleting content. When you then replace the live database, they might experience data loss or inconsistencies. @iteles Would you agree?

[2017-05-23 17:28] #846 closed

[2017-05-23 18:02] #787 closed

[2017-05-23 18:13] asimonw commented on #796
@SimonLab @sohilpandya The items which I have unchecked in the first column are not completely correct.
* On the org edit view, the title and description for the mission statement field are not correct. What is currently the title should be the instructions, and the title should simply be "Circular economy vision"
* The changes for the challenge form have been done for the edit challenge, but not

[2017-05-23 18:15] #781 closed

[2017-05-23 18:22] asimonw commented on #798
@sohilpandya That seems to work, but there is a small regression. Logging in as an admin and going to Explore -> Insights, the enabled insights now have an orange dot instead of a green dot next to them. The org list still works as before, so only insights seems to be affected.

[2017-05-23 18:38] #799 closed

[2017-05-23 20:25] sohilpandya commented on #798
@asimonw could you please test this out, we've updated this on staging.

[2017-05-23 20:29] sohilpandya commented on #652
@asimonw I think you are correct but wouldn't the addition of a maintenance mode for the app solve that issue?

- Once we've tested the new structures and features on stage, we would put the app in maintenance mode, make another copy once the app is in maintenance mode and then complete the update and turn the app back on.

[2017-05-23 21:02] sohilpandya commented on #796
@asimonw we've made the changes that you've mentioned above and ready for you to test on staging.

[2017-05-24 09:21] asimonw commented on #652
@sohilpandya This could be a temporary option at least. At the moment, we don't have that many people using the app yet and won't be doing data migrations that often. But going forward, I think setting up proper programmatic migrations seems more reliable. Happy to get dwyl's input on best practices though.

[2017-05-24 09:24] #796 closed

[2017-05-24 09:29] #798 closed

[2017-05-24 14:19] sohilpandya opened #861 "Refactor Insight add-view"
As described by @Jbarget, we would refactor the forEach -> Reduce.

https://github.com/emfoundation/ce100-app/pull/856

[2017-05-24 14:40] fannyBkane commented on #843
Hi @iteles agreed. @SimonLab could you make the 'Select' tag the same size as the filter header?

[2017-05-24 14:53] fannyBkane commented on #797
I've noticed that the challenge link hover state blends with the backgrounds on mobile/profile and small viewports - not sure it is a problem considering there is no hover state on mobile but it would be great to hear your thoughts on that: would it be better to change the hover state to a lighter colour on small screen anyway, in case?

On a different note it looks that the archive link is shown

[2017-05-24 15:07] sohilpandya commented on #797
@fannyBkane I've made the change related to the hover color for the smaller devices and happy to push those up for you to test, but could you please tell me the steps you've taken to get to the above screen as I am unable to replicate the `Archive challenges` showing up twice.

[2017-05-24 15:15] fannyBkane commented on #797
Hey @sohilpandya awesome. I viewed the app on desktop, made the viewport small.... And did Nav>Profile. On mobile, although you can't really scroll down further down, but if you try, the link shows too.
![img_9131](https://cloud.githubusercontent.com/assets/20577339/26410771/1cb187d0-409c-11e7-9eb9-0cff509c16b6.png)

[2017-05-24 15:52] asimonw commented on #770
Sorry to re-open this, but we've just realised that the Intercom widget still sits a bit uncomfortably when opening the tag selection modal on mobile:
<img width="379" alt="screen shot 2017-05-24 at 16 48 38" src="https://cloud.githubusercontent.com/assets/15235804/26412592/2adda79e-40a1-11e7-9b64-1d3cf083b3e5.png">

Would it be possible to simply hide the widget underneath the modal by giving the

[2017-05-24 16:34] sohilpandya commented on #770
@asimonw that's ok, unfortunately increasing the z-index does not move the feedback icon to the back, probably because it's an iframe.

Do you have any other solutions in terms of how would like to lay it out?

[2017-05-24 16:48] sohilpandya commented on #797
@fannyBkane thanks for that. I've updated this on staging and it should be ready to test again.

[2017-05-25 07:24] sohilpandya commented on #818
@asimonw this has been pushed to staging, could you please test this out.

Thanks 👍

[2017-05-25 09:26] sohilpandya commented on #652
Hi @asimonw @iteles

I've had a chance to speak with @naazy who's explained the process they've used before which leads to zero downtime.

@naazy over to you. 😊

[2017-05-25 09:38] naazy commented on #652
Hi @asimonw @sohilpandya @iteles :wave: We currently run migrations using a heroku postinstall script. We store all of the migrations we've run in a table in our db and any .sql scripts in our migrations folder that are not in the db are run after Heroku has npm installed. We do not automatically put the app into maintenance mode (yet!) but on certain big migrations we manually toggle on maintenan

[2017-05-25 09:49] sohilpandya commented on #652
Thanks @naazy.

@asimonw @iteles I'll be catching up with Naaz later on today and will leave an update here.

[2017-05-25 13:20] #797 closed

[2017-05-25 13:21] #818 closed

[2017-05-25 13:25] asimonw commented on #770
@sohilpandya If that's too complicated, it's fine to leave the position of the widget as it is.
On some mobile screen sizes, however, the buttons stack instead of sitting next to each other. Could you make sure they always sit next to each other? Otherwise, the position of the widget is a bit too jarring.

For instance, here's what happens on iPhone 5 and 6 (iPhone 6 Plus is OK)
<img width="390" a

[2017-05-25 14:34] sohilpandya commented on #770
@asimonw I've made the change related to the stacking of the button
Could you please test it on Staging. 👍

[2017-05-25 16:10] iteles commented on #795
Moved out of this sprint as noted by @asimonw above.

[2017-05-25 16:40] iteles opened #865 "Sprint 6 demo flow"
+ Log in as admin
  + Create new org
      + We had a bug here that was giving an error when a lot of text was created, this was fixed
  + Create new primary user
    + Show the yellow dot next to user name for pending user
    + Show user has received email - DO NOT CLICK LINK
    + Resend activation link
    + Show user now has a new email
    + Click on activation link
    + User activates acco

[2017-05-25 17:56] sohilpandya commented on #843
I've updated it as you've suggested @fannyBkane. Please view the screenshots of how it looks currently. I'll update the label to please-test once its on staging and ready for you to test. 👍
<img width="1338" alt="screen shot 2017-05-25 at 18 55 32" src="https://cloud.githubusercontent.com/assets/2305591/26463324/d199fa62-417b-11e7-92a0-b1edf5f0136e.png">
<img width="1335" alt="screen shot 2017-05-

[2017-05-26 08:33] fannyBkane commented on #843
Looks good @sohilpandya ! Noticed that the 'Select tag' header is upper case on desktop view and title case on small screens. Could you make it consistent?

[2017-05-26 08:35] fannyBkane commented on #770
@sohilpandya @asimonw LGTM 👍

[2017-05-26 08:36] fannyBkane commented on #797
@sohilpandya looks good, cheers!

[2017-05-26 08:48] sohilpandya opened #868 "Update comment for cancelUrl helper"
As suggested by @Jbarget, we need to update this comment to reflect the updated code

https://github.com/emfoundation/ce100-app/pull/866/files/defc2b7e1874e093c6dc9abdece34cb5f6df78f4#diff-d0ace60a8cdde8b542e9c1178764bc72L148

[2017-05-26 08:52] sohilpandya opened #870 "Nightmare being inconsistent"
Running nightmare has been incosistent for @sohilpandya, @nelsonic & @Jbarget.

This is the issue that I've seen on my computer, it's strange as it was not happening prior to today.
<img width="560" alt="screen shot 2017-05-26 at 09 22 02" src="https://cloud.githubusercontent.com/assets/2305591/26487789/d83206f8-41f8-11e7-84d2-7a79cd1cd408.png">

Fix:
I updated the goto from `server.info.uri` to `

[2017-05-26 09:12] #770 closed

[2017-05-26 10:40] #843 closed

[2017-05-26 12:28] sohilpandya commented on #652
Will be using the resources found in this dwyl repo for migration. https://github.com/dwyl/node-postgres-migrations/issues/1

[2017-05-26 16:16] sohilpandya commented on #652
We now have a PR that is open that will take us one step closer to automated migrations. #871 Once it is merged in, you'll need to follow the steps below to get the migrations automation setup.

### Notes for the future when we need a migration to take place.

1. Create a new folder called migrations folder
    - add the sql migrations in this particular folder with the following name format
    -

[2017-05-30 09:16] asimonw opened #872 "Org profile: long mission statement and/or many tags lead to content being cut off"
It turns out that the missions statements often end up being quite long in a production environment. This often partially or completely cuts off the tags and contact info on desktop. Mobile is fine.

The page needs to be allowed to scroll to make all content accessible.

[2017-05-30 09:18] iteles commented on #865
Completed 👍

[2017-05-30 09:18] #865 closed

[2017-05-30 10:41] SimonLab commented on #872
![image](https://cloud.githubusercontent.com/assets/6057298/26579682/b5b366f8-452c-11e7-9005-d1c833def218.png)
The scroll bar is now displayed if the property "overflow-y" is defined to "visible" on the "container--desktop" class.

[2017-05-30 11:02] asimonw commented on #872
@SimonLab I'm wondering why there is a `height: 100vh` on the `.container` class. That's what's breaking the default scroll behaviour of the page. Is there are particular reason for it? Otherwise removing that is a perfectly fine fix for now, and potentially less complicated than what you're suggesting.

[2017-05-30 11:07] asimonw commented on #872
@SimonLab Actually, the `height: 100vh` is also breaking the walkthrough screen on certain screen sizes, see screen grab. So, unless this is doing something important that I'm missing, removing that property seems necessary.
<img width="845" alt="screen shot 2017-05-30 at 12 05 11" src="https://cloud.githubusercontent.com/assets/15235804/26580557/8a1ff8fe-4530-11e7-9d44-bd922d856c19.png">

[2017-05-30 11:14] SimonLab commented on #872
@asimonw removing `height: 100vh` seems to indeed fix this issue. I have updated the PR.
 I think `height: 100vh` was used for the old walkthrough page (display each sections full screen). @harrygfox does this sound ok to you?

[2017-05-30 11:19] iteles commented on #872
@SimonLab Harry's on holiday this week so we'll ask him to take a look next week.

In the meantime, please assign that issue to me instead so we can get it in for @asimonw to test this afternoon (@jbarget won't be available to review until later this afternoon).

[2017-05-30 11:30] SimonLab commented on #872
@asimonw this is ready to test on staging. Let us know your feedback and when you want to deploy the changes on production.

[2017-05-30 11:48] asimonw commented on #872
@SimonLab @iteles looks ok now! Thanks a lot for the quick response, really appreciate it. It can be deployed as soon as possible 👍

[2017-05-30 11:48] #872 closed

[2017-05-30 11:57] SimonLab commented on #872
@asimonw the changes have now been deployed to production :+1:

[2017-05-30 13:48] Jbarget commented on #870
@SimonLab I have managed to run the tests successfully without any changes, https://github.com/emfoundation/ce100-app/pull/854#issuecomment-303975027

[2017-06-01 16:10] Jbarget opened #874 "Inconsistent avatar sizes"
On the list of organisations the avatar is a rectangle, however on the individual org page the avatars are circular

See screenshots below:

![screen shot 2017-05-18 at 15 25 00](https://cloud.githubusercontent.com/assets/11725595/26689260/01372d6e-46ed-11e7-8a87-1bf987036d35.png)
![screen shot 2017-05-18 at 15 25 08](https://cloud.githubusercontent.com/assets/11725595/26689261/029fbe1e-46ed-11e7-

[2017-06-01 17:55] asimonw commented on #874
@Jbarget The avatar looks circular in both cases in production. Is there a new local change which makes the avatars rectangular in the list view?

What I have noticed is that the avatar is not properly centred vertically anymore on the profile view since the fallback icon has changed. It's centred correctly with the fallback icon, but not with a user uploaded image.

[2017-06-06 11:47] Jbarget commented on #874
@asimonw sorry for late reply,

nothing that I know of, If its not showing up on your side of things then Im happy to leave it for now. (I would say close this issue but it sounds like theres separate bug related to this issue)

[2017-06-09 14:58] asimonw opened #875 "Primary user unable to select tags on Windows 7"
OS: Windows 7
Browsers: IE11, Firefox

A primary user wants to add tags to their org profile. They are able to open the tag selection modal and select a few tags, but clicking the "Select" button does nothing. The modal stays visible and the tags are not updated. The cancel button does work, but seems to remove previously existing tags.

[2017-06-09 15:02] asimonw opened #876 "Organisation avatar not vertically centred on org profiles"
Since the update of the fallback icon for organisation avatars, the avatar is no longer vertically centred at the top of the org profile on desktop.

<img width="613" alt="screen shot 2017-06-09 at 16 01 18" src="https://user-images.githubusercontent.com/15235804/26981420-f9cdd51e-4d2c-11e7-94bc-5d106fca5500.png">

[2017-06-09 15:03] asimonw commented on #874
Ok @Jbarget I'll close this one. The separate bug is now logged in issue #876.

[2017-06-09 15:03] #874 closed

[2017-06-25 06:28] kamaldhariyal commented on #722
Hi... do you have script that can freeze latest version of Siri. I want it in urgent bases. please provide if any of you have..

[2017-06-25 16:46] iteles commented on #722
@kamaldhariyal I'm afraid not. Not something our users have requested before.

[2017-07-10 09:35] iteles commented on #875
@sohilpandya Could you please take a look at this bug and give it a time estimate?

[2017-07-10 10:53] sohilpandya commented on #875
@iteles, I've located the issue using a PC, It seems to only occur on IE11 and not on Firefox for me.

When the user selects the 'select' button we are using a method called `append` which is not supported in IE11, hence it throws an error as seen in the screenshot below.

![img_0409](https://user-images.githubusercontent.com/2305591/28014964-fd227c00-6565-11e7-9f6f-47d5de4504a6.jpg)

I'll have to

[2017-07-10 12:27] sohilpandya commented on #875
I might be able to polyfill it -> https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/append#Polyfill 😬

[2017-07-10 14:00] sohilpandya commented on #875
@asimonw @iteles I've created a PR for this and also pushed that branch onto staging for you to test, I've tested it on IE11 and it is now working fine allowing users to select items within the modal.

Could you please test this on staging.

Thanks.

[2017-07-10 14:17] SimonLab commented on #875
well spotted @sohilpandya .
I'm not sure about adding a polyfill, I tend to avoid them if I can as it adds more code to the application that is often cryptic. I would prefer to find a simpler solution if we can (I need to have a proper look at the code to know if it's possible), for example could we use [appendChild](https://developer.mozilla.org/en-US/docs/Web/API/Node/appendChild) function which

[2017-07-10 15:03] asimonw commented on #875
@SimonLab It's a pretty lean polyfill doing exactly that (falling back to appendChild). The benefit of this is that your application code stays clean (so I would argue that it improves readability) and future-proof (all you have to do once all browsers in common use support append is remove the polyfill and your app still works fine). I guess it's a matter of taste ;)

[2017-07-10 15:05] asimonw commented on #875
On top of that I'm quite pleased that it was resolved quickly, as we're launching to more people tomorrow.

[2017-07-10 15:06] iteles commented on #875
@asimonw We're reviewing this now.

[2017-07-10 16:08] iteles opened #878 "Remove polyfill created in PR #877"
To resolve issue https://github.com/emfoundation/ce100-app/issues/875, PR https://github.com/emfoundation/ce100-app/pull/877 was created with an IE polyfill.
We want to avoid opening the door to extensive pollyfills which could make our code patchy and disjointed.

As such, we should spend an hour reviewing the code that was added in PR https://github.com/emfoundation/ce100-app/pull/877 and alteri

[2017-07-10 17:00] asimonw commented on #875
Works 👍

[2017-07-10 17:00] #875 closed

[2017-07-10 17:01] asimonw opened #879 "Upgrade postgres in production"
We'd like to upgrade the production app to home-basic (unless a higher plan is advised). This can apparently only be done through the CLI: https://devcenter.heroku.com/articles/upgrading-heroku-postgres-databases

[2017-07-10 17:24] asimonw commented on #878
Looking into append vs appendChild a bit better, maybe my comment in #875 was a bit quick. I thought appendChild was a left-over from IE days, but it's not (what happens when you use frameworks all the time..). In that case, just using appendChild might be a much better solution.

[2017-07-12 17:05] asimonw opened #880 "For admins, the "+ Add" menu does not properly appear on top of other elements on mobile"
An image speaks more than a thousand words:
![image uploaded from ios](https://user-images.githubusercontent.com/15235804/28129764-e7aea238-6734-11e7-8255-60a1c3f57298.jpg)

[2017-07-13 08:49] asimonw opened #881 "Upgrade Node to 6.11.1"
See https://nodejs.org/en/blog/vulnerability/july-2017-security-releases/

Priority 1 to assess risk in order to set actual priority.

[2017-07-13 09:47] SimonLab commented on #881
I just check the version with ```heroku run node -v``` it seems that we have ther version 6.11.0. I will add define the version in the package.json with
[code]
This should resolve this issue

[2017-07-13 09:56] asimonw commented on #881
Thanks @SimonLab when are you planning to restart the app?

[2017-07-13 10:24] SimonLab commented on #881
I'll take 10mn to create a PR a bit later today, once it's reviewed and merged we could deploy on production, this is quiet quick. I don't think there is any high risk for the application but let us know when is a good time for you to deploy on production (I don't want to block you if you currently doing any user testing).

[2017-07-13 10:30] nelsonic commented on #881
@SimonLab thanks for investigating this. please assign for review when ready. 👍

[2017-07-13 11:38] asimonw commented on #881
@SimonLab Thanks a lot! There's not that much activity on the app at the moment, as lots of people are on holiday, but if you could do it after 5pm, that would be ideal. Would that work?

[2017-07-13 16:40] SimonLab commented on #881
@asimonw deployed with the new version on production

[2017-07-14 08:13] asimonw commented on #881
Thanks @SimonLab !

[2017-07-14 08:13] #881 closed

[2017-07-18 08:58] iteles commented on #879
Proposed tasks for review:
+ Back up production database **(ensure this backup is working and hasn't errored)**
  + We will most likely need to take the app offline and I believe heroku has a 'holding' function to explain that the app is offline for maintenance (@naazy, I think you've used this before)
+ Read through postgres docs and link above
+ Perform upgrade
+ Ensure data is as backed up

[2017-07-18 09:00] naazy commented on #879
You can take app offline for maintenance via Heroku settings:
<img width="975" alt="screen shot 2017-07-18 at 09 59 45" src="https://user-images.githubusercontent.com/11833296/28308998-de8c0c3a-6b9f-11e7-9cb1-29f41e0fc0bf.png">

[2017-07-19 17:02] asimonw opened #883 "Email address field is case sensitive and should not be"
This manifests itself in different places:
* Email address needs to be exactly the right case in order to log in
* it's possible to create different users with emails which only differ in the case of one or more characters.

[2017-08-18 13:00] asimonw opened #884 "Not possible to create a challenge with a title longer than 50 characters"
When creating or editing a challenge, entering more than 50 characters in the title field causes a server error (500). Possibly the field is not set up to accept more in Postgres?

[2017-08-24 08:56] SimonLab commented on #884
switching the type of the column title in the challenges table from ```varchar``` to ```text``` allow user to create titles with any length.
@asimonw I've just updated the table on staging and production. This should be fix now. I've tested on staging but not on production as I don't want  to create fake data. Could you test this on your side for the production? Thanks

[2017-08-31 09:36] asimonw commented on #884
Hi @SimonLab I still get the same error even on staging I'm afraid.

[2017-08-31 11:47] SimonLab commented on #884
Hi @asimonw thanks for testing again. I think this is now fixed on stagging could you try again on your side? Let us know when you are happy to deploy to production, thanks

[2017-08-31 13:31] asimonw commented on #884
@SimonLab Works now, thanks. Ready to be deployed. Preferably after 5pm.

[2017-09-04 06:29] SimonLab commented on #884
@asimonw the production is now up to date, let us know if everything woks, thanks :+1:

[2017-09-06 13:31] #277 closed

[2017-09-12 16:20] asimonw opened #886 "New organisation profile layout"
As a CE100 user, I want to have easy access to an organisation's challenges and people, so that I can focus on networking and collaborating.

As a consequence, we're attempting to give less importance to the mission statement on desktop. The desktop layout is especially affected by the redesign, but on both mobile and desktop, the people section is changed.
Mobile: https://zpl.io/VQ0oQDx
Desktop:

[2017-09-12 16:37] asimonw opened #887 "Updated people list"
As a CE100 user, I want to see pictures of people on the app and be able to browse them alphabetically, so that I can more easily find people I have met at physical workshops.

The "people card" has been redesigned and now includes a profile picture and indication whether the person is a primary contact.
It will now be possible to sort people:
* From A-Z (based on last name)
* From Z-A (based on l

[2017-09-12 16:38] asimonw commented on #887
TBD: can only admins add profile pictures for now or will we allow people to upload their own. Depends on technical option for making this user friendly.
Ignore the "Filter by name" feature on the desktop design for now.

[2017-09-12 16:50] asimonw opened #888 "New admin role"
As an Admin, I want to be able to edit every piece of content that both content owners and primary users can edit, so that I can correct corrupt data in case of emergency.

Currently, the only difference with a content owner is that the new admin can also edit every organisation's challenges, which requires edit icons in the right places. This includes the ability to (un)archive challenges and vie