[2016-07-22 14:21] asimonw opened #1 "User creation"
As an EMF admin, I can create users with first name, last name and email address, so that they can access the platform.

[2016-07-22 14:25] asimonw opened #2 "Account activation"
As a primary user, I receive an activation email with a link to a password creation form when my account is created, so that I can easily activate my account in a minimal number of steps.

[2016-07-22 14:29] asimonw opened #3 "Management of existing users"
As an EMF admin, I can browse, edit and delete existing users, So that I can manage incoming and outgoing members to the platform in concordance with the programme and make any necessary changes to users as I need to.

[2016-07-22 14:34] asimonw opened #4 "User group assignment"
As an EMF admin, I can assign users to one of two user groups, "Admin" and "Primary User", so that the right level of access can be granted to the right users.

This involves pre-defined user groups. No need to be able to manage user groups and permissions from a front-end interface at this stage. More roles such as "Content Editor" and "Secondary User" will only be needed later.

[2016-07-22 14:37] asimonw opened #5 "User login"
As a primary user, I can login to the platform, so that I can access and edit my profile.

[2016-07-22 14:41] asimonw opened #6 "Password creation on first login"
As a primary user, the first time I try to log in, I am prompted to create a password, so that the security and privacy of my account is ensured.

Might be redundant if we decide #2 is the only way in which a first password can be created.

[2016-07-22 14:43] asimonw opened #7 "Password reset"
As a primary user, I can reset my password from the login screen, so that I can still access the platform if I have forgotten my password.

[2016-07-22 14:46] asimonw opened #8 "Member profile creation"
As an EMF admin, I can create member profile pages with a page title **and logo** and link them to a primary user, so that primary users, once logged in, have access to the profile page of their organisation.

Note that the relationship will be one organisation to many users in the future.

[2016-07-22 14:51] asimonw opened #9 "Member profile management by admin"
As an EMF admin, I can browse and edit existing profile pages, so that I can make essential changes without having to go through the primary user.

[2016-07-22 14:57] asimonw opened #10 "Member profile details management"
As a primary user, I can add and edit a company logo, a mission statement and a set of tags characterising my knowledge/experience, so that I have control over how I represent my organisation on the platform and can update this over time.

Mission statement: limited number of chars?
Parent tags are only used as navigational tool and cannot be selected, nor used to select all corresponding child ta

[2016-07-22 15:00] asimonw opened #11 "Tag cloud management"
As an EMF admin, I can add, delete and edit tags in two-level tag cloud, so that primary users can use those to give context to their profiles and challenges.

One-to-many relationship from parent to child tags, child tags have no further structure (apart from a slug or id used to construct a unique url for the tag?).

[2016-07-22 15:06] asimonw opened #12 "Challenge card creation"
As a primary user, I can add any number of challenge cards containing a title, description and set of tags to my profile, so that I can share all my challenges with the community and I’m not limited on how many challenges I can share.

Should "description" be part of the MVP?
Limit the number of tags allowed to be selected?

[2016-07-22 15:08] asimonw opened #13 "Challenge card management of existing cards"
As a primary user, I can edit or delete existing challenge cards on my profile, So that I have the flexibility to change or remove  challenges based on their status or changes to my focus areas.

Archive instead of delete?

[2016-07-22 15:17] asimonw opened #14 "Match challenge with profiles"
As a primary user, I get recommendations on which organisations may be able to help me, related to a specific challenge and based on how I tagged it, so that I can get help solving my challenge and find potential collaborators.

[2016-07-22 15:17] asimonw opened #15 "Match profile with challenges"
As I primary user, I see a list of challenges shared by other members on my profile based on how I tagged my profile, so that I can see where I could potentially be of help.

[2016-07-22 15:18] asimonw opened #16 "Match challenges with challenges"
As a primary user, I get an overview of which of my challenges matches other member’s challenges, So that I can see how many other members share a related challenge and may be potential collaborators in solving it.

[2016-07-22 15:21] asimonw opened #17 "Matchmaking reports"
As an EMF admin, I get an overview of matches of different kinds (profile with challenge, challenge with challenge) which have been made and the actions people have taken to follow up on those, so that I can analyse what works and what doesn’t on the platform.

Needs to be refined and broken down.

[2016-07-22 15:23] asimonw opened #18 "Post-match follow up actions"
As a primary user, I can click on a recommendation in order to either view the relevant profile, or immediately send a “notification” to the relevant primary user, so that I can either evaluate the recommendation or immediately contact the appropriate person.

TBD what "notification" means.

[2016-07-22 15:26] asimonw opened #19 "Browse challenges for admin"
As an EMF admin, I can view all challenges shared by primary users, so that I’m informed about how members are using the platform and get feedback on what type of challenges members are facing.

[2016-07-22 15:27] asimonw opened #20 "Browse orgs and challenges using tags as filters"
As a primary user, I can browse organisations and challenges from a central interface, with tags as a filtering option, so that I can see and explore all the members, challenges and opportunities in one place.

---

Update as requested by @fannyBkane
View on Zeplin: https://zpl.io/Z1A9eFl

A couple of things:
- [x] Can you change tags to lowercase, EXCEPT for parent tags on the 'select tag view' (

[2016-07-22 15:29] asimonw opened #21 "Use tags to explore more"
As a primary user, I can click on a tag in a profile page or challenge to see all profiles or challenges related to that tag respectively, so that I can see all the other members (and challenges) that are active in the areas I’m searching and make my own matches.

Related to #20

[2016-07-22 15:30] asimonw opened #22 "Main feedback widget"
As a primary user, I should be able to send feedback from every page, so that I can easily tell the team how well the features are working or if I think something could be improved.

[2016-07-22 15:31] asimonw opened #23 "Feedback on tags"
As a primary user, I can suggest a tag if I can’t find what I need in the existing tag cloud, so that over time, the tag cloud can be evolved to fit the needs of the community.

[2016-07-22 15:32] asimonw opened #24 "Feedback on matches"
As a primary user, I can indicate whether a recommendation was useful or not, so that over time, the recommendation system can be improved to make matches more relevant.

[2016-07-22 15:35] asimonw opened #25 "Notification on feedback"
As an EMF admin, I get notified when feedback is received, so that I can respond appropriately.

TBC how notification i received.
An interface to manage feedback data not part of MVP?

[2016-07-22 15:37] asimonw opened #26 "User notifications"
As a primary user, I get regular updates to notify me of new recommendations and new members on the platform, so that I am aware of any updates that are relevant to me with minimum effort and time.

[2016-07-22 15:39] asimonw opened #27 "Quick contact list"
As a primary user, I can see a list of other users with corresponding contact details, so that I can quickly get in touch with people that I’m interested in collaborating with

[2016-07-25 10:30] jo3murphy commented on #27
@asimonw do we somewhere define 'primary user' at least for now? Given conversations around user / org profiles this could be helpful especially as MVP evolves

[2016-07-25 10:32] jo3murphy commented on #27
Contact details:
- First name
- Surname
- Preferred email address
- Job title (?)
- Preferred contact number (?)

[2016-07-25 10:38] asimonw commented on #27
@jo3murphy I'll add some context to the idea of a primary user in #2 where it is first mentioned.

[2016-07-25 10:52] asimonw commented on #2
For the moment a primary user is any user which accesses the site from the non-admin pages.
In the future however, every member organisation will have primary and secondary users.

A primary user will be able to manage (on top of secondary user permissions)
* the organisation profile
* the secondary users which are part of their organisation

A primary user will also be able to invite other (secon

[2016-08-01 09:45] LucyJW commented on #20
How is this different to #20? I think we could clarify the difference in the user story more clearly.

[2016-08-01 09:48] LucyJW commented on #15
The difference between this story and number #16 probably needs to be clearer

[2016-08-01 09:50] LucyJW commented on #14
The recommendations are not necessarily based on who to contact but who may be able to help you with a challenge. Contact is one (of a few) actions a user might take. A small difference but might be worth updating.

[2016-08-01 09:52] LucyJW commented on #10
Primary Users should be able to upload member logos too. We already have them available and it may be less constraining (from design and brand approval considerations) for us to upload these as part of the profile page set up for new members.

[2016-08-01 09:55] LucyJW commented on #8
EMF admins should be able to upload member logos too. We already have them available and it may be less constraining (from design and brand approval considerations) for us to upload these as part of the profile page set up for new members.

[2016-08-01 10:04] LucyJW commented on #27
@jo3murphy @asimonw Having quick access to phone numbers came out as a key piece of feedback from user research so I would suggest including it if possible

[2016-08-01 10:07] LucyJW commented on #26
Will we be including any other notification types in this MVP? Such as new features? Or news?

[2016-08-01 10:12] LucyJW commented on #18
For the MVP, we could simply display a call to action to email/call the member with a quick link to the member's contact details (rather than a notification being sent through the platform).

[2016-08-01 10:15] LucyJW commented on #17
Is it possible to include a reporting view so that overtime we can easily track the usage without having to manually aggregate and build reports ourselves? Possibly not an MVP idea.

[2016-08-01 10:18] LucyJW commented on #13
Or archive as well as delete? i.e. archive if challenge is solved?

[2016-08-01 10:21] LucyJW commented on #12
I think description is important for making useful matches as tags and title alone can be a bit limited for users to describe the nature of their challenge. Reviewing the  challenge description is possibly a key action after receiving a notification of a potential match.

[2016-08-01 10:27] asimonw commented on #14
Done.

[2016-08-01 10:52] LucyJW commented on #11
Probably needs to be broken down further.

[2016-08-01 11:09] asimonw commented on #21
Should probably be broken down into two stories, one for organisations and one for challenges.

[2016-08-01 11:13] asimonw commented on #20
The difference is the starting point. In this story, you start by navigating to a "directory," in #21 you start by clicking on a tag in someone else's profile or a challenge. Once this story is implemented, #21 should be quite straight forward, but still useful to keep it as a separate story, I think.

[2016-08-01 11:23] asimonw commented on #17
I did have something like an aggregated report in mind. Probably quite basic for the MVP.

[2016-08-01 11:30] asimonw commented on #15
We might have to find a better way to refer to "profile tags." These are distinct from tags appearing on challenge cards, although sourced from the same tag pool. The profile tags are used to indicate any knowledge or expertise the organisation wishes to share with the community. We've been referring to them as expertise tags in the past.

[2016-08-01 11:43] asimonw commented on #10
Maybe we should (initially?) not even allow members to update their logos themselves. Logos do often need some extra preparation to fit the design. I'll add logo upload to #8.

[2016-08-01 11:48] asimonw commented on #9
This is especially for org name, logo and linked primary user. Things which can't be managed (except for logo?) by the primary user.

[2016-08-01 11:52] asimonw commented on #8
User story updated to reflect @LucyJW's point.

[2016-08-01 11:57] asimonw commented on #27
Agreed @LucyJW

[2016-08-01 13:54] LucyJW commented on #10
I would agree, better to not let them update logo themselves yet.

[2016-08-09 13:57] asimonw commented on #12
Question: should we make tags mandatory? I.e. should every card have at least one tag?

[2016-08-09 14:00] asimonw commented on #13
I think an archive option (in addition to a permanent delete) would be useful. Another option which has been mentioned was to be able to disable/enable cards (a kind of "publish" to the rest of the community). Possibly not for the MVP though.

[2016-08-09 14:35] asimonw opened #28 "First screen after login"
As a primary user, the first screen I see after logging in signposts and explains the main things I can do on the platform (share a challenge, browse or go to profile), so that I understand what the platform is about and I have quick access to its main features.

[link](https://zpl.io/2nidYL)

[2016-08-09 14:38] asimonw opened #29 "User settings"
As a primary user, I can easily navigate to my user settings where I can manage my first name, last name, title, phone number and notification preferences, so that I can update my personal information and personalise my experience of the platform.

[2016-08-09 15:02] asimonw opened #30 "Publish news updates"
As an EMF admin, I can publish and edit simple platform and programme news items, so that I can keep members up to date about new platform features and important programme news.

[2016-08-09 15:11] asimonw opened #31 "Receive news updates"
As a primary user, I can see the latest platform and programme news, so that I'm always up to date with new features and announcements.

This should be integrated with user notifications #26.

[2016-08-09 15:21] asimonw opened #32 "Error messages"
Question: what could be a general approach to error messages when manipulating forms. Happy to take recommendations from the dwyl team. Options could be inline for client-side, lightbox for server-side, ...

---

Todos:
- [x] work out more generic error handling system that can be used app wide consisting of snack bar and indicating which input failed
- [x]  work out exactly which views require en

[2016-08-09 15:32] asimonw commented on #10
Question: how do we go to "edit" mode and what does this look like?

Some options:
* the edit form is a different "screen"
* clicking an edit button/link will turn the area into a form (like in the prototype built by EMF)
* editing happens inline, "Trello-style"

Pros and cons of each approach? Other approaches?

[2016-08-12 10:33] mk4111 opened #33 "Tech Stack (WIP)"
Some preliminary thoughts on tech stack...
### Front End

Things to think about:
- Will the app be dynamic? Do we need it to be real time? (The options below are suggestions made on the assumption that this will be a relatively dynamic app)
- How 'mobile' do we need the app to be?
- Will there be a disadvantage/an advantage if the app is Client-side heavy? Is a single-page app a good idea?
- Do we

[2016-08-12 16:47] asimonw commented on #33
Some thoughts on this below.

### Frontend

* We definitely have a dynamic app in mind. None of the features we're considering for the first sprints would require real-time, but we can definitely see a good use for it for later features (messaging/chat, user activity on the platform etc)
* Regarding hybrid app options: I think it might make a lot of sense to first focus on a responsive web app sol

[2016-08-14 14:07] nelsonic commented on #33
https://github.com/dwyl/technology-stack

[2016-08-15 09:04] asimonw commented on #33
Your comments make a lot of sense to me @nelsonic.

I really don't see the need to build a Native version at this point (and foreseeable future). In any case, having to worry about two code bases before understanding and testing core features makes no sense. (I also really like the Progressive Web App idea.) Happy to go with your "default" tech stack (Redis etc). We didn't include free text search

[2016-08-15 11:45] JMurphyWeb commented on #10
@asimonw I don't know if this is aimed at us but unless editing needs to be done very regularly, I feel like option 1 or 2 would suffice.  A primary member will be filling in details on their organisation in the first place, so would it make sense to bring them back to a this view (with populated fields) if they want to make a change?

Mission statement & tags seem unlikely to change too much over

[2016-08-15 12:14] JMurphyWeb commented on #15
@asimonw so profile/expertise tags are a subset of the challenge tags?

Maybe give an example of a case where tags do not fit nicely into both profile and challenge cards?

[2016-08-15 12:23] mk4111 commented on #23
@asimonw will the suggested tags be:
(a) Sent off to the EMF Team for approval and only be displayed if/when approved? or
(b) Displayed on the platform straightaway (i.e. without moderation or approval)?

In the case of (a), what tag is displayed for the challenge being posted (if it is at all), while we wait for approval?

[2016-08-15 12:30] asimonw commented on #10
@JMurphyWeb yes I do think 1 or 2 is fine, and on mobile they're pretty much the same thing. If the user clicks on the edit button, the screen turns into a form. The same form is presented (with already populated fields containing existing text) for updates. Does that make sense?

Btw, I can confirm, only mission statement and tags need to be editable by primary users.

[2016-08-15 12:36] mk4111 commented on #27
Hi @/all! Will this be a list of _all_ primary users? i.e. with no filters applied?
Will the expertise tags of each primary user be displayed along with their contact details?
If not, how would a primary user know whether they might be interested in talking to another primary user?

[2016-08-15 12:36] asimonw commented on #15
@JMurphyWeb There will be a general "tag pool" but the tags have a different purpose depending on context. When used at the profile level they are expertise/knowledge tags, when used on a challenge card they characterise the challenge.

For example, if you're an expert in biomimicry, you'll want to tag your profile with that. On the other hand, you might not be an expert, but one of your challenge

[2016-08-15 12:39] mk4111 commented on #28
@asimonw could you explain in a little more detail what you mean by signposts?
Should they be like a 'step-by-step' guide on navigating and using the platform?
Should they display every time a user logs in, or only on the very first time that they enter the platform?

[2016-08-15 12:44] asimonw commented on #23
@mk4111 Our current thinking is more along the lines of (a).

The tag would be sent off to EMF for consideration (how? email/notification, possibly stored and accessible in the db somehow). We might not approve immediately but wait to see whether there is a more general need. In the meantime, this tag is not added to the profile/challenge or tag cloud. This story should really just be seen as a fe

[2016-08-15 12:44] JMurphyWeb opened #34 "Wireframes additional info"
Thanks for great [wireframes](https://zpl.io/1NP3uu) @fannyBkane, it would really help to add a brief description in zeplin to the views with info like:

- who is logged in and a little bit more detail about the view they are in (eg. Laura (primary user) logged in on her personal profile page)

- might also be helpful to know how the user got to that view (eg: my profile > edit)

[2016-08-15 13:40] JMurphyWeb commented on #15
@asimonw Can you give an example where a tag can be used on a profile to show an 'expertise' but cannot be used for a 'challenge' card? or vice versa?

[2016-08-15 13:43] JMurphyWeb commented on #10
Yeah that sounds good.

[2016-08-15 14:08] mk4111 opened #35 "Tags"
Hi @emfoundation/dwyl could we ask you for the pool of tags please? We thought it would be better to ask for them up front! Hope that's ok!

[2016-08-15 14:09] asimonw commented on #27
@mk4111 Since the expertise tags characterise organisations and not the primary users themselves, this list will be a simple contact list without tags. This might be a bit confusing at first because there will be one user per org. In a future iteration, we will probably allow users to tag themselves with expertise/interests as well and then it will make sense to also filter users by tags.

[2016-08-15 14:10] JMurphyWeb commented on #10
@asimonw  At the moment they are sort of one and the same, but in general are expertise tags attached to the company or the primary user?

[2016-08-15 14:14] JMurphyWeb opened #36 "Our permissions"
I think @mk4111 and I need to be granted further permissions in the repo settings?

@asimonw

[2016-08-15 14:16] mk4111 commented on #11
Hi @asimonw, I hope you don't mind my asking but I was just wondering what the benefits of having the two-level tag system, over a one-level tag system from the very beginning would be.

Is it possible that by categorising the tags (i.e. children) into groups (i.e. parents), some restrictions might be imposed on the way that the users may select the tags?

I can see the grouping being beneficial i

[2016-08-15 14:18] asimonw commented on #28
@mk4111 Have a look at the wireframes as well. By signpost we just mean a title and some description of the feature. These would then link to the different relevant screens (so, much less than a step-by-step guide at this point, although it might be a nice idea once the features get richer).

We would show this screen every time someone logs in. It's kind of a simple home screen, highlighting the

[2016-08-15 14:18] mk4111 commented on #27
@asimonw that makes a lot of sense!! Thank you!! :)

[2016-08-15 14:20] asimonw commented on #15
@JMurphyWeb not sure I understand the question. All the tags could potentially be used on both.

[2016-08-15 14:29] JMurphyWeb commented on #14
@asimonw slightly struggling to 'picture' this view, is it in the wireframes?

[2016-08-15 14:31] asimonw commented on #10
@JMurphyWeb they are attached to the organisation. Personal expertise/interests would potentially be a later feature.

[2016-08-15 14:35] asimonw commented on #36
@JMurphyWeb I forgot to invite you both to the dwyl team. Done now. Let me know if that doesn't solve it.

[2016-08-15 14:35] JMurphyWeb commented on #15
OK great.

[2016-08-15 14:44] mk4111 opened #37 "Wireframes for Primary Users and Organisations"
I think we might be missing a few wireframes - the ones that we would really benefit from are:

- how a primary user might edit their own details and their organisation's info.
- recommended primary users and/or organisations,
- matching challenges #16
- searching by tag-name #20 and #21
- the call to action display #18
- how challenges can be 'shared' #12

I notice that the majority of these are

[2016-08-15 14:45] mk4111 commented on #28
Got it, thank you @asimonw!

[2016-08-15 14:45] asimonw commented on #11
@mk4111 no problem at all, perfect question. The only reason at this point is so that we can make the navigation through the tags easier in the UI. There are at least 100 tags already and that number will most likely increase. By grouping them, we add a bit of context to the tags and make them easier to parse for the user. One example is the parent tag "Location" with different countries as child

[2016-08-15 14:56] LucyJW commented on #35
Hi I have just shared this with @emfoundation/dwyl via Google Sheets. I couldn't share it with Jack's Founders & Coders email as it is not a Gmail account. If you have another address I can update. Thanks.

[2016-08-15 14:57] LucyJW commented on #35
These tags are a work in progress as we are currently refining a Foundation-wide topic taxonomy for EMF which will feed into this - certain tags will change. Let me know if there is a deadline you need for a more "final" version. Although we will always need admin rights to change these.

[2016-08-15 14:58] asimonw commented on #14
@JMurphyWeb it's not a separate view per se. After a user has created a challenge, underneath that challenge card on the profile page, he would see a list of orgs with matching expertise tags. We haven't mocked it up yet, because we pictured it would be part of the second sprint, but we can send through some lo-fi drawings to make it clearer.

The same applies to #15 and #16. They both appear on a

[2016-08-15 15:50] asimonw commented on #37
We've renamed some of the wireframes and added a description in Zeplin. I will also attach the relevant mockups to every user story.

* The first item (edit user details and org profile info) is covered in the current set. I hope it's clearer now that we've renamed them.
* We still need to add admin screens, but for those the look and feel is less important.
* The stories with lower priorities don

[2016-08-15 15:51] asimonw commented on #37
Actually, #12 is also covered in the current set of wireframes. It's hopefully be clearer once I've attached the relevant mockup.

[2016-08-15 15:57] asimonw commented on #34
@JMurphyWeb I sort of answered this question in #37. All wireframes shared so far are for primary users. Are the new titles and added descriptions helpful?

[2016-08-15 16:13] JMurphyWeb commented on #36
👍

[2016-08-15 16:13] #36 closed

[2016-08-15 16:41] JMurphyWeb opened #38 "Data structure"
Not yet formatted as you requested @nelsonic but we have been thinking:

[code]

What do you think about tag data structure? we have been having a little discussion and are slightly unsure on how much data per request we should be passing to front end ( eg more client-side state management but less requests -> option 2).

[2016-08-15 16:49] JMurphyWeb commented on #14
ok, i think that is clear. Could we add a brief description to new wireframes indicating who is logged in at the time, as in #34

[2016-08-15 16:52] JMurphyWeb commented on #34
great thanks

[2016-08-15 16:52] #34 closed

[2016-08-15 16:57] JMurphyWeb opened #39 "wireframes in the wiki"
Is it ok for me to add the zeplin link to the 'wiki' of this repo?

@asimonw
@fannyBkane

[2016-08-15 17:04] fannyBkane commented on #39
Yes it's fine.

[2016-08-15 17:09] #39 closed

[2016-08-16 08:51] mk4111 commented on #37
Hi @asimonw, thank you for your reply! The renaming has helped us a lot - thank you!! We will get an estimate of how many, and which stories, we think we will be able to implement in the first sprint asap! Hope that's ok!

[2016-08-16 08:53] mk4111 commented on #35
Hi @LucyJW, thank you for sharing this with us! Jack's google email address is [jmurphy.web@gmail.com](jmurphy.web@gmail.com) - if you could add him too, that'd really help us! Thank you very much again!

[2016-08-16 08:56] mk4111 commented on #11
@asimonw , that makes sens! Looking at the tags on the Google Spreadsheet that @LucyJW gave us access to really helped too! Thank you!!

[2016-08-16 09:27] JMurphyWeb commented on #1
- one view to create user & organisation

[2016-08-16 09:38] LucyJW commented on #35
Hi @mk4111  and @JMurphyWeb  - I have now shared it with you. Thanks.

[2016-08-16 10:00] asimonw commented on #1
@JMurphyWeb Not sure if this is a question, but I would suggest managing users and orgs in different views. What we have in mind is to attach a primary user to an org. So, in the org admin edit view, there would be a user field, e.g. a drop down field allow you to select an existing user.

[2016-08-16 10:30] JMurphyWeb opened #40 "set up of project"
Set up 16/08
- [x] hapi
- [x] joi
- [x] redis
- [x] heroku
- [x] sass
- [x] handlebars
- [x] auth (jwt?)
- [x] mailgun

Testing

- [x] codecov
- [x] circleCI
- [x] tape

[2016-08-16 10:41] JMurphyWeb opened #41 "Admin can create new user"
technical tasks related to #1
- [x] basic interface
- [x] first_name, last_name, user_type, organisation
- [x] validate request
- [x] create route
- [x] addUser db function
- [x] save to db
- [x] add 'admin' auth scheme

[2016-08-16 10:47] JMurphyWeb opened #42 "Send notification email to new user"
Linked to #1 & #41

- [x] ~~sign up to mailgun~~ --> swapped out for sendEmail npm module
- [x] make api call
- [x] make sure url has userId

@asimonw can we have notification email content?

[2016-08-16 10:59] JMurphyWeb opened #43 "primary user can activate account"
linked to #2 & #6

- [x] create activation landing page (id in url)
- [x] fields: password, confirm password (validation)
- [x] submit button
- [x] route
- [x] check timestamp for last login is null
- [x] add password field to db
- [x] set cookie (jwt?)
- [x] redirect landing page

[2016-08-16 11:01] mk4111 commented on #35
@LucyJW Thank you!!! :)

[2016-08-16 11:01] #35 closed

[2016-08-16 11:03] nelsonic commented on #38
@JMurphyWeb / @mk4111 models look good.
i would make `users` --> `people` (_being picky about how I describe people using the app_)
and I would allow people to be members of multiple organisations from the start.
so `people.orgs: Array`

data is *fairly* "relational".
we should get some feedback from @asimonw as to how they expect to *query* the data.

[2016-08-16 11:17] JMurphyWeb opened #44 "admin managing existing users"
view linked to #3 and #4

- [x] list basic info all members on db
- [x] admin clicks on a member, show new view for details of that member
- [x] display all admin-editable fields
 - First name (req)
 - Last name (req)
 - Email (req)
 - Job Title
 - Phone Number
 - User Group (Admin or Primary) (req)
- [x] submit / delete/ cancel buttons
- [x] submit route
- [x] delete route
- [x] submit db call
-

[2016-08-16 11:18] asimonw commented on #38
@JMurphyWeb I don't know how you're setting up tags, but I suggest also using ids to uniquely characterise them.  One immediate benefit is that the display name can be changed easily, without unnecessary data migrations or what not.

@nelsonic People won't ever be in multiple orgs (fingers crossed), but several people can be part of the same org. I was thinking it would be better to have `Organisa

[2016-08-16 11:25] asimonw commented on #40
@JMurphyWeb are you going to use something like Backbone? If you only want to use bits of it, something like Ampersand could be useful.

[2016-08-16 11:28] asimonw commented on #41
@JMurphyWeb see my comment in #38. I think it's better to set users as a property of an org rather than the other way round. That way you can easily capture all users belonging to an org as an array in one place. (Although at this point there will only be one user per org.)

[2016-08-16 11:29] JMurphyWeb opened #45 "user log in view"
a user can log in to the app #5

- [x] route
- [ ] if cookie there, redirect to landing page --> see #307
- [x] else serve login page
- [x] inputs: email, password, submit
- [x] route
- [x] db functions
- [x] redirect or respond with error

[2016-08-16 11:40] JMurphyWeb opened #46 "admin create new organisation view"
linked to #8

- [x] route
- [x] check permissions
- [x] serve basic page
- [x] inputs: title, logo, ~~primary user email address (possibly drop down)~~
- [ ] images will need to be stored in AWS S3 --> See issue #55
- [x] submit button
- [x] route
- [ ] ~~db check the primary user exists~~
- [x] db add organisation
- [ ] ~~db update  primary user organisation field~~
- [x] response success/ error

[2016-08-16 11:47] JMurphyWeb opened #47 "admin managing existing organisations"
linked to #9

front end similar to #44 - reuse?

- [x] admin clicks on a member, show new view for details of that member
- [x] list basic info all members on db
- [x] display all admin-editable fields
 - Title (req)
 - Logo
 - Primary User (req)
 - Description
- [x] submit / delete/ cancel buttons
- [x] submit route
- [x] joi validation
- [x] delete route
- [x] submit db call
- [x] delete db call

[2016-08-16 12:12] JMurphyWeb opened #48 "primary user can view and edit their organisation"
linked to #10

View:
- [x] route
- [x] query db
- [x] serve basic page with edit buttons showing
- [x] display tags
- ~~[ ] link to edit tags~~
- ~~[ ] add tags button~~
- [x] create challenge card button
https://app.zeplin.io/project.html#pid=57ac9b5692d0c316520caeca&sid=57d985d9895d1e04118eff10
... todo check with zeplin

Edit:
- [x] route
- [x] query db
- [x] serve basic page with populated for

[2016-08-16 12:42] JMurphyWeb commented on #11
@asimonw I think some basic wireframes indicating what features you want in this view and how it should look/work would help.

[2016-08-16 12:42] asimonw commented on #42
@JMurphyWeb we'll get a temporary text over to you soon, but it might still change.
How will it work? Will the email contain a link to an activation page? Ideally, that page would immediately ask the user to create a password.

[2016-08-16 12:49] JMurphyWeb opened #49 "primary user can create a challenge card"
linked to #12

- [ ] route
- [ ] serve
- [ ] inputs:
 - title description
 - add tags button
 - submit / cancel buttons
- [ ] submit route
- [ ] query db (add to challenge_id card id to user_db and organisation_db)
- [ ] response success -> redirect / error -> display error

[2016-08-16 12:53] asimonw commented on #44
@JMurphyWeb Editable fields for user admin

* First name (req)
* Last name (req)
* Email (req)
* Job Title
* Phone Number
* User Group (Admin or Primary) (req)

Notes: we decided to make all user fields editable by admins. Only the ones with (req) are essential for the admin edit view. Those are the ones which should be required in the user model in general. But do add the other ones as well if it

[2016-08-16 13:04] asimonw commented on #46
@JMurphyWeb The editable fields (title, logo, primary user) are correct, but I would reference the user by id. I suggest pulling out the list of all users in a drop down. The value could just be the id, but you display the email address. Doing everything based on id makes it possible to easily change how we refer to a user in the UI (e.g. if we decide to add first and last name later on). The only

[2016-08-16 13:09] asimonw commented on #38
Just noticed that the user model doesn't have an id. @nelsonic @JMurphyWeb do you agree with the approach to characterise every basic element (user, org, challenge, tag) uniquely with an id?

[2016-08-16 13:13] asimonw commented on #47
@JMurphyWeb Editable fields are

* Title (req)
* Logo
* Primary User (req)
* Description

I added the description (mission statement) -> nice to have but not essential

[2016-08-16 13:38] asimonw commented on #11
![fullsizerender](https://cloud.githubusercontent.com/assets/15235804/17700754/ffc0f3b4-63be-11e6-9d60-2b71a2d498ae.jpg)

[2016-08-16 13:43] asimonw commented on #11
@JMurphyWeb hopefully that's clear enough. The list view shows a two-level list and an add button. Clicking on Add or clicking on an existing tag takes you to the edit view. A tag only needs a name/title and a parent tag. If it's a parent tag that you're creating/editing, you simply don't select a parent tag.

I forgot to mention this for other models, but it would be great to have an "Enable" boo

[2016-08-16 14:00] JMurphyWeb commented on #41
Yes thanks i will ammend data structure now.

[2016-08-16 14:26] JMurphyWeb commented on #38
@asimonw

- agree regarding an id for each data type. Added.
- an array of users attached to each organisation will definitely be necessary once secondary users enter the fray. Have added for now but i was under the impression we were not including secondaries for now.
- left multiple orgs per person **out** as per your instruction.

@nelsonic
- I think we have adapted to fit in with your first co

[2016-08-16 14:27] JMurphyWeb commented on #40
Thanks for recommendations Alex, it would be great to have some input from @nelsonic here. I know riot.js was mentioned but I don't have experience with either and we have been a little unsure on client side state management etc.

[2016-08-16 15:10] asimonw commented on #38
@JMurphyWeb indeed no secondary users for now, but makes sense to start treating it as an array already.

[2016-08-16 15:35] JMurphyWeb commented on #38
There will only ever be 1 primary user right? I think it makes sense to store that user in it's own organisation field `primary_id`
Then another field on the organisation being an array which can hold all secondary_users attached to that org.
What do you think?

[2016-08-16 16:03] mk4111 opened #50 "Tags system"
A new issue has been created to discuss the data model for the two-level tags system.

We need:
- [ ] to provide a unique ID to each of the parent/child tags
- [ ] to relate the parent tags with the corresponding child tags
- [ ] a way in which we can tell which of the parent/child tags are enabled(/disabled).

We hope that the examples below illustrate the options that we have come up with to mee

[2016-08-16 16:15] asimonw commented on #38
Good question.. I think there might be scenarios where having multiple primary users will make sense (e.g. so that managing other users for the org can be done by more than one person). I think it's cleaner to determine the behaviour/access based on the user group, and not by in a way duplicating that info in the org model.

One problem might be how we specify which contact info to display on the

[2016-08-16 16:43] asimonw commented on #38
@JMurphyWeb Could you also add the boolean field "Enabled" to People and Organisations, like for Tags? Apologies for missing that one. Again, this field is simply to allow for the option to make a person or org inaccessible without having to delete them from the db.

[2016-08-16 16:53] mk4111 commented on #40
@asimonw, we're just setting up Redis on Heroku. It's the trial version, so it's free, but we need a credit card on there to install the add-on - could you please add one to Heroku?

The heroku account for ce100 has been created using a google email address that we created for ce100 - I'll email the details to log in to you straight away.

[2016-08-16 20:31] JMurphyWeb commented on #38
Done. Tags need work still covered in #50.

[2016-08-16 20:34] JMurphyWeb commented on #47
Updated. Thanks.

[2016-08-16 20:38] JMurphyWeb commented on #46
Absolutely. I meant purely from a UI perspective. I have updated task list.

[2016-08-16 20:46] JMurphyWeb commented on #42
Yes that is what we are aiming for. See #43. Changing content not a problem.

[2016-08-16 21:15] JMurphyWeb opened #52 "Hamburger menu in wireframes"
I don't think there is any indication as to what should happen after pressing the hamburger button in the navigation bar from the wireframes.

@fannyBkane @asimonw

[2016-08-17 07:56] JMurphyWeb opened #53 "Admin views"
**Views**

[code]

We are hoping to make most of these views reusable.

What do you think @nelsonic?

[2016-08-17 08:36] fannyBkane commented on #52
Uploaded a screen to Zeplin: Burger>open

*Fanny Breteau*
Designer ~ Digital Team

t: +44 (0) 1983 296 463
e: fanny.breteau@ellenmacarthurfoundation.org
<scs@ellenmacarthurfoundation.org>

<http://ellenmacarthurfoundation.org>

On 16 August 2016 at 22:15, Jack Murphy <notifications@github.com> wrote:

[2016-08-17 08:37] iteles commented on #40
@mk4111 @JMurphyWeb As suggested, please also add your testing setup, circle-ci and codecov to the list 👍

[2016-08-17 08:42] mk4111 commented on #40
@iteles , we've amended the original post to reflect this :) Thank you for pointing it out!

[2016-08-17 08:46] asimonw commented on #52
@JMurphyWeb to clarify, latest is related to #31, Directory is just a contact list #27 and you already have the Settings screen #29. The wording might still change though...

[2016-08-17 08:53] asimonw commented on #40
@mk4111 @JMurphyWeb Out of curiosity, how will you approach the CSS? Preprocessors? And are you setting up something like Browserify or Webpack?

[2016-08-17 08:59] LucyJW commented on #42
Hi @JMurphyWeb and @asimonw

Please find some temporary text below, let me know if you have any feedback:

Welcome to the CE100 matchmaking app.

We want to help you make the connections that can accelerate your progress in the programme and help you collaboratively solve your circular economy challenges.

To get started, please reset your password using the link below to enable your account.

***

[2016-08-17 09:11] JMurphyWeb opened #54 "folder structure"
**Folder Structure**
[code]

Been thinking something like this as a basic folder structure. Feedback appreciated .

@nelsonic

[2016-08-17 09:18] LucyJW commented on #42
A name for the app is yet to be defined so is referred to internally as a 'matchmaking app' for now.

[2016-08-17 09:31] mk4111 commented on #46
@asimonw will the images be uploaded as urls or as files (i.e. will they be hosted on a separate server or will we need to set up AWS to store these)?

[2016-08-17 09:34] mk4111 commented on #46
Once we know how the images will be uploaded, we will be able to timebox this and thus see whether we can put this into the Sprint 1 milestone

[2016-08-17 09:47] asimonw commented on #46
@JMurphyWeb @mk4111 As discussed, they will be uploaded and should be stored on AWS.

[2016-08-17 09:52] mk4111 opened #55 "Add logo to organisations"
Add logo functionality to edit org view.

I think we want to add this functionality to add org view.

Need to check if a user can edit/add their organisations logo.

[2016-08-17 09:55] mk4111 commented on #46
We timeboxed this issue _excluding_ the AWS S3 set up, which we estimate to take 4 hours. So we envisage this issue to be completed in approximately T1.5days

[2016-08-17 09:57] mk4111 commented on #48
Removed from Sprint 1 for the time being, as we are still unsure on how to host the tagging system in the database

[2016-08-17 10:39] asimonw commented on #50
@mk4111 @nelsonic My feeling (but I'm no Redis expert by any means) is that option 1 is a bit clumsy. One way I've seen this parent/child thing done before is by storing all tags in a flat array, every item being a hash with a link to its parent

[code]

Items without a parent (i.e. the parent tags themselves) simply have a null value (or -1 if you want to have a pure type).

This makes it perform

[2016-08-17 13:26] JMurphyWeb commented on #52
cool thanks! Maybe create a new issue an put a priority on it @asimonw ?

[2016-08-17 13:32] asimonw commented on #52
Good point. The nav is not covered in any user story because I imagine you build it as you create new screens. But I'll put in a story for a "finalised" nav as priority 3.

[2016-08-17 13:37] asimonw opened #56 "Navigation for primary user"
As a primary user, I can use a persistent navigation, so that I can access the main features of the app in a consistent way.

[2016-08-17 13:42] asimonw commented on #56
On mobile, this is separated into a bottom nav:
* Browse (we might end up calling it "Explore") -> #20
* Add challenge -> #12
* Profile -> #10

And a top burger nav:
* Latest -> #31
* Directory (might turn into "Contact list") -> #27
* Settings -> #29

[2016-08-17 13:43] asimonw commented on #52
Done #56

[2016-08-17 13:49] asimonw commented on #48
@mk4111 It might make sense to create a separate task for tag management by primary users. It's exactly the same for profiles and challenges, and it allows you to go ahead with other parts of this story. It will also be easier to estimate these things separately.

[2016-08-17 13:53] JMurphyWeb commented on #52
great.

[2016-08-17 13:53] #52 closed

[2016-08-17 14:01] asimonw opened #57 "Profile public view"
As a primary user, I can see other organisation profiles, including contact details and enabled challenges, so that I can find out more about other organisations in the network.

[2016-08-17 14:03] asimonw commented on #57
By clicking on a challenge you see a details view.
On the profile of your own organisation, you see edit icons which allow you to edit profile info or challenge card details.

[2016-08-17 15:04] mk4111 commented on #41
@asimonw, we have made a note to include primary users as a property of an organisation, but would it be helpful for you, if we include the organisation name as a property of the primary user too?

We can see this being helpful when displaying/sharing primary user's profiles.

[2016-08-17 15:48] asimonw commented on #41
@mk4111 This might be relevant for #27 (for example), where we'll want to display the org along with every user on the platform. It would indeed be more performant to have the org id stored as a property of the user as well.

The only trade-off there is that I do want to avoid admins having to do this duplication manually. Could you make sure that every time a user is assigned to an org by an admi

[2016-08-17 15:50] JMurphyWeb commented on #41
Yeah that is how we are hoping the flow to be. No extra work for the admin...

[2016-08-17 15:51] asimonw commented on #41
Perfect!

[2016-08-17 16:35] asimonw commented on #22
![fullsizerender](https://cloud.githubusercontent.com/assets/15235804/17744553/1ae9f8ca-64a0-11e6-8bc8-936b57669faf.jpg)

Feedback widget on every screen. One text field. Should send email with sender email address and name pre-populated. Ideally, it would also indicate the page the user was on.

[2016-08-17 16:37] asimonw commented on #27
![fullsizerender_1](https://cloud.githubusercontent.com/assets/15235804/17744775/18e2d9ba-64a1-11e6-81fc-e6f08088142e.jpg)

List of users: first name, last name, job title and org displayed by default. Items expand on click/tap revealing email and phone number as well.

[2016-08-17 16:49] asimonw commented on #20
![fullsizerender_2](https://cloud.githubusercontent.com/assets/15235804/17744851/6dccc102-64a1-11e6-8df6-42def9e7df7e.jpg)

Clicking on Explore (used to be Browse) shows a screen with broadly three options. Either show all orgs (alphabetically, lazy load on scroll if necessary), all challenges (latest first) or select a tag. They all lead to the same view in a different state. The view has a tag d

[2016-08-17 16:54] asimonw commented on #14
![fullsizerender_3](https://cloud.githubusercontent.com/assets/15235804/17745292/38523122-64a3-11e6-8670-1b64ad3662a0.jpg)

List of recommendation appears underneath a challenge card. Initially, we'll go for a simple matching "algorithm": show all orgs which have an expertise tag which matches one of the tags of the challenge. To be fine tuned at a later stage.

[2016-08-17 16:59] asimonw commented on #18
![fullsizerender_4](https://cloud.githubusercontent.com/assets/15235804/17745470/c1e29f3a-64a3-11e6-923b-cb4de4359781.jpg)

Continued from #14. When clicking on one of the matches, the user is presented with two options:
* a simple link to the respective org profile
* send a notification to the primary contact of that org (initially, the notification could be fully automated, standard text, with t

[2016-08-17 17:08] asimonw commented on #31
![fullsizerender_4](https://cloud.githubusercontent.com/assets/15235804/17745626/7b2edb02-64a4-11e6-99c4-03acd2b66874.jpg)

A simple list of news items, with title, date/time and text (might include links), no images or other media at this point. This list could also contain automated messages (e.g. new member joining) or even personalised ones (new match was made for your challenge, ...). To be f

[2016-08-17 17:10] JMurphyWeb opened #58 "creating unique id's"
What do you recommend we use as a unique key for an organisation in the DB?

we were planning on using the following pattern:

`org:SomeUniqueValue`

Possible solution:
create a set `allOrganisations`
each time we want to create a new org,

1. Get the length of the `allOrganisations` set (0 for the first org)
2. Add the new org to the above set
3. Create a new organisation in the db with an id of

[2016-08-17 17:25] JMurphyWeb commented on #58
I guess the question can be extended for
 - users
 - (possibly use email address?) user:jmurphy@foundersandcoders.com
 - challenge cards (although could use a combination of creator email and the index of that card that has been created by that user )

eg if i made my first card, its id could be:
card:jmurphy@foundersandcoders.com0

We are considering using Aguid to hash the email addresses too bu

[2016-08-17 17:55] JMurphyWeb opened #59 "Add redis to circle ci"
https://circleci.com/docs/configuration/#services

[2016-08-17 18:09] nelsonic commented on #50
@asimonw my suggestion is to "MVP" the tagging by storing the entire tag tree in a .json file the way it was in the previous project: https://ce100.ellenmacarthurfoundation.org/json/topics.json

[2016-08-17 18:11] nelsonic commented on #58
https://github.com/nelsonic/uniki

[2016-08-18 08:30] asimonw commented on #50
@nelsonic At least, that structure works really well in Handlebars (and JS in general of course). Is there a problem with storing it like this in Redis or are you concerned about the time it will take to build the admin interface? It could be fine to not have an admin UI for it for the MVP. It won't change that often and updating a .json file is easy enough.

To Marie's point about deep copying (a

[2016-08-18 08:33] JMurphyWeb commented on #59
This should be done

[2016-08-18 08:46] asimonw commented on #58
@JMurphyWeb @nelsonic Will you use aguid with the user's email? How does that work when a user changes email? Does the GUID stay the same, based on the old email? (And we assume the old email will unlikely ever be used again? Or we mix in some timestamp info to be finicky...)

[2016-08-18 10:20] nelsonic commented on #58
@asimonw good question. we should add the "user changes email address" story to the backlog.
At present we do not have that use-case captured in https://github.com/emfoundation/ce100-app/issues/1
I would say that when the person *changes* their email address we will need to *alias* their existing account to lose the previous challenges they have created. but we should *really* only consider that s

[2016-08-18 11:03] asimonw commented on #58
@nelsonic Managing the user details (by admin) is captured in #3 although what needs to be managed is not made explicit (we were thinking everything...). In #29 we talk about users being able to manage other fields, but not email. I think in the long term an admin needs to be able to manage email changes somehow.

The challenges would be associated to an org on the other hand, so I don't see why e

[2016-08-18 13:26] mk4111 commented on #45
Admin label has been added to make note of the fact that both primary and admin users will be entering the app through this log in view.

[2016-08-18 13:32] JMurphyWeb commented on #5
Adding 'admin' label as we will use this view for both primary users and admins

[2016-08-18 13:34] JMurphyWeb opened #60 "Tag management JSON file"
As an admin I can manage the tags via a JSON file on github.

Instructions will be provided as to how this is done.

relates to tag management gui #11

[2016-08-18 13:35] mk4111 commented on #11
@asimonw from our morning stand up this morning on Nelson's suggestion [#50](https://github.com/emfoundation/ce100-app/issues/50#issuecomment-240497772), could you please re-prioritise this, as we now no longer require a GUI to manage the tags (and will use a JSON file on version control to manage this, #60 ).

[2016-08-18 13:49] asimonw commented on #11
De-prioritised. We'll review this and its priority after the MVP.

[2016-08-18 14:46] mk4111 commented on #50
Closed as #60 was agreed on.

[2016-08-18 14:46] #50 closed

[2016-08-18 14:57] JMurphyWeb opened #61 "add tags view"
A user can add tags to an organisation and a challenge.

This view is linked to #10 #12 #13

[2016-08-18 14:58] #54 closed

[2016-08-18 14:58] JMurphyWeb commented on #54
added to wiki

[2016-08-18 15:00] JMurphyWeb commented on #53
Added to wiki

[2016-08-18 15:00] #53 closed

[2016-08-18 15:02] mk4111 opened #62 "Primary user: managing challenge cards"
Linked to #13
On edit, similar view to #49

- [ ] Create option to edit a challenge card on the profile of an organisation.
- [ ] Create(?) route to: get challenge details, insert challenge details into template and serve up page.
- [ ] Fields: Title, Description, Tags, Archive.
- [ ] Create route to process edits made to the field.
- [ ] Overwrite existing database entry.
- [ ] Send back success/

[2016-08-18 15:12] mk4111 commented on #57
@asimonw are there wireframes for this please? I think I'm a little confused about whether you want:
- a view for the primary user, displaying all the organisations on the network + another view displaying a specific organisation's details, or,
- a view displaying a specific organisation's details, but _also_ showing an edit buttons to user's who are the primary users of that organisation.
Hope I'

[2016-08-18 16:01] asimonw commented on #57
@mk4111 The corresponding wireframe is called "Profile (non editable)."

What we have in mind is essentially your second suggestion. There is a way to browse all org profiles on the network, this is #20 (and #21)  As a primary user, this means you could be looking at either your own org's profile (by navigating to "Profile") or another one (by browsing). We call this a private and a public view, r

[2016-08-18 19:37] asimonw commented on #58
@nelsonic Just to make sure this isn't blocking while I'm on leave: if using email to generate the id and aliasing the account when the email needs to be changed is the best option in your experience, go for that.

[2016-08-23 15:24] mk4111 opened #65 "TravisCI"
Hi @emfoundation/admins ,

I've just requested for a tool called 'TravisCI' to have access to this repository (emfoundation/ce100-app).
An email should have been sent to one or more of the admins - could someone please grant us/TravisCI access?

Thank you!

[2016-08-23 16:20] fannyBkane commented on #65
Hey @mk4111 I'm afraid the soonest we can do this is Tuesday. I hope it's ok.

[2016-08-25 10:04] vicky-d1 commented on #65
Hi @mk4111, I don't seem to have received an e-mail referring to TravisCI would you be able to retry as both Alex and I are admins so it should come through?

[2016-08-25 13:03] vicky-d1 commented on #60
Hi @JMurphyWeb it would be great to understand a little more about the process for this to inform the design of the admin view.

[2016-08-30 20:48] iteles commented on #60
@vicky-d1 There's a little more of our discussion with @asimonw and what we agreed in https://github.com/emfoundation/ce100-app/issues/50 but we'll talk through it on our standup tomorrow morning 😊

[2016-08-31 09:43] mk4111 opened #66 "Write set of instructions for updating tag system"
Linked to #60

[2016-08-31 14:12] JMurphyWeb opened #67 "Auth on routes"
- [x] Set up auth strategy
- [x] Add auth tests
- [x] Add scopes
- [x] Pass user credentials to handler

[2016-08-31 14:27] mk4111 commented on #65
@fannyBkane and @vicky-d1 thank you! Just received an email confirming that TravisCI has been given access to this repo! Yay!

[2016-08-31 17:24] mk4111 commented on #46
@asimonw the option to add a primary user at this stage has been removed, as we think the user flow becomes complicated if we - at this user flow stage - try to add a primary user (for whom there is no entry in the database), as it would mean that when creating the primary user's account.

We think that adding the organisation (without involving details of a primary user) and then adding a primary

[2016-09-01 08:01] iteles commented on #65
:tada:

[2016-09-01 08:01] #65 closed

[2016-09-01 09:07] vicky-d1 commented on #46
@mk4111 For an organisation to be notified of things such as matches, or requests to affiliate with them as a primary user would the org need an email address, which at this stage would be the primary users anyway? In your proposed scenario until a primary user has affiliated with an org would the org receive notifications? Would there be an approval process when requesting to affiliate with an or

[2016-09-01 09:16] JMurphyWeb commented on #46
@vicky-d1 in case it isn't clear here is the basic flow:
Admin sets up an organisation. Admin then sets up a primary user and "attaches" them to that organisation.

It could make sense to hide any "unattached" organisations from the other users of the app as there would be so little information on their page?

[2016-09-01 09:17] vicky-d1 commented on #46
@JMurphyWeb Thanks for clarifying - that makes sense at this stage when we have 1 user per org.

[2016-09-01 10:46] vicky-d1 commented on #46
@JMurphyWeb we will update the designs for the admin view of +orgs (zpl.io/1WUXfN) & +user (zpl.io/Z2bByBq) to reflect the change. For +org we will remove the user field, for +user we will remove primary user tick box and include an org drop down list to choose from @fannyBkane

[2016-09-01 10:50] vicky-d1 opened #71 "How do we set up admins?"
Apologies if I've missed this, currently in the designs we don't reflect how an admin would add another admin user. How are you planning on setting up the initial admins?

[2016-09-01 13:30] vicky-d1 opened #72 "Admin user also primary user to Organisation"
As an admin are you able to be the primary user to an Organisation or would you have to have an admin account and a separate primary user account if we, for example, wanted to have an EMF organisation and detail our challenged and expertise?

[2016-09-01 15:29] vicky-d1 opened #73 "Admin user interface same as primary user"
We’ve looked at using the same interface for an admin and primary user and think it works, we would just have an 'add organisation’ button above the organisation search view, an ‘add news item’ button above the latest news and an ‘add user’ within the directory as well as the ability to edit relevant fields. We’ll make the changes to the designs and upload to zeppelin.

[2016-09-02 10:40] mk4111 opened #75 "Add TravisCI"

[2016-09-03 08:59] JMurphyWeb commented on #46
@vicky-d1 I don't think there are any real negatives except the admin loses a bit of flexibility in terms of the order that they must create new orgs and users, which shouldn't be a problem at this stage.  In general the more rigid that we make the admin's flow, the less time we have to spend on it. Worth remembering that most of these things will be able to change further down the line. Thanks fo

[2016-09-04 11:54] JMurphyWeb opened #76 "fix tests"
Adding auth has broken all tests.

Add a setup file to import some basic mock data that can be imported in any test file.

[2016-09-04 16:02] nelsonic commented on #75
@mk4111 you need to have `g++` for travis to be able to compile `bcrypt` ... see: https://github.com/dwyl/hapi-login-example-postgres/blob/master/.travis.yml#L9

[2016-09-04 23:07] nelsonic opened #79 "Unable to change assignee on issues/pull requests"
Hi team, I am unable to modify the assignee on issues/pull requests ... kind of required to do my thing... 😉

[2016-09-04 23:16] iteles commented on #79
@asimonw Please add  @nelsonic to the dwyl team as I don't have the permissions to 😊

[2016-09-05 09:26] mk4111 opened #80 "Add Phone Number to Primary User DB"
Phone number entry is currently missing from:
- user creation ( #41 )

[2016-09-05 11:44] asimonw commented on #79
Must have overlooked that. @nelsonic is added now. Please close if that solves it.

[2016-09-05 12:08] asimonw commented on #72
@vicky-d1 ad discussed, let's consider this option at a later stage. For now, admins will not be associated to an org (i.e. EMF won't be an org).

[2016-09-05 12:12] asimonw commented on #71
@vicky-d1 see #4. This should be reflected in the design, which is currently not the case.

[2016-09-05 12:18] JMurphyWeb opened #81 "only load environment variables once (in server.js)"
Only needs to be required once

[2016-09-05 13:43] JMurphyWeb commented on #45
@iteles I think at the time that we wrote this we were slightly confused of the benefit and thought it would be good to try to write a basic login ourselves.  I think we are missing some features that the plugin provides, but we felt that our requirements for the time being were met, so decided to stick to not using it for the time being.

On a side note, we don't really like the thought of a rout

[2016-09-05 13:54] JMurphyWeb commented on #67
@nelsonic @iteles
I looked at hapi-auth-jwt2 but ended up deciding to go with hapi-auth-cookie as it was a hapi module (therefore hopefully decent) and I can't remember exactly why but I felt more comfortable implementing it at the time.  I see the benefit of using a module created by dwyl, but is it ok to let me know if you guys feel there is something wrong with hapi-auth-cookie or iron (which I

[2016-09-05 14:24] asimonw commented on #46
@mk4111 @JMurphyWeb Since further down the line we will be creating more new users than new orgs and your proposal does make it a bit easier for an admin to create a new user and then assign them to an existing org, I agree with the new scenario.

I didn't see any risk for mis-spellings in the original scenario though.. the admin would never type in the name of the corresponding user, but select i

[2016-09-05 15:13] mk4111 opened #83 "Sort out CodeCov"
Add CodeCov to the earliest setup branch refactor-adds-tests

[2016-09-05 17:23] JMurphyWeb commented on #59
Now we are using Travis so this is redundant

[2016-09-05 17:23] #59 closed

[2016-09-05 20:52] JMurphyWeb opened #87 "promisify redis"
Some of our redis queries are getting a bit long and difficult to read. We were thinking we could promisify the redis functions that we use and hopefully reduce the size and increase the readability of our queries. I also hope the db functions could be split into smaller reusable functions if we promisfy the queries.

Thought we could open a discussion here. Looking for input from @nelsonic.

[2016-09-05 20:58] mk4111 opened #88 "Issues with tests (and therefore coverage)"
* Only the first (of 3) tests is run --> coverage percentage is therefore misleading.
* What is the best way to test/mock bcrypt errors? #89
* What is the best way to test/mock redis errors? #90
* Make sure that we end redis connection and server at the end of each test file.

[2016-09-05 21:53] mk4111 commented on #88
#### Redis Errors
With redis-mock, on switching the real redis client with a redis-mock client, the tests began failing where they were not previously.

#### BCrypt Errors
Have googled for answers but to little avail - if @nelsonic you could help us, we would really really really appreciate it! Thank you!

[2016-09-05 22:24] mk4111 opened #89 "Add tests for BCrypt"
Need to write tests to simulate error catching for bcrypt

[2016-09-05 22:25] mk4111 opened #90 "Add tests for Redis"
Need to write tests that will test our catches when redis throws an error

[2016-09-05 22:26] mk4111 opened #91 "Add tests for /login"
Need to write tests for /login functionality if it does not yet already exist

[2016-09-06 09:31] fannyBkane commented on #71
See 'Add new user' and 'Edit user' states on Zeplin.

[2016-09-06 11:06] mk4111 commented on #91
Mistake - /login test exists in #69

[2016-09-06 11:06] #91 closed

[2016-09-06 12:21] mk4111 opened #92 "Admin do not have organisations"
- How will this work for admin who are also primary users?
- Cannot display user specific views for admin because admin do not have organisation_id [see here](https://github.com/emfoundation/ce100-app/blob/refactor-tests/server/handlers.js#L83)

[2016-09-06 12:39] asimonw commented on #92
@mk4111 I don't know if this helps, but admins, even when they are not a primary user (which will be the standard case), can have the same editable view of orgs as primary users have of their own org. In other words, admins can edit any org as if they were a primary user for that org. (It doesn't have to be like that, but I assume that this will be the simplest to implement.)

[2016-09-06 13:46] #75 closed

[2016-09-06 14:06] JMurphyWeb opened #93 "set up handlebars watch"
Time consuming to restart server each time when editing handlebars.

@nelsonic do you know of good a solution to this?

[2016-09-06 14:55] JMurphyWeb opened #94 "split handlers and joi validation sets into separate files"
https://github.com/emfoundation/ce100-app/pull/64#discussion-diff-77639398
&
https://github.com/emfoundation/ce100-app/pull/64#discussion-diff-77640088

[2016-09-06 14:57] JMurphyWeb opened #95 "Refactor fix-tests branch with Nelsons comments"
- [x] [inline requires -> reduces lines of code and number of vars being set.](https://github.com/emfoundation/ce100-app/pull/64#discussion_r77640484)
- [x] [npm uninstall hashids](https://github.com/emfoundation/ce100-app/pull/64#discussion_r77637979)
- [x] [npm uninstall codecov](https://github.com/emfoundation/ce100-app/pull/64#discussion_r77638568)
- [x] [worth adding the travis badge and davi

[2016-09-06 15:32] nelsonic commented on #95
@JMurphyWeb `hashids` is "OK", just need to be _clear_ on how we are using it. 👍

[2016-09-06 15:36] JMurphyWeb commented on #95
We aren't using it anymore so no problem.

[2016-09-06 15:36] #83 closed

[2016-09-06 17:18] nelsonic commented on #93
@JMurphyWeb _yes_ there is, as a matter of fact: https://github.com/dwyl/hapi-riot
but... let's not dive into that _before_ the demo...

[2016-09-06 17:20] nelsonic commented on #87
"Promisifying" the query will not make it _shorter_.
It will "_flatten_" the functions, but not do much for reducing the _size_ of queries...

[2016-09-06 17:20] nelsonic commented on #79
Thanks.

[2016-09-06 17:20] #79 closed

[2016-09-06 17:33] mk4111 opened #96 "Admin view CSS"
Add admin view styling

[2016-09-06 17:44] iteles commented on #71
@fannyBkane How do actually get to the 'Edit User' screen? Where would I come from in the flow of screens?

[2016-09-06 18:24] JMurphyWeb commented on #47
@asimonw if an admin 'archives' an organisation, what should happen to the linked primary user?

[2016-09-06 18:28] asimonw commented on #71
Not sure Fanny will still see this today, so I can give some indication.

At the bottom of the screen (on mobile for an admin) you see a '+' button. On tap this should expand to give you three options: Add user, add org or add news item. I'm not sure the expanded state is anywhere on Zeplin at the moment. @fannyBkane could you add it to one of the screens or indicate here where to find it on Zepli

[2016-09-06 18:40] asimonw commented on #47
@JMurphyWeb In general, it's rather 'disable' than archive. For instance, we imagine this option to be useful when an org is initially being set up, but we don't want it in the org list yet. A bit like a draft version.

But if there are users linked to it, the only logical thing to do is to also disable all the linked primary contacts. In this case, it's better to see it as 'archiving' before we e

[2016-09-06 19:12] JMurphyWeb opened #97 "Archiving an organisation does not affect linked primary user"
Awaiting for a response from @asimonw to find out what we should do with a linked user when archiving an organisation

[2016-09-06 19:30] asimonw commented on #97
@JMurphyWeb see my response in #47. Disable all linked users (there will just be one for the MVP, of course) as well.

[2016-09-06 20:25] JMurphyWeb commented on #47
@asimonw thanks for feedback and sorry for double post. I wanted to document in an issue.

[2016-09-07 00:05] JMurphyWeb commented on #88
Logging error and replying with the error after every redis call suggests we could be doing something better.  If we can find an alternative way of querying redis multiple times, we would have more readable and maintainable code, and we would get a boost in test coverage without any trade off. Promises are the only way i can think of and have opened an issue #87, but maybe there is another way.

I

[2016-09-07 00:10] JMurphyWeb opened #98 "Still unclear on best way to flush db and close redis connection."
1. Every test file requires the client purely to be able to flush the db. How do you go about flushing the db when using redis connection? does hapi-redis-connection expose the client for this purposes? Or is there a better pattern to follow in order to flush the db in test files?

2. Every test file uses a teardown and a tape.onfinish containing process.exit. We want to find an alternative nicer

[2016-09-07 00:11] JMurphyWeb commented on #98
refactor-tests is latest branch that this applies to.

[2016-09-07 00:12] JMurphyWeb opened #99 "Travis failing"
Travis is failing on https://github.com/emfoundation/ce100-app/pull/84 and we are struggling to debug. All tests pass locally but most fail on travis and then hang until it times out.

[2016-09-07 00:15] JMurphyWeb commented on #87
Mainly want to query redis multiple times, then if there was an error in one of those queries, deal with it in one place.

[2016-09-07 00:17] JMurphyWeb commented on #87
https://github.com/emfoundation/ce100-app/blob/refactor-tests/server/handlers.js#L92

[2016-09-07 00:20] JMurphyWeb commented on #76
This is now done and should be closed once #84 is merged in

[2016-09-07 08:26] asimonw commented on #47
@JMurphyWeb No worries. Happy to adapt to your flow.

[2016-09-07 08:46] fannyBkane commented on #71
Admins get to the 'Edit user' screen from the Contact list. See screen
named 'Contact list-open (admin)'

(I have just updated it as the edit icon was missing).

@alex The + button on the bottom nav allows admin to add a new user. See
screen named 'Add new user (admin)'

*Fanny Breteau*
Designer ~ Digital Team

t: +44 (0) 1983 296 463
e: fanny.breteau@ellenmacarthurfoundation.org
<scs@ellenmacarth

[2016-09-07 08:55] asimonw commented on #71
@fannyBkane You're right, I was confusing 'Add' and 'Edit' user... Same screen, different flow ;)

[2016-09-07 09:54] asimonw commented on #32
More generally, information messages (e.g. after saving data successfully) and error messages. @nelsonic If you have a preferred (or easy to set up for MVP) mechanism for doing this, happy to go with that. If you prefer that we mock it up, let us know.

[2016-09-07 10:38] JMurphyWeb opened #100 "Changing a users organisation will affect the new organisation's primary user"
What should happen to the new organisation's old primary user?

Unsure how to implement this, so have not built functionality for this use case (updating an org that a user is attached to)

Suggestions welcome @asimonw

[2016-09-07 11:11] asimonw commented on #100
@JMurphyWeb Could we for the time being just store both users in an array on the org and only display the first one in the array on the profile? That would allow us to remove the old user afterwards.

We'll need to allow for more people to belong to one org in the future anyway.

[2016-09-07 11:22] nelsonic commented on #32
@asimonw yes, in terms of UI it would be _good_ to get some input for what is desired for placement, font and copy for error messages.

We can use `Joi` (object validation) to _automatically_ display error messages for forms based on the _expected/required_ data type.
example: https://github.com/dwyl/hapi-login-example-postgres#5-run-the-server

[2016-09-07 11:39] JMurphyWeb opened #101 "admin navigation bar"
Currently navigation bar for admin contains orgs and people. It will dynamically change to allow the admin to 'add' an org or user depending on the screen that they are on.

Any questions/issues/bugs please post them on this issue.

[2016-09-07 12:06] nelsonic commented on #99
@JMurphyWeb see: https://github.com/emfoundation/ce100-app/pull/84#issuecomment-245257033

[2016-09-07 13:46] asimonw commented on #32
@fannyBkane lets look into this in the next couple of days?

[2016-09-07 13:56] asimonw commented on #101
@JMurphyWeb as discussed (see admin screens on Zeplin) we were thinking of a bottom nav with two buttons, 'Browse' and '+'. Browse will be exactly the same as for primary users; when tapping on '+' it expands into three options: Add user, add org and (if time permits) add news post.

Apologies for not sharing the expanded state in Zeplin earlier.

[2016-09-07 16:11] mk4111 opened #102 "Primary User - Add/Remove Tags from Organisation and Challenges"
On the wireframe "Add Tag (parent)" there's a 'Select' button.
Does this button suggest that we can select multiple tags to add?

[2016-09-07 16:22] mk4111 opened #103 "How do Primary Users access Archived Challenges?"
We've noticed that there are wireframes for profiles and archived challenges, but we're not sure how they link (if they do)?

[2016-09-07 16:29] mk4111 opened #104 "Browse Menu"
On the navbar at the bottom, there is an option to Browse.
On clicking this button, are we directed to the view "Browse-select list" or "Browse" ?

[2016-09-07 16:45] fannyBkane commented on #104
We are directed to "Browse".

[2016-09-07 16:46] fannyBkane commented on #102
Yes. @asimonw can you confirm?

[2016-09-07 16:48] mk4111 commented on #73
@vicky-d1 has this been updated?

[2016-09-07 16:48] asimonw commented on #102
Good question. Yes. And previously selected tags should be highlighted. This screen behaves a lot like the way it worked on our prototype. @mk4111 do you still have access to that? Might be useful to have a look.

[2016-09-07 16:50] mk4111 commented on #61
![screenshot from 2016-09-07 17 50 22](https://cloud.githubusercontent.com/assets/13470325/18320883/97df2cae-7523-11e6-871f-b3a2bccbc9bb.png)

[2016-09-07 16:54] mk4111 opened #105 "select tags + tags view"
Linked to #10 #12 #13

Creating view to see all tags (parent and child)

![screenshot from 2016-09-07 17 54 31](https://cloud.githubusercontent.com/assets/13470325/18321009/263db196-7524-11e6-900e-1c15a0cd4367.png)

[2016-09-07 16:55] iteles commented on #102
@mk4111 Details for the prototype @asimonw is referring to are in our shared credentials Google Doc

[2016-09-07 16:57] fannyBkane commented on #103
You go to archived challenges from the 'Private view of profile' by clicking a link* [go to archived challenges - see at the bottom of the page].

*The link was missing, Just re-uploaded the screen.

[2016-09-07 16:58] fannyBkane commented on #32
Lets.

[2016-09-07 17:07] mk4111 commented on #12
tasks to add/remove and view tags are covered in #61 and #105.

The _remaining_ challenge card is composed of
- [ ] input fields for the *title* and *description*

[2016-09-07 17:20] nelsonic commented on #88
@mk4111 if you still have time to pair on this this evening, let me know!

[2016-09-07 17:21] JMurphyWeb commented on #10
Edit tags view is covered in #105. Selecting tags view is covered in #61. Image hosting setup is covered in #55.

This view is a primary user editing their profile.

[2016-09-07 17:26] mk4111 commented on #13
As we're currently uncertain of _how_ we would access archived options ( #103 ), this is not included in the time estimates provided.

A time estimate to create the functionality to add/remove and view tags has been provided in ( #61 and #105)

Thus time estimates will be focussing on _editting_ existing challenge cards:
- [ ] *title* and *description*

[2016-09-07 17:29] asimonw commented on #73
@mk4111 Zeplin has ben updated. The screens with admin in the title are either only accessible to admins or reflect additional functionality, e.g. (edit buttons).

[2016-09-07 17:33] JMurphyWeb commented on #55
(added tasks to do hence increase in time estimate)

[2016-09-07 17:34] mk4111 commented on #62
Merged into #13.

[2016-09-07 17:34] #62 closed

[2016-09-07 17:37] mk4111 commented on #49
Merged into #12

[2016-09-07 17:37] #49 closed

[2016-09-07 17:41] nelsonic commented on #98
@JMurphyWeb we should not _have_ to `process.exit()` in our tests...
Let me know if you have time to _pair_ on this today...

[2016-09-07 17:42] mk4111 commented on #55
Issue merged into #10.

[2016-09-07 17:45] JMurphyWeb commented on #29
Navigation covered in #56

Timebox excludes edit password and logout functionality.

Primary user can edit their details.

<img width="366" alt="screen shot 2016-09-07 at 18 42 11" src="https://cloud.githubusercontent.com/assets/12638261/18322494/e44524c0-752a-11e6-9693-314550ee08ce.png">

[2016-09-07 18:15] JMurphyWeb commented on #55
mistake on our part. Issue reopened.

[2016-09-07 23:32] nelsonic commented on #67
@JMurphyWeb you're asking the _wrong_ person about `hapi-auth-cookie` vs `hapi-auth-jwt2` ... 😆

`iron` is _nice_ but it's not a _standard_ and has no _specification_: https://www.npmjs.com/package/iron#where-is-the-protocol-specification _granted_ the person who _maintains_ the module is _smart_ but there's simply _**no comparison**_ in the level of scrutiny and usage applied to JWT's.
JWT's are

[2016-09-08 09:49] asimonw opened #106 "Updated screens on Zeplin"
Here, we will keep track of any changes to Zeplin in a centralised way.

[2016-09-08 09:53] asimonw commented on #106
* 'Differentiate admin from users in the contact list'  https://zpl.io/Z6mADN
* Admin nav open state  https://zpl.io/2bTRLg
* Landing screen https://zpl.io/2lo2qR

[2016-09-08 10:00] asimonw commented on #106
@JMurphyWeb @mk4111 see first few changes above, first one based on a question you asked yesterday, second one to clarify admin navigation and third design tweaks to 'home screen'.

[2016-09-08 10:05] asimonw opened #107 "CE100 logo"
@JMurphyWeb @mk4111 here's the svg of the logo.

[CE100-midnightBlueAqua.svg.zip](https://github.com/emfoundation/ce100-app/files/461333/CE100-midnightBlueAqua.svg.zip)

[2016-09-08 10:40] JMurphyWeb commented on #90
@nelsonic yesterday we spoke about abstracting some redis functions that we do regularly out. For example getting a user adding some info and re setting that user into redis. Can be applied to Challenge cards as well as orgs as well. Extracting it isn't much of a problem,

[2016-09-08 10:41] fannyBkane commented on #106
• Latest version of 'Browse', including latest version of bottom navigation for 'non admin users', which now includes icons https://zpl.io/1NP3uu

[2016-09-08 10:49] JMurphyWeb opened #108 "minimise number of environment variables"
We should create cookie in tests when needed

[2016-09-08 10:55] mk4111 commented on #106
@asimonw and @fannyBkane , thank you for the updated screens!
In the wireframs for differentiate admin from users, could you also let us know whether you would like to be able to visually differentiate between active and inactive users too, and if so, how please?

Thank you!

[2016-09-08 11:12] JMurphyWeb commented on #81
Will be resolved when #84 is merged

[2016-09-08 11:22] asimonw commented on #106
Good point. @fannyBkane we were thinking just green and red dots on the left, right?

[2016-09-08 11:48] nelsonic commented on #99
Let's _focus_ on using a _single_ version of Node to ensure we are "_all on the same page_".

[2016-09-08 11:58] nelsonic commented on #99
@JMurphyWeb the `config.env` in the [Google Doc](https://docs.google.com/document/d/16Yk1Y--H-9h1PQYTyRJoDBKH3MsYk44CjDR_t6T4d0g) does not match the https://travis-ci.org/emfoundation/ce100-app/settings (there are 11 in travis and only 10 lines in the GDoc).
And, I have no way of checking if the variables in Travis are _correct_... 😕
But if you look at: https://travis-ci.org/emfoundation/ce100-app

[2016-09-08 12:02] mk4111 opened #110 "Methods of Function Implementations (Refactoring Redis Functionality?)"
Hi @nelsonic, at current we're sharing the same (if not similar) redis functionality across a number of our [handler functions](https://github.com/emfoundation/ce100-app/blob/7aa2ac73434ce741eb2b89168447a89bf9bae219/server/handlers.js). We've thought of a way that _might_ help improve our code, but were wondering if we could (pretty please) ask for your opinions on it before we implemented it?

We

[2016-09-08 12:06] nelsonic commented on #108
@JMurphyWeb updated the title of this issue to reflect the technical requirement.
we want to have the _bare minimum_ of environment variables which need to be updated. 👍

[2016-09-08 12:10] fannyBkane commented on #106
That's right @asimonw Just updated Zeplin:https://zpl.io/Z1zOzzw

[2016-09-08 12:23] JMurphyWeb commented on #99
Ok I will try to dynamically create the cookie in the test files.

I've also spotted that 2 tests in login.test.js seem to be failing due to bcrypt returning isValid as `false` on travis, whereas `true` on my local machine and everything else seems to be in order.

[code]

[2016-09-08 12:32] JMurphyWeb commented on #99
I have updated all env variables on travis.

[2016-09-08 12:34] JMurphyWeb commented on #99
I will work on removing cookies from env file

[2016-09-08 13:47] JMurphyWeb commented on #99
Good news is that we got green on a travis 🎉  when i used a cookie not from env vars.

[2016-09-08 16:01] nelsonic commented on #99
@JMurphyWeb that looks ok, the "Global" is contained within the context of the test...

This would obviously be _simpler_ with JWTs which have a `syncrhonous` API:
[code]
 e.g: https://github.com/dwyl/hapi-auth-jwt2/blob/master/test/basic.test.js#L210

But yeah, this will work. 👍

[2016-09-08 16:06] JMurphyWeb commented on #99
That has been lingering in the back of my mind all day 👍

[2016-09-08 16:16] asimonw commented on #106
Here's the user flow, work in progress. Admin flow only. Primary user flow coming up.
https://collaborate.uxpin.com/45d32478d5af5fa220c1569332ec4908bb787865#/pages/57374200/sitemap

[2016-09-08 17:01] JMurphyWeb opened #113 "testing environment"
We need to implement a testing environment so our tests don't interact with a production database.

[2016-09-08 17:10] JMurphyWeb commented on #113
look into redis connection and how we can manipulate the room it uses.

[2016-09-08 19:15] nelsonic commented on #87
@JMurphyWeb in _this_ particular case I would prefer/suggest using `async.waterfall`  http://caolan.github.io/async/docs.html#.waterfall to "_flatten_" out the query.

[2016-09-08 19:28] nelsonic commented on #110
@mk4111 this is a _good_ idea/plan. having this kind of re-useable method will be good.
the only thing I would say is: do you _want_ to be replying with a "_raw_" Database Error?
Or do you want to "feed" that error into a user-friendly template: https://github.com/dwyl/hapi-error 😉

[2016-09-08 19:42] JMurphyWeb opened #114 "Error handling"
We need a system in place for error handling.

take a look at hapi-error and read boom docs/tutorial

[2016-09-08 19:42] JMurphyWeb commented on #114
Don't know if you have any input other than hapi-error @neslon?

[2016-09-08 19:44] JMurphyWeb commented on #113
Neither Marie or I have much experience with setting up a dev/testing/production environment.

At the moment things which should depend on the config:
- [ ] Which redis DB we are using

[2016-09-08 19:56] JMurphyWeb commented on #110
see #114 for error-handling issue

[2016-09-08 20:02] JMurphyWeb commented on #108
Will implement hapi-auth-jwt and remove env variables

[2016-09-08 20:02] mk4111 commented on #110
Hi @nelsonic, thank you for your reply! I've just made a [PR](https://github.com/emfoundation/ce100-app/pull/112) with the relevant changes to handlers - would it please be possible to ask you to have a review of this and let me know what you think of it? If you are happy with the changes, I will split the handlers functions out into files! :)

[2016-09-08 22:52] mk4111 opened #115 "Data structures and Filtering"
Searching for organisations and challenges, by tags, with our current (redis) database requires multiple database queries. Considering the future, when the number of organisations increase, it may be better to think of more effective methods of filtering as the method of implementation will (very likely) also impact the way in which we update (add/remove) tags to/from organisations and challenges.

[2016-09-08 23:05] fannyBkane commented on #106
Here is the primary user flow: https://collaborate.uxpin.com/d55e95d23abb78d24ee150b9853a0c54e2e62894

Some screens missing, will complete by early next week.

[2016-09-09 07:42] JMurphyWeb commented on #115
Not sure if I am oversimplifying it or missing something, but here is my thruppence worth:

Tags are just a static reference in the form of the editable JSON file we have already mentioned. Tags are stupid and do not know what has been linked to them.

Add tags view:
Use back-end js to filter out any `active: false` tag parents or children. A user can select a child tag which will have `{ id: Numb

[2016-09-09 08:00] JMurphyWeb commented on #38
@asimonw sorry i missed your previous comment about contact_id. Your thoughts for an organisation:
{ contact_id: Number                  // the user that shows up on the orgs profile
, primary_ids: [ Num, Num, ... ]   // the users that have edit access of their org
, people: [ Num, Num, Num ]      // all (other?) people associated with that org
}

Please confirm that this is the jist of what you w

[2016-09-09 08:27] JMurphyWeb commented on #67
@nelsonic I did not say I thought it was better. Maybe I will be able to better judge once I have implemented jwt2. I will flag an issue if I can see a need.

Thanks for your explanation.

[2016-09-09 08:34] JMurphyWeb commented on #106
This is great @fannyBkane and will be extremely useful for us. Thanks!

[2016-09-10 08:31] JMurphyWeb opened #117 "Disable activation link once it has been used."
When a request comes to /activate/ENCODED_ID, we  need to check that the user is in fact new.  It would probably be easiest to check that last_login is null before serving up the activation view.

[2016-09-10 14:33] asimonw commented on #38
@JMurphyWeb I was perhaps overly complicating things for now. The idea was that later on there might be more than one user with primary user permissions, of which only one would be displayed as contact person. This would not affect permissions at all, only determine which one we display on the profile.

But since how this will work is not entirely clear yet, maybe it's simpler to ignore the contac

[2016-09-10 14:35] asimonw commented on #106
Note that there might still be a few paths either missing or incorrect (especially when a screen can be arrived at in different ways). We will go through both flows more carefully on Monday.

[2016-09-10 14:53] JMurphyWeb commented on #38
sounds good 👍

[2016-09-10 16:11] nelsonic commented on #114
@JMurphyWeb yes, I tried to make https://github.com/dwyl/hapi-error as _re-useable_ as possible.

[2016-09-10 16:13] nelsonic commented on #113
@JMurphyWeb using environment variables _solves_ this issue. let's pick up tomorrow. 👍

[2016-09-11 10:16] mk4111 opened #119 "Hapi Error Handling"
We currently have our error messages being displayed in plain text.
Need to reply with an appropriate view which displays the errors neatly.

Linked to #114

[2016-09-11 10:50] nelsonic commented on #119
@mk4111 this problem is _solved_: https://github.com/dwyl/hapi-error#what

[2016-09-11 11:08] JMurphyWeb commented on #114
errorFunc in https://github.com/dwyl/hapi-auth-jwt2 is specifically called when there was an error in validating the jwt?

I am struggling to figure out how and if i should use Hoek.assert in our auth.js hapi-auth-jwt2 plugin registration.

Also, at the moment within `validateFunc` we have 2 different 'routes' which lead to the same outcome: `cb(null, false);` which doesn't seem great. Those two:

[2016-09-11 14:08] JMurphyWeb opened #120 "create new user should check that email doesn't exist"
At the moment no check is in place.

If the email is already registered, we should notify the user.

[2016-09-11 15:48] JMurphyWeb opened #122 "Improve tests for the following handlers"
serveFile
editUserView
editUserSubmit

viewOrganisationDetails
submitEditOrg
toggleArchiveOrg

[2016-09-11 19:46] nelsonic commented on #114
@JMurphyWeb yeah, you should not _need_ an `errorFunc` if you are using `hapi-error` to handle `401` (_invalid JWT_) errors.

What are you _checking_ for in your `validateFunc` ?
You're checking that the person is _authorised_ to access the endpoint in the app that they are requesting.The two possible scenarios are:

1. Person has _never_ logged in before and is _verifying_ their account.

2. Pers

[2016-09-11 22:42] nelsonic commented on #87
Closing. if you decide to use `async.waterfall` please open another issue and detail the instances where you are simplifying the code. 👍

[2016-09-11 22:42] #87 closed

[2016-09-12 00:22] nelsonic opened #123 "config.env >> .env"
@mk4111 && @JMurphyWeb please rename your `config.env` file to `.env` on your localhost
to be _consistent_ with `sendemail` thanks.

[2016-09-12 01:30] #81 closed

[2016-09-12 01:30] #114 closed

[2016-09-12 01:30] #119 closed

[2016-09-12 09:47] JMurphyWeb opened #124 "Task list to deploy"
- [x] Add some functionality to handlers
 - [x] disable activation link once it has been used https://github.com/emfoundation/ce100-app/issues/117
 - [x] Archiving an organisation does not affect linked primary user #97
 - [x] Edit user change organisation -> many possible scenarios #100

- [x] fix broken login

- [x] Bug check.
 - Jobtitle at _No organisation_

- [x] Update google doc on current

[2016-09-12 09:53] JMurphyWeb commented on #122
This should be fixed when https://github.com/emfoundation/ce100-app/pull/121 gets merged

[2016-09-12 09:54] JMurphyWeb commented on #123
Done.

[2016-09-12 09:56] JMurphyWeb commented on #115
@nelsonic @mk4111 what do you think of the data structure above? Would be great to get this agreed before we get too far into the challenge card feature.

[2016-09-12 10:01] JMurphyWeb commented on #113
This issue can be parked for now. I will reopen if we have any questions on environments

[2016-09-12 10:01] #113 closed

[2016-09-12 10:02] JMurphyWeb commented on #108
@nelsonic i think we are as minimised as we can get. Can we close this issue?

[2016-09-12 10:04] JMurphyWeb commented on #99
Finally travis is passing

[2016-09-12 10:04] #99 closed

[2016-09-12 10:06] nelsonic commented on #108
@JMurphyWeb the Google Doc (_which I am treating as my "single source of truth" because it's the only place I can securely store all the DEV .env and copy-paste it locally when I am reviewing/testing a branch_) currently has _two_ extraneous entries: `COOKIE_PASSWORD` and `CODECOV_TOKEN` do we still _need_ them?

[2016-09-12 10:06] JMurphyWeb commented on #93
Parked for now.

[2016-09-12 10:06] #93 closed

[2016-09-12 10:08] JMurphyWeb commented on #92
@mk4111 do you agree that this issue can be closed once sprint one demo is merged?

[2016-09-12 10:09] JMurphyWeb commented on #90
This should be fixed now. Hoek.assert solved a lot of our problems.

[2016-09-12 10:09] #90 closed

[2016-09-12 10:09] JMurphyWeb commented on #76
fixed and has been merged into master.

[2016-09-12 10:09] #76 closed

[2016-09-12 10:18] JMurphyWeb commented on #67
This issue will be resolved when #121 is merged.

[2016-09-12 10:33] mk4111 opened #125 "Travis Failing"
[Travis](https://travis-ci.org/emfoundation/ce100-app/builds/159271554) is failing at trying to access the /people/add route (which _does_ exist in [routes.js](https://github.com/emfoundation/ce100-app/blob/master/server/routes.js#L17))

On localhost, a different error message is being received:

![screenshot from 2016-09-12 11 33 42](https://cloud.githubusercontent.com/assets/13470325/18432956/dc

[2016-09-12 10:35] mk4111 commented on #125
@nelsonic could you please help us debug this issue please?

[2016-09-12 10:35] JMurphyWeb commented on #108
Absolutely. I will check the project for possible extraneousness once the current conflicts are resolved.

[2016-09-12 10:36] asimonw commented on #14
@JMurphyWeb @mk4111 See "Profile (private view) editable" in Zeplin https://zpl.io/Z1IjRwn
Underneath every existing challenge card, you see a list of matching orgs (based on overlapping tag sets).

[2016-09-12 10:47] nelsonic commented on #125
This error message points to this line:
[`sendemail/lib/index.js#L16`](https://github.com/dwyl/sendemail/blob/471087f95dd1ac88186d4af21a3829546ec37fc9/lib/index.js#L16)
which informs you that you need a `process.env.TEMPLATE_DIRECTORY` i.e. an Environment Variable for `TEMPLATE_DIRECTORY` which is in the Google Doc

Please see: https://github.com/emfoundation/ce100-app/issues/108 and https://githu

[2016-09-12 12:27] mk4111 commented on #123
Done too!

[2016-09-12 12:28] mk4111 commented on #125
@nelsonic - changing it to .env fixed that! Sorry I missed #123! Done now though, thank you for pointing it  out and helping me! :D

[2016-09-12 12:28] #125 closed

[2016-09-12 12:45] #123 closed

[2016-09-12 14:53] JMurphyWeb commented on #38
@nelsonic should we store `primary_id` into `people` array for a given organisation?

At the moment we have the latter, which I was thinking is unnecessary but wanted to check before changing.

[code]

[code]

[2016-09-12 14:54] JMurphyWeb opened #126 "login flow bug"
Unable to login with new auth system.

`/login`

email: ja@mu.co
password: Hello1

[2016-09-12 14:56] iteles commented on #126
@JMurphyWeb If you are assigning this to @nelsonic for help, could you please detail what you have already tried and preferably push up your branch?

[2016-09-12 15:38] JMurphyWeb commented on #126
At time of writing I am not actively working on this issue as i was awaiting response from nelson on gitter.

I have only tried to login, but no cookie is being set (visibly) in the browser dev tools. The reply is being called, but the .state() doesn't seem to be having the desired effect.
According to the tests, the cookie is being set after login.

@nelsonic made some additions last night before

[2016-09-12 20:51] JMurphyWeb opened #127 "organisation_id and primary_id default set to '' but sent as -1 in tests"
At the moment, in a user object, we store `organisation_id: ''` as the default. In the tests you wrote on Sunday, I think -1 represents a 'default' or 'no organisation currently linked'. Is that right? I don't think the handlebars represents that change.

Same also applies for primary_id in an organisations data set.

I like the -1, is there any disadvantage of changing the default to -1 in setup-

[2016-09-12 20:58] mk4111 commented on #127
Hi @JMurphyWeb :)

You're right - I haven't changed any of the mock data for organisations, as that wasn't the userflow I was working on at the time.

'-1' is meant to represent 'no organisation currently linked' and was chosen because the value is (currently) deemed valid if it is of type number.

I think some of our tests and handlers rely on the bool ```organisation_id === true || false``` to e

[2016-09-12 21:19] JMurphyWeb commented on #67
auth.js is in master

[2016-09-12 21:19] #67 closed

[2016-09-13 08:53] nelsonic commented on #126
@JMurphyWeb what have you done so far to debug this, what is in your console when you print out the response from redis and bcrypt?

[2016-09-13 10:51] JMurphyWeb commented on #126
Currently working on deploy task-list. I wasn't getting any useful logs as the reply that should be setting the cookie is being called, but the cookie is not there. I don't know how i can log this?

[2016-09-13 10:54] iteles commented on #126
@JMurphyWeb Are you working through this as a time boxed task with @mk4111 first as suggested?

[2016-09-13 12:02] #97 closed

[2016-09-13 12:02] #117 closed

[2016-09-13 14:09] JMurphyWeb commented on #126
Made a new route which should set a cookie:

[code]

But it has no effect on the cookie-> localhost on dev tools. Seems like there has been a change to some default setting as i cannot set a cookie anywhere in the app.

Branch -> waiting to hear how to disable pre-commit hook

[2016-09-13 15:02] JMurphyWeb commented on #126
Think this is solved now. Just making sure. Will update once I am done.

[2016-09-13 15:16] JMurphyWeb commented on #126
Hapi has changed the default settings with the latest update (which we now have).

isSecure -> now defaults to true
isHttpOnly -> now defaults to true

From my investigating (limited knowledge) isHttpOnly doesn't affect how a user interacts with the app as we are not interpreting the cookie client side, so we can leave that as `true`.

`isSecure: true` doesn't administer a cookie on local host wit

[2016-09-13 15:45] JMurphyWeb commented on #126
https://github.com/emfoundation/ce100-app/commit/28e991e65e4d3c611a1be7fd852da62088063758

I just pushed up a fix.

[2016-09-13 16:10] JMurphyWeb commented on #108
@mk4111 @nelsonic there is now a

`NODE_ENV=true`

environment variable to be set locally only. I have updated google doc but wanted to make sure you see it.  This may change depending on feedback from Nelson re #126

[2016-09-13 16:13] JMurphyWeb commented on #108
I am not sure if we need code_cov token?

Cookie_password can be removed but not high priority. I will issue.

[2016-09-13 16:14] JMurphyWeb opened #132 "Replace Iron with jwt"
In order to minimise the number of modules we rely on we can replace Iron with jwt throughout.

we could then also get rid of COOKIE_PASSWORD env variable #108

[2016-09-13 16:41] JMurphyWeb opened #133 "disable organisations that are currently linked to a primary on dropdown"
- [x] Applies to Edit user and Add user flows.
- [x] Ensure 'selected' is on the appropriate org
- [x] Ensure -1 is being sent up as value for default
- [x] Ensure we check for 'admin' in edit user and add user

[2016-09-13 17:07] JMurphyWeb opened #134 "Archive user not working"
Archive user has stopped working

[2016-09-13 17:38] JMurphyWeb commented on #133
Extended job as it has become clear i need to replace default org_id and primary_id from '' to -1

[2016-09-13 18:03] mk4111 opened #136 "Archive Users not working for new Orgs with _no Primary User_"
toggle-archive function is replying with a 500 error when applied to new organisations with no primary users. On adding a user to that organisation though, we see that the archiving _did_ work, so we need to figure out why it's replying with an error page/message.

[2016-09-13 18:05] mk4111 opened #137 "Remove "N/A Admin" dropdown option"
Remove "N/A Admin" dropdown option from edit-user-details view.
Add a value of "-1" to the "Please select option" default option.
Primary Users being detached from organisations, and admins who are not affiliated with any organisation can use this option.

[2016-09-13 18:06] mk4111 commented on #136
Likely related to #135

[2016-09-13 18:08] mk4111 opened #138 "What to do if a new organisation's name already exists?"
What should an admin see when adding a new organisation which (a) either already exists (which at this stage we would only know by filtering through organisation names) (b) another organisation of the same name exists?

[2016-09-13 18:58] iteles commented on #138
For the MVP I would suggest that it is up to the admins adding the organisations to make sure they're not adding duplicates. Dealing with this will be an `enhancement` at a later stage.

[2016-09-13 19:01] iteles commented on #137
@mk4111 This looks like multiple issues in one and also requires some reasons around why you are making this decision in the form of a user story (please remove the technical label when done).

I would suggest 'No organisation' makes more sense from the user's perspective than '-1'.

[2016-09-13 19:34] asimonw commented on #138
I'm happy with that @iteles

[2016-09-13 20:33] JMurphyWeb opened #139 "editing org that a primary is attached to"
It does not appear to remove primary from the old org as the old org is still `disabled`

[2016-09-13 22:34] JMurphyWeb commented on #137
@iteles -1 represents the value of the dropdown behind the scenes. It is linked to the `Please Select` dropdown option.

The issue was raised as @mk4111 spotted a bug which crashed the app when we edited and selected admin.

[2016-09-13 23:10] JMurphyWeb commented on #139
This should be fixed in next PR

[2016-09-13 23:10] JMurphyWeb commented on #137
Should be fixed in next PR

[2016-09-13 23:12] JMurphyWeb commented on #136
This appears to be fixed in next PR

[2016-09-13 23:53] JMurphyWeb commented on #136
Now fixed on next PR

[2016-09-13 23:54] JMurphyWeb opened #140 "Adding a new org then clicking on that org breaks"
Gives redis error

[2016-09-13 23:55] JMurphyWeb commented on #134
now fixed

[2016-09-13 23:56] JMurphyWeb commented on #140
seemingly only if it has no primary user yet

[2016-09-14 00:04] JMurphyWeb opened #141 "navbar logic can be extracted into a function"
I am not sure of a good way of solving this issue with handlebars, but at the moment we are passing an 'alternate' navbar to our views in the handlers that want them.

[2016-09-14 00:05] JMurphyWeb commented on #141
This is what we have at the bottom of viewAllUsers handler:

[code]

[2016-09-14 00:53] JMurphyWeb commented on #140
Fixed in #143

[2016-09-14 08:38] fannyBkane commented on #106
• Browse (included a tree structure for the tags instead as a simple list) 'default' state https://zpl.io/1cNDiV and 'open' state https://zpl.io/1sVV8l
• Browse-select-tag (included same change as above–a tree structure for the tags instead as a simple list) 'default' state https://zpl.io/Z1skr1k and 'open' state https://zpl.io/Z1k3PK4
• Browse-select-list (highlight colour changed to match Browse

[2016-09-14 08:56] JMurphyWeb commented on #38
updated data structure on the wiki: https://github.com/emfoundation/ce100-app/wiki/Data-structure

[2016-09-14 09:15] JMurphyWeb commented on #38
@asimonw i think this has come up before, but i cannot find it, sorry.

Is the challenge card created on behalf of the organisation or the user? Or will it eventually be both? We were just wondering where we should store the challenge cards - in the people or organisation data set.

Thanks

[2016-09-14 09:40] JMurphyWeb commented on #38
Alex responded with challenge cards are attached to an org.

[2016-09-14 09:49] #126 closed

[2016-09-14 10:17] JMurphyWeb commented on #38
updated data structure: https://github.com/emfoundation/ce100-app/wiki/Data-structure

[2016-09-14 10:18] #38 closed

[2016-09-14 10:21] JMurphyWeb opened #144 "Bring all data stores in line with data structure in wiki, or update wiki"
https://github.com/emfoundation/ce100-app/wiki/Data-structure

[2016-09-14 10:33] JMurphyWeb opened #146 "split handlers into separate files"
Use make-changes as a guide to split the handlers into separate files.

[2016-09-14 10:41] nelsonic commented on #146
We have all _agreed_ that splitting out the `server/handlers.js` file into `server/handlers/my-handler.js` is a good idea for sanity and reducing merge conflicts as the `handlers.js` (_mega file_) would be changed on _every_ PR and thus create a headache...

[2016-09-14 10:46] JMurphyWeb commented on #146
In order to make this a seamless merge, I will not change the handlers at all, only split them and then PR them. I don't think that this needs to be done before the open and merge-able PRs get reviewed/merged.

@nelsonic due to the way the PRs are chained off of each other,  I am pretty sure there will be no merge conflicts. I am about to start work on this issue now though, so if you would prefer

[2016-09-14 10:55] nelsonic commented on #146
@JMurphyWeb creating _new_ handlers inside the `handlers.js` ...?
![cat-sad](https://cloud.githubusercontent.com/assets/194400/18509642/83641c1e-7a71-11e6-92a5-956fe23f7c41.jpg)

And when we are _editing_ a _existing_ handler it's the _perfect_ opportunity to do it _right_ (i.e. split it out and thus make `handlers.js` smaller_)
![worth-doing](https://cloud.githubusercontent.com/assets/194400/1850

[2016-09-14 12:43] mk4111 commented on #144
@JMurphyWeb, suggestions for the Data-structure for challenges:
* think we need to add an 'org' property (so we can associate each challenge with a primary user and an org)
* really minor but I called the key ```creator``` instead of ```creator_id``` and have already pushed up...
Can I change the above on the wiki?

[2016-09-14 12:47] mk4111 commented on #138
@iteles and @asimonw - roger that.
Is it ok for me to close this issue, or should be keep it open for future reference?

[2016-09-14 12:49] mk4111 commented on #141
@JMurphyWeb - this navbar was implemented for the Sprint 1 demo; I think we should be able to remove that from the handlers in our next iteration.

[2016-09-14 12:58] mk4111 opened #147 "csv branch tests failing."
The tests are passing fine locally, (hence am able to push up to GH), but they seem to fail on Travis for for csv branch

[2016-09-14 13:01] mk4111 commented on #147
Currently working on this.

[2016-09-14 13:02] mk4111 commented on #147
Have changed the file-converting function to use a callback mechanism. Awaiting Travis results

[2016-09-14 13:04] mk4111 commented on #147
The above was the issue. Now fixed.

[2016-09-14 13:04] #147 closed

[2016-09-14 15:23] JMurphyWeb opened #150 "Sprint 2 Routes"
When setting up sprint 1 we decided on a set of routes that would serve up our main views. I was wondering if we could do the same here, so we are both working off the same page. When they are finalised we can stick them in the wiki with the others.

[2016-09-14 15:24] JMurphyWeb commented on #150
https://github.com/emfoundation/ce100-app/wiki/Admin-view-endpoints

[2016-09-14 15:34] mk4111 commented on #150
@JMurphyWeb I completely agree - I wasn't too sure of the format I should follow with the tags and challenges routes, so adopted them based on our previous routes - please do let me know if you think it might be better to structure them in a different way! :)

For now though, I'll add the endpoints that I created for tags and challenge cards to the link above. Hope that's ok!

[2016-09-14 15:35] JMurphyWeb commented on #150
cool! is it ok if i put them in this issue so we can have a think?

[2016-09-14 15:37] mk4111 commented on #150
Sounds good - shall I branch off from this issue because I think this refers quite broadly to the endpoints in Sprint 2 (which means we'll have discussions about tags, challenges, and maybe filtering and news cards too)

[2016-09-14 15:48] mk4111 opened #151 "Tag selection"
Linked to #12

What's the best way to 'select' a tag? Should we/do we need to use front-end javascript?
Given that we're using handlebars, I think it would be more elegant to minimise our use of front-end javascript.

Right now, I'm thinking that we could create a 'dropdown', where the dropdown options are permanently open (until closed/user opens up a different parent tag) --> then find a way to

[2016-09-14 16:09] JMurphyWeb commented on #151
Minimising front end js sounds good!!

[2016-09-14 16:11] mk4111 opened #152 "NODE_ENV - what's it for and is it needed?"
NODE_ENV has been used so that the [tests don't interact with the production environment](https://github.com/emfoundation/ce100-app/issues/113). But is this needed?

I thought that on deploy, the tests were only run in Travis - which has its stand alone testing environment - which means that it is separate from the Heroku Redis DB?

It would be great to get some clarification on this and to know w

[2016-09-14 16:12] JMurphyWeb commented on #150
No i opened this issue with this exactly in mind :)

[2016-09-14 16:24] mk4111 opened #153 "Tag routes"
Linked to #150

Thinking about the different routes we'll need for tags - and reviewing what we have now:

At current:
```/tags``` --> 'GETS' the view of all _parent_ tags. On click of any such parent tag, a list of child_tags becomes visible (initially hidden by CSS).

Other routes we will need:
?

@JMurphyWeb - can you think of other tag-related routes that we might need to implement in this sco

[2016-09-14 16:29] mk4111 opened #154 "Challenge Routes"
Linked to #150

Thinking about the different routes we'll need for challenges and reviewing what we have now:

### At current:
##### ```/challenges/add```
(1) 'GETS' the form through which users will add new challenges .
(2) 'POSTS' the contents of this form, and saves in the DB.

Other routes we will/may need:
##### ```/challenges``` (?)
(1) 'GETS' A general view of _all organisations' challenges

[2016-09-14 16:30] JMurphyWeb commented on #150
`/challenges/add`

I was just wondering if this would be more like:
`/orgs/2/challenges/add`

Then challenge management for a specific org could be done at:
`/orgs/2/challenges`

Then we could have a `/challenges` to view/browse challenges in general?

[2016-09-14 16:31] JMurphyWeb commented on #150
Think it would be really good to have something in place asap for this.

[2016-09-14 16:37] mk4111 commented on #150
I'll lay out my thoughts on endpoint structure, then comment back on your idea - hope that's ok :)

### Challenges
##### ```/challenges``` (?)
(1) 'GETS' A general view of _all organisations' challenges_
##### ```/challenges/add```
(1) 'GETS' the form through which users will add new challenges .
(2) 'POSTS' the contents of this form, and saves in the DB.
##### ```/challenges/{{challengeId}}/edit`

[2016-09-14 16:39] mk4111 commented on #154
Closed - to be continued on #150

[2016-09-14 16:39] #154 closed

[2016-09-14 16:39] mk4111 commented on #153
Closed - to be continued directly on #150

[2016-09-14 16:39] #153 closed

[2016-09-14 17:01] asimonw commented on #151
@mk4111 @JMurphyWeb not sure how relevant it is, but for me doing the tag selection in the front-end makes it easier to build in cancel functionality. Note that when the user selects a tag, it is not yet 'persisted'. After the user presses 'select' they're taken back to previous screen, where they can save the challenge or profile. However, if at that point they press cancel, the tags shouldn't ha

[2016-09-14 17:08] mk4111 commented on #150
So right now, the way that a new challenge is being processed (upon submission) is as follows:

- payload includes the session of the user (that is logged in, and has submitted the form) - this includes the user's id.
- using this, we query redis for that user's profile --> we get the organisation_id from this.
- we query redis for the length of the challenges list (which we use as the challenge-c

[2016-09-14 17:21] JMurphyWeb commented on #152
@mk4111
I explained the use of the node_env here: https://github.com/emfoundation/ce100-app/issues/126

[2016-09-14 17:26] fannyBkane commented on #32
https://zpl.io/ZTjXWs

[2016-09-14 17:44] JMurphyWeb opened #155 "redis helpers from make changes branch"
Hi @mk4111 if you wanted to discuss benefits of / strategy for getting redis helpers in here, can we discuss here?

[2016-09-14 17:45] JMurphyWeb commented on #152
more specifically : https://github.com/emfoundation/ce100-app/issues/126#issuecomment-246716201

[2016-09-14 17:45] JMurphyWeb commented on #152
isSecure -> now defaults to true
isHttpOnly -> now defaults to true

From my investigating (limited knowledge) isHttpOnly doesn't affect how a user interacts with the app as we are not interpreting the cookie client side, so we can leave that as true.

isSecure: true doesn't administer a cookie on local host with current setup. I wonder if is ok to set to false for now. Maybe something like this:

[2016-09-14 17:52] JMurphyWeb commented on #150
some good reading for the morning -> Thanks for doing 👍

[2016-09-14 17:53] JMurphyWeb commented on #141
Ideally yeah. I just wasn't sure of a good way of removing that logic from individual handlers?

[2016-09-14 17:54] JMurphyWeb commented on #151
Client side JS @asimonw ??

What are your thoughts of the heavily styled inputs??

[2016-09-14 17:56] JMurphyWeb commented on #144
My only thought is we have active for users and orgs? I don't mind it being archived though as they seem fairly different.

go ahead and change wiki 👍

[2016-09-14 18:08] fannyBkane commented on #106
• Public view of profile (Changed  layout of challenge cards, and size of headers): https://zpl.io/19CkQG
• Private view of profile (Changed  layout of challenge cards, and size of headers): https://zpl.io/Z231EN8
• Suggested match-follow up actions: (added tags): https://zpl.io/Z1Dqki5
• Challenge view (added Org): https://zpl.io/Z2kmBO6
• Browse-challenge view (removed description & added org):

[2016-09-14 18:09] mk4111 commented on #152
@JMurphyWeb - that makes a lot more sense to me now - I thought it was more to do with databases! I remember that issue now, and have made the link in my mind :) Thanks @JMurphyWeb!

[2016-09-14 18:09] #152 closed

[2016-09-14 18:21] asimonw commented on #151
@JMurphyWeb I indeed meant that I would write the handler for the tag select button in client-side JS. Dealing with the cancel button is much easier that way. And you don't want the tag selection to persist anything in the db until the user presses 'save'. All of this is pretty manageable with handlebars (or similar) on the client-side. I'd be worried that if you're not using any templating soluti

[2016-09-14 18:37] mk4111 commented on #155
Hi @JMurphyWeb! Thanks for opening this up!
Given that redis error handling was our main reason for taking the approach to refactor that we decided on at the time, I agree that the redis helpers might not be adding much at all. I also agree that the difference in the number of lines of code isn't so significant (merely ~100 lines), and given that we're using such a small subset of redis commands w

[2016-09-15 06:58] JMurphyWeb commented on #151
Sorry i meant checkbox inputs.. They perform the exact functionality that we desire for selecting the tags, and the could reduce the use of client-side js.

I agree that if they are unfeasible then client side js is the way to go, but @harrygfox mentioned using checkboxes, which i thought was worth considering.

[2016-09-15 07:18] JMurphyWeb commented on #155
@mk4111 I definitely like the thought of not JSON parsing everything! What i found helpful was creating helper functions which accept JSON strings as an argument, process the data and then return either objects or JSON strings depending on the helper.. Some handlers implement this better than others.. The helpers give a good indication:

I am sure these can be improved but they do solve the repeti

[2016-09-15 07:21] JMurphyWeb commented on #106
Thanks for updates and documenting here @fannyBkane 👍

[2016-09-15 07:45] JMurphyWeb commented on #150
I guess i was thinking of the case where the user clicks add challenge when they are viewing their own org.. But there are different ways of getting to the add challenge card creation page...

At the moment the 'necessary info' doesn't align with the data structure in the wiki.

https://github.com/emfoundation/ce100-app/wiki/Data-structure

The current data structure doesn't have challenges in the

[2016-09-15 07:50] JMurphyWeb opened #156 "Challenge card data structure"
Yesterday @asimonw confirmed that challenge cards were linked to organisations as opposed to users.

Does this mean that we do not need to store a link between the user and the org at all?

Ie
- in the challenge set there would be **no** link to the person who created it, only the org.
- in the person set there would be **no** link to the cards that they have created.

We have been discussing it h

[2016-09-15 07:54] JMurphyWeb commented on #150
@mk4111 is it ok if you finalise this challenge card data set with @asimonw? I only ask because you are working on this feature so have better insight. Just let me know if/when wiki is changed.

[2016-09-15 08:06] JMurphyWeb commented on #150
Regarding the routes for tags, which we can add to both a challenge and an org:

[code]

I think this system is good to minimise redis queries, but bad if @asimonw does not want the challenges too tightly linked to an organisation.

What are you thoughts @mk4111 @asimonw ?

[2016-09-15 08:07] JMurphyWeb commented on #150
github.com/emfoundation/ce100-app/issues/150#issuecomment-247259714

I think something like this url is what i am roughly going for.

[2016-09-15 08:29] asimonw commented on #151
@JMurphyWeb Oh I see, that's indeed a possibility. It can be tricky to get styling of input elements like checkboxes to work well cross-browser, but you can also use hidden checkboxes and some clever CSS (combination of :checked and the '+' selector) to use the checkbox functionality and again a div or li for the visual component.

[2016-09-15 08:42] asimonw commented on #156
@JMurphyWeb Not sure I understand the question. Of course a primary user is linked to an organisation. It determines their permissions and which contact info to show on the profile.

If you meant, no link between user and challenge, then indeed no direct link needed. They are linked indirectly because a user can only create or edit challenges of the org they belong to.

So the structure is:
* Root

[2016-09-15 08:53] asimonw commented on #156
Thinking about it a bit more, it could be useful in the future to have a record of who created a challenge, since we might have more primary users per org at some point. Not essential for now though, so if it complicates things, ok to revisit later.

[2016-09-15 08:57] mk4111 commented on #150
Morning @JMurphyWeb!

True about different 'ways' of getting to the add challenge card. What were the ways you were thinking of accessing the challenge cards? Will those views display things differently?

https://github.com/emfoundation/ce100-app/wiki/Data-structure

I've added an additional ```org_id``` key, and we're currently [discussing]( #156) the need for the challenge to be tied to the prim

[2016-09-15 09:05] asimonw commented on #150
@mk4111 You make some very good points in that final paragraph. I just answered in #156 that there is no direct link needed because there is an indirect link through the org. But as you said, for several reasons and to make things more future proof, it would be very useful to have a "created by" id stored on the challenge.

So if that doesn't overly complicate things, I'd go for something like tha

[2016-09-15 10:33] JMurphyWeb opened #157 "Implement system which allows views to adapt to different scopes and permissions"
To clarify:
 - scopes: ['admin', 'primary']
 - permissions: eg primary has logged in and views their own org (editable) or views a different org(non-editable)

At the moment i have modelled it in handlers:

When viewing an organisations details:
[code]

Then pass the view the above object.

I was hoping to pass down the scope to each view and let handlebars deal with the logic, but with handlebars

[2016-09-15 10:36] JMurphyWeb commented on #157
Linked to #57 #48

[2016-09-15 11:03] JMurphyWeb commented on #157
I have changed the auth.js file. We now have access to the logged in users id, scope, organisation_id via:
[code]
Which i am using:
[code]

[2016-09-15 11:04] mk4111 commented on #157
Cool - this looks good! :D

[2016-09-15 11:08] mk4111 commented on #151
@JMurphyWeb and @asimonw - I'm working on this now, and am attempting the 'checkbox' method :) I'll see how it looks on other browsers once that's done! Hope that's ok!

[2016-09-15 11:09] JMurphyWeb commented on #151
Good luck!

[2016-09-15 11:09] mk4111 commented on #151
Thank you :)

[2016-09-15 11:15] mk4111 commented on #105
The view has been created (PR) - without the select options; this is being worked on in #151.

[2016-09-15 11:30] fannyBkane commented on #106
• Login screen updated with new copy... https://zpl.io/ZnMkwr

[2016-09-15 11:57] JMurphyWeb commented on #157
Having looked a bit more at the edit org view, I was wondering if we could always send some info to handlebars:

if it is a primary user that is logged in viewing their own org:
```{ permissions: {scopePrimary: true, editable: true } } ```

if it is a primary user that is viewing a different org
```{ permissions: {scopePrimary: true, editable: false } } ```

[2016-09-15 12:10] mk4111 commented on #157
That's true - we could use that to determine whether to display the edit buttons too (public and private view)

[2016-09-15 12:11] JMurphyWeb commented on #157
ye and could help determine which navbar..

[2016-09-15 12:13] mk4111 commented on #144
Cool - I've just updated the [wiki](https://github.com/emfoundation/ce100-app/wiki/Data-structure)

[2016-09-15 12:57] #156 closed

[2016-09-15 12:57] JMurphyWeb commented on #156
wiki updated

[2016-09-15 13:00] JMurphyWeb commented on #56
[code]

[2016-09-15 13:01] #141 closed

[2016-09-15 13:02] JMurphyWeb commented on #141
Moved main argument into #56

[2016-09-15 13:54] JMurphyWeb commented on #157
I have decided on a method and will look at how it works when implementing #48

[2016-09-15 14:02] JMurphyWeb commented on #150
Wiki has been updated to represent the new data structure.

Back onto routes for the main views in sprint two... @asimonw do you have a preference/suggestion? Any further thoughts @mk4111

We are deliberating between:
[code]
and

[code]

[2016-09-15 14:03] JMurphyWeb commented on #150
@mk4111 please edit if there is something wrong

[2016-09-15 14:07] mk4111 commented on #150
@JMurphyWeb - nothing wrong from what I can see, but I'm wondering what the difference between /edit and /add are... /add would _only_ add, but /edit would need to add _and_ remove right?
If so, I wonder if it might make a wee more sense to just have an endpoint called
[code]
where we would compare what tags already exist in the database, and add/remove tags accordingly...

What do you think @JMur

[2016-09-15 14:16] JMurphyWeb commented on #150
The endpoints i have offered up were specifically for views.

I think the `/orgs/id/challenges/id/edit/tags` & `/orgs/id/challenges/add/tags` both represent the 'select tag' view.

The /edit and /add correspond to the item you are editing or adding, not the tags.
eg `/orgs/id/challenges/add/tags` represents the view of selecting tags for a newly added challenge, corresponding to the organisation t

[2016-09-15 14:17] JMurphyWeb commented on #150
I think maybe `/orgs/id/add/tags` causes confusion. This is probably not needed as it is only applicable to an admin adding a new org and adding tags to that new org. I don't think that is a requirement so we can leave that one off.

[2016-09-15 14:20] JMurphyWeb commented on #150
@mk4111 can you please update the second part of my comment with your idea so we can compare the two sets of view endpoints? I don't think i fully understand how it will work with tags. Thanks

[2016-09-15 14:28] asimonw commented on #150
I would also tend to agree with @mk4111. Create and edit views are the same (also for challenges): in one case some fields are populated, in the other they are not. I don't think you need two different end points for that. Did you consider using REST-like routing? It would be handy if we end up using more client side rendering.

Also, just to understand this, are you really generating every single

[2016-09-15 14:31] asimonw commented on #150
It would be good to get @nelsonic's view on this as well.

[2016-09-15 15:03] JMurphyWeb commented on #150
Here is how we have implemented so far:

`/orgs/add` - an admin adds a new org.
`/orgs/id/edit` - an admin edits an existing org.

The views are pretty much the same, but to me it seems strange to have the url the same for both actions.

For challenges we have both suggested following the same pattern:
`/challenges/add` - a user adds a new challenge.
`/challenges/id/edit` - a user edits an existin

[2016-09-15 15:06] JMurphyWeb opened #161 "REST endpoints for desktop views"
@nelsonic this came up in a discussion on view endpoints #150

I'm not sure if its anything we should be worrying about now but i'm not sure and wanted to get your feedback:

[2016-09-15 15:10] JMurphyWeb commented on #150
@asimonw see 161 re REST endpoints.

I am also a little hazy around how the tag adding will work. @mk4111 did i clear anything up or do you have any additional thoughts?

[2016-09-15 15:18] asimonw commented on #150
You'll want the org id somewhere in the url anyway right? Otherwise you'll need to send that through as POST data or something. I was mentioning REST because there the difference between create and update is in the HTTP verb and the only difference in url is the id:

Create: POST to .../resource
Update: PUT to .../resource/id

Of course, in an ideal separation of concerns, these only deal with dat

[2016-09-15 16:00] JMurphyWeb opened #162 "Dynamic joi validation models for same endpoints for admin and primary"
for `/orgs/id/edit` post request.

Admin can edit name(required) and mission_statement
Primary can edit mission_statement

Is there a way we can use a different model depending on who has made the request?

Admin model:
[code]
Primary model
[code]

[2016-09-15 16:09] JMurphyWeb commented on #162
uneditable inputs is not really an option/

[2016-09-16 08:38] mk4111 commented on #162
Hi @JMurphyWeb - I see the issue here... Do you think Hapi's [''Route Pre-requisite"](http://hapijs.com/api#route-prerequisites) could help us solve this issue?

[2016-09-16 08:39] JMurphyWeb commented on #162
@mk4111 thanks for looking into! i was just going through the docs myself. I will check your link after but i think that sounds good. Will keep you updated 👍

[2016-09-16 08:44] JMurphyWeb commented on #57
I am putting some of the groundwork of this issue in PR #163

I don't think this story can be finished until we have challenge cards and tags finished.

[2016-09-16 08:46] JMurphyWeb commented on #48
I am putting some of the groundwork of this issue in PR #163. Mainly the logic of what a primary user can see/do vs an admin, it will not cover tags or challenge cards.

I don't think this story can be finished until we have challenge cards and tags finished.

[2016-09-16 08:59] mk4111 commented on #155
Morning @JMurphyWeb :)

I agree that the _generic_ helper functions are really handy in applying JSON.parse to the stringified object from Redis but I'm wondering if there's a _better approach_ to the way we've implemented that; not all handlers functions use those helper functions, or use those helper functions straight after the DB query, which results in our need to still JSON.parse() our respo

[2016-09-16 09:01] mk4111 commented on #162
@JMurphyWeb thank _you_ :D

[2016-09-16 09:10] JMurphyWeb commented on #144
@mk4111 I think we can close this issue? Can you just confirm that data structure is correct for all branches you are working on? Please close if so. Thanks!

[2016-09-16 09:19] asimonw commented on #155
@JMurphyWeb @mk4111 relying on any ES2015 feature in the browser is a very bad idea. Most of them have _far from_ 100% support. Why don't you use babel?

[2016-09-16 09:19] JMurphyWeb commented on #155
Definitely agree on the first point. JSON parsing everything is a pain, and the helper functions set things up nicely for us to start playing with the data. I stand by what i said in that i'm happy for us to implement them 👍

Regarding destructuring es6 and arrow functions. I don't see how they can affect the browser since all of this work is being done on the server, which allows for such feature

[2016-09-16 09:29] mk4111 commented on #144
@JMurphyWeb - I've actually bumped into an issue with handlebars for tags - I'll write up an issue on it after this but to summarise - I've saved the child_tag ID as an _array_ in the format [parent_id, child_index_in_array]. I did this because the checkboxes had to have unique IDs - the current child_id alone is repeated so it was checking the wrong boxes when clicked on. We could keep the curren

[2016-09-16 11:57] JMurphyWeb commented on #162
eventually worked out how to pass validate an object with functions as values:

[code]

[2016-09-16 11:58] JMurphyWeb commented on #162
I will add it to the relevant pr

[2016-09-16 12:36] JMurphyWeb commented on #144
hey @mk4111.
Tag structure sounds good. Could you give an example of the 2 tag data structures so we can compare? It sounds like there could be some repetition but maybe I am not picturing it properly.

What is your thinking behind `active`/`enabled`? I do quite like `active` because it ties in with other data structures which is handy for consistency. Also it seems likely that we could reuse some

[2016-09-16 12:49] JMurphyWeb commented on #162
#163 should resolve this issue

[2016-09-17 12:00] mk4111 opened #164 "Tag structure"
At the moment: after heroku has 'built' our add, we run a command to read in all .csv files (which represent different tag _types/groups_) in /tags. These are them compiled into respective .json files.
When displaying those tags, we read in all .json files in /tags, and compile them into one, large array of objects.

Problem: if/when more .csv files are created, the index of array of objects (i.e.

[2016-09-17 13:22] mk4111 commented on #164
Issue fixed.

[2016-09-17 13:22] #164 closed

[2016-09-20 10:37] mk4111 opened #165 "Tags + Challenge Cards"
Remaining issues to fix:

- [x] Change tags 'select' button: submit --> redirect to /challenges/add
- [x] Display selected tags in /challenges/add view
- [ ] ~~On handlebars - if tags have been selected, hide 'example' tag~~

[2016-09-20 17:12] JMurphyWeb opened #166 "Change Password implementation"
When a primary user changes their password, they must confirm their `old_password`, then type their new password **twice** `new_password` & `confirm_new_password`.

validation will take care of:
new_password min 6 characters and
identical new_password and confirm_new_password

In the handler I was planning on:
Getting the user from redis
bcrypt comparing old_password with the existing password
  t

[2016-09-20 17:13] JMurphyWeb commented on #166
@nelsonic could you check over my planned implementation please?

[2016-09-20 17:31] asimonw opened #167 "Svg icons"
@mk4111 @JMurphyWeb Icons for the bottom nav and a few other places.

[ce100app-svg-icons.zip](https://github.com/emfoundation/ce100-app/files/483193/ce100app-svg-icons.zip)

[2016-09-20 17:38] nelsonic commented on #166
@JMurphyWeb firstly, my _understanding_ is that _changing_ password is not an MVP requirement ...
(_or at least I cannot find it in the backlog ..._ https://github.com/emfoundation/ce100-app/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20password )
I know this `old password`, `new password` + `repeat new password` approach is used by quite a _few_ sites but I'm _not_ a fan of this approach ... i

[2016-09-20 17:43] #140 closed

[2016-09-20 17:43] #144 closed

[2016-09-20 17:43] #137 closed

[2016-09-20 17:43] #139 closed

[2016-09-20 17:43] #146 closed

[2016-09-20 17:47] JMurphyWeb commented on #166
I think I got a bit carried away with the wireframes, I think you are right in that the change password isn't part of backlog so I won't put any work into it and closing this issue.

Wireframes do contain a reset password feature:
https://app.zeplin.io/project.html#pid=57ac9b5692d0c316520caeca&sid=57cdad1cc8057a6c67aa66a3

[2016-09-20 17:47] #166 closed

[2016-09-21 07:37] JMurphyWeb commented on #133
On master

[2016-09-21 07:37] #133 closed

[2016-09-21 07:37] JMurphyWeb commented on #127
now in master

[2016-09-21 07:37] #127 closed

[2016-09-21 11:04] mk4111 opened #172 "Add mock data for challenges + write tests for those"
Create mock data for challenges in setup-data.js.

[2016-09-21 11:21] JMurphyWeb commented on #124
route / should redirect to orgs

[2016-09-21 11:22] JMurphyWeb commented on #124
redirect to login if no token

[2016-09-21 11:22] JMurphyWeb commented on #124
make error message clear to user (hapi error template)

[2016-09-21 11:26] JMurphyWeb commented on #124
archive org deactivates the linked user, and removes the link to the organisation, but doesn't remove link to user from the organisations data set - should it?

[2016-09-21 11:31] JMurphyWeb commented on #124
canceling an edit user flow who has no org redirects to /orgs/-1 which should be /orgs

[2016-09-21 13:16] mk4111 opened #173 "split up setupData.js"
File getting too big - let's split it up!

[2016-09-21 13:36] asimonw commented on #13
@mk4111 @JMurphyWeb How are you currently handling the "delete" option? We realised that it would be important to have a prompt pop up, asking the user whether they are sure they want to delete. For archive/unarchive this is less important, because the action is reversible.

[2016-09-21 14:50] iteles commented on #13
@asimonw I would strongly suggest that we don't actually delete anything at this stage - even if we show the users a 'delete' button, we'll want to _archive_ for now and see how many calls/emails you get saying things were deleted by mistake.

[2016-09-21 15:21] JMurphyWeb opened #175 "update config vars"
in deployment i changed a couple of the config vars.
I will update them on the shared doc and let you know when that is done.

Main change:
`NODE_ENV=development`

[2016-09-21 15:40] asimonw opened #176 "Copy updates"
You can find some copy updates here. Images only serve to indicate where the copy should go, but are not "designed."

[Google doc](https://docs.google.com/a/ellenmacarthurfoundation.org/document/d/1581gfeX6cyrbOJjuqDq_Ds6vcyH4qO1alzJ5wUw1m54/edit?usp=sharing)

@JMurphyWeb do you have a gmail account? Otherwise we'll need to share the doc with you in a different way.

[2016-09-21 16:04] asimonw commented on #13
@iteles I didn't mean delete it from the database, we could (should) definitely keep records around, at least for a certain period. But for users, archive would mean that they can easily retrieve it themselves without our help, while delete would remove it from _their_ history.

On the other hand, at this stage, if there is only archive functionality that's totally fine and would simplify things a

[2016-09-21 16:56] mk4111 opened #177 "Error messages - particularly"

[2016-09-21 17:06] JMurphyWeb opened #178 "sprint 1 deploy"
https://ce100-emf.herokuapp.com/login

There are a few known issues:

Archiving orgs/users has a slightly inconsistent effect depending on current status of org and linked user. If something unexpected does occur, it would be great if you could jot down the circumstances and what behaviour you wanted/expected. It would be really helpful to have clear guidelines that we should follow for these edge

[2016-09-22 15:33] #157 closed

[2016-09-22 15:33] #162 closed

[2016-09-22 17:36] #105 closed

[2016-09-22 18:44] mk4111 opened #183 "Swap out no org/users text"
Change:

```Sorry! No organisations found!```

to

```<a href="/orgs/add">Click here to add an organisation</a>```

[2016-09-23 16:24] JMurphyWeb commented on #8
Will be finished when #55 is implemented

[2016-09-23 16:28] JMurphyWeb commented on #60
Need to update readme on implementation.

[2016-09-23 16:29] JMurphyWeb commented on #42
Need to link up send email with new email addresses

[2016-09-23 16:34] JMurphyWeb commented on #44
Need to respond to the user if success/error

Linked to #177

[2016-09-23 16:34] JMurphyWeb commented on #46
deployed

[2016-09-23 16:34] #46 closed

[2016-09-23 16:35] JMurphyWeb commented on #41
closing as deployed

[2016-09-23 16:35] #41 closed

[2016-09-23 16:36] JMurphyWeb commented on #40
Project is officially set up

[2016-09-23 16:36] #40 closed

[2016-09-23 16:37] JMurphyWeb commented on #80
done and deployed

[2016-09-23 16:37] #80 closed

[2016-09-23 16:37] JMurphyWeb commented on #100
closing as existing functionality can be tested and feed back in a new issue

[2016-09-23 16:37] #100 closed

[2016-09-23 16:43] JMurphyWeb commented on #178
Todo:
List what can be tested here.

[2016-09-23 16:44] JMurphyWeb commented on #47
Need to notify admin on success/failure.
linked to #177

[2016-09-23 16:45] #124 closed

[2016-09-23 16:51] JMurphyWeb commented on #177
@nelsonic it would be great to have a chat at some point about best way to go about implementing

[2016-09-23 16:52] #44 closed

[2016-09-23 16:52] #47 closed

[2016-09-23 16:56] JMurphyWeb commented on #60
covered in #66

[2016-09-23 16:56] #60 closed

[2016-09-23 16:58] JMurphyWeb commented on #108
doc is currently up to date and we have the minimum number of env variables possible.

[2016-09-23 16:58] #108 closed

[2016-09-23 17:00] JMurphyWeb commented on #107
Saved on github now. thanks.

[2016-09-23 17:00] #107 closed

[2016-09-23 17:04] JMurphyWeb commented on #43
In master

[2016-09-23 17:04] #43 closed

[2016-09-23 17:05] #134 closed

[2016-09-23 17:06] #136 closed

[2016-09-23 17:08] JMurphyWeb commented on #150
Wiki needs updating.

[2016-09-23 17:08] JMurphyWeb commented on #151
closing question as we have answer.

[2016-09-23 17:19] iteles opened #186 "Primary users should not have access to change their email address"
As an EMF admin, I do not want primary users to have access to change their email addresses (in the 'Settings' menu) so that if they change to a different organisation, they can't take the existing organisation with them!

This should be a read-only field.

[2016-09-23 17:26] iteles opened #187 "Remove 'cancel' buttons and replace with 'x' in header"
As a user, I don't want to have a 'cancel' button right next to the 'Save' button as I may click this accidentally and lose all my data.

This should be a 'x' near the top of the page:
https://app.zeplin.io/project.html#pid=57ac9b5692d0c316520caeca&sid=57cdad239561cc384a69e7de
<img width="330" alt="emf-ce100-cancel-button-cross" src="https://cloud.githubusercontent.com/assets/4185328/18795172/2ae7

[2016-09-23 17:31] iteles opened #188 "Organisation 'vision' and 'challenge' fields should be multi-line"
As a user, I would like more than a single line to input potentially larger information such as my challenge description and organisation's vision so that I can see what I am typing into the box.
- [x] Add organisation vision
- [x] Edit organisation vision
- [x] Add challenge
- [x] Edit challenge

<hr/>

These just need to be made into `textarea`s and styled accordingly.

[2016-09-23 17:35] iteles opened #189 "Make button text capitalisation consistent"
Currently, some buttons are all capitalised (e.g. `SAVE`) whilst others are not. All buttons should have the first letter capitalised and all others not capitalised. e.g. `Done`

Linked to #176

[2016-09-23 17:36] iteles opened #190 "Make general capitalisation across the application consistent"
The EMF convention is for the first letter of a phrase or menu item to be capitalised and the rest not: e.g. `Add challenge` and not `Add Challenge`.

[2016-09-24 10:59] JMurphyWeb commented on #175
done

[2016-09-24 10:59] #175 closed

[2016-09-26 08:03] JMurphyWeb opened #191 "Filter inactive organisations from primary browse view"
At the moment all organisations show up for primary users.

We should filter out inactive organisations.

@asimonw Should we also filter any currently unattached organisations? ie if they no longer have a primary user or never had a primary user?

[2016-09-26 08:21] asimonw commented on #191
@JMurphyWeb Good point. They can just show up without the "contact card." So they would show up in the list, but on their profile, there would be no primary contact info. This case will almost never occur, I expect. But if it does, it might be that we're simply transitioning to a new primary contact and there is no reason to make it look like the organisation is no longer part of the network becau

[2016-09-26 11:33] JMurphyWeb opened #192 "Suggested adjustment to browse user-flow"
Hi @asimonw & @fannyBkane. We have been looking through the UX pin and wireframes of the browse feature and have a suggestion which we hope can reduce the number of clicks for a user.

At the moment, if the browse button is clicked, the user can browse by orgs, challenges or a specific tag:
![screen shot 2016-09-26 at 11 59 59](https://cloud.githubusercontent.com/assets/12638261/18832008/dfceb7d4-

[2016-09-26 11:52] asimonw commented on #192
@JMurphyWeb Removing the first browsing overview page for the MVP is fine. Functionally, your suggestion is definitely the simplest option. We decided to add the first screen to the flow because we weren't sure what people would want to browse by most (org/challenge or tags), but we can see how people use it and review this option at a later stage.

A toggle for orgs/challenges is also fine for no

[2016-09-26 11:57] JMurphyWeb commented on #192
Great, thanks for speedy reply @asimonw.

[2016-09-26 12:26] mk4111 opened #193 "Suggested adjustments to Matching feature user-flow"
Linked to #14

Hi @asimonw and @fannyBkane, we had a few questions and a suggestion regarding the userflow around the matching feature; could we please ask you to help us get a better understanding of the requirements please? Thank you! :)

This is the userflow that we had in mind (following the #14 and [this wireframe](https://app.zeplin.io/project.html#pid=57ac9b5692d0c316520caeca&sid=57d045b407

[2016-09-26 12:57] JMurphyWeb commented on #187
This is resolved in #194

[2016-09-26 14:10] asimonw commented on #193
@mk4111 Good questions:

(1) Let's keep it simple for now. Match when at least one tag matches. This will be too simplistic once we have a lot of orgs and challenges, but for the MVP it should be fine and interesting enough to learn from.

(2) The suggested matches should always be shown, not just the first time. They could be collapsed after the first time (with click to open), but this is not in

[2016-09-26 14:12] asimonw commented on #193
@mk4111 These answers are meant to keep things simple for the MVP, so if there's anything that actually makes things hard for you right now, let me know.

[2016-09-26 15:09] JMurphyWeb commented on #186
Now done.

[2016-09-26 15:19] iteles commented on #193
@asimonw That's great, thank you. We're keen to offer a limited number of options for your MVP users and let your _them_ request and dictate the additional features added after this 👍 Feedback-driven decisions are the way to go.

We've also seen that Fanny has a 'suggested match' screen, but I would suggest that this is less useful for your MVP. There are two versions:
1. Provides a single organis

[2016-09-26 15:58] asimonw commented on #193
@iteles I forgot to comment on that, actually. It's fine to stick to a simple link to the suggested org's profile for now. The reason for the extra screen is:
* The email could turn into something like a direct message within the app at some point.
* We believe that showing the matching tags provides a lot of contextual info which would help the user decide whether it's worth looking at the org's

[2016-09-26 16:25] iteles commented on #193
@asimonw Thanks for confirming, we definitely agree 👍

[2016-09-26 22:04] #12 closed

[2016-09-26 22:36] #61 closed

[2016-09-26 22:42] #186 closed

[2016-09-27 07:16] JMurphyWeb opened #196 "Using server.inject's native promise feature in tests"
'If no callback is provided, a Promise object is returned.' [according to the docs](http://hapijs.com/api#serverinjectoptions-callback)

**Proposal: chain server.injects with promises as opposed to callbacks.**

As functionality increases, some of our tests are getting quite long as we continue to test end to end. For example I am about to test new browse functionality, here is what i would like t

[2016-09-27 07:41] nelsonic commented on #196
@JMurphyWeb in principal, no objection to trying this. In our other projects more complex end-to-end tests are using [`'async/waterfall'`](http://caolan.github.io/async/docs.html#.waterfall) which we would not _miss_ if there was an alternative ...
pick a test and attempt to implement it using the promise interface. 👍
please _estimate_ the time required for the task _before_ starting and avoid sta

[2016-09-27 07:43] JMurphyWeb commented on #196
Great. Will do, thanks.

[2016-09-27 07:57] #27 closed

[2016-09-27 08:05] JMurphyWeb opened #197 "Validation on add challenge"
We need to add validation to the `add challenge` POST request.

[2016-09-27 08:20] #151 closed

[2016-09-27 08:22] iteles commented on #32
@JMurphyWeb @mk4111 Lets take a look through and implement at least some basic error handling?

[2016-09-27 09:14] mk4111 opened #198 "ToDo's to merge edit-challenges into master"
- [] improve tests --> adjust existing tests to accommodate tag selection/addition/removal. (Notably edit-org and archive challenges)
- [] adjust models to accommodate changes in user flow

[2016-09-27 11:57] JMurphyWeb opened #200 "add challenge card with no tags bug"
if we add a challenge card, but don't add tags, then click on profile, we get an error.

[2016-09-27 12:58] JMurphyWeb commented on #192
Hey @asimonw @fannyBkane I just wanted to update you on the current browse views.

If there is anything you want me to change style wise please let me know.

<img width="461" alt="screen shot 2016-09-27 at 13 54 20" src="https://cloud.githubusercontent.com/assets/12638261/18874541/0c73421c-84ba-11e6-9eb7-5247314ceddf.png">

<img width="417" alt="screen shot 2016-09-27 at 13 54 48" src="https://clo

[2016-09-27 15:02] asimonw commented on #192
@JMurphyWeb Challenges by most recently created is perfect, thanks. @fannyBkane will comment on some of the design changes.

[2016-09-27 17:16] fannyBkane commented on #192
Hi @JMurphyWeb  thanks for that. The layout looks good.

I tweaked the styles of the buttons – see below:

![screen shot 2016-09-27 at 16 29 17](https://cloud.githubusercontent.com/assets/20577339/18882681/26e225dc-84d8-11e6-9f39-8c0d850b69c6.png)

View on Zeplin: https://zpl.io/Z1A9eFl

A couple of things:
• Browse challenge view: can you hide the challenge description on the card? (in the design

[2016-09-27 18:05] JMurphyWeb commented on #192
Ok thanks @fannyBkane, will do.

[2016-09-28 07:07] #187 closed

[2016-09-28 08:30] JMurphyWeb opened #202 "Browse route change"
On my local branch i have changed `/orgs` to `/orgs/browse` to indicate we are in the browse view.

Similarly `/challenges` has become `/challenges/browse`

Adding tags as browse filters view can be reached at `/orgs/browse?filter={{tag id}}` or  `/challenges/browse?filter={{tag id}}`

[2016-09-28 09:45] vicky-d1 opened #205 "Unable to join call"
Hi @iteles @JMurphyWeb @mk4111
Unfortunately I haven't been accepted to join the hangout and can't get through on Ines' mobile.
Let me know if you have any questions at all for the team as Alex is out of the office today and feel free to call on xxxxxxx or email me at all.
Thanks,
Vicky

[2016-09-28 10:25] mk4111 opened #206 "Notes/ideas on tests"
- [] test comments are quite _brittle_ - with the increasing number of tests, the _id_ of the challenges/orgs/people we are testing for changes. To accommodate this, it might be a better idea to be returning the orgId/challengeId in the url, as the reply.result, instead of hardcoding the actual ids into the comments. This way we can make more rigid tests --> instead of t.ok(reply.xyz.indexOf('does

[2016-09-28 11:32] mk4111 commented on #202
@JMurphyWeb - makes sense, but I was wondering, will we have a ```/orgs``` view? If so, what would be the difference between ```/orgs/browse```?

I think we'll also need to think of how we'll be putting the tagId in the url, because the tagIds come in the a ```0, 0``` format, and I don't think urls generally accept commas.

[2016-09-28 12:27] JMurphyWeb commented on #192
@asimonw

When a primary user browses all challenges, do you want the challenges created by their organisation to show up? At the moment i have filtered them out but can change if you would prefer.

[2016-09-28 12:49] JMurphyWeb opened #207 "Populating db happening twice"
In our server.js we run our initialise function which sets up the db with some mock data. This is handy for development and for now useful for the client to quickly test what we have built.

However when running the tests, we require server.js as well as calling our pre test setup function. Basically the data is injected twice when running tests.

For now i have split the starting of the server an

[2016-09-28 12:57] #205 closed

[2016-09-28 14:17] mk4111 opened #208 ""Select Tags" view - existing tags not displayed correctly"
In the userflow:
- Add/Edit challenge card tags
- Save challenge card tags
- Edit organisation tags
- Save tags

When we display the edit (add/remove) existing organisation tags view, the existing tags for _challenges_ is displayed instead of those for _organisations_. Seems to be saving correctly, although this needs to be checked.

[2016-09-28 14:19] mk4111 commented on #200
@JMurphyWeb - I'm going to work on this now. Can I have the go ahead please? Thanks!

[2016-09-28 14:48] asimonw commented on #192
@JMurphyWeb It might be confusing if we leave out their own challenges. I would leave those in.

[2016-09-28 14:52] JMurphyWeb commented on #200
ok

[2016-09-28 14:56] mk4111 commented on #200
Couldn't simulate this issue - will revisit once #199 is merged in.

[2016-09-28 14:58] mk4111 commented on #208
@JMurphyWeb - I'm going to look into this issue next!

[2016-09-28 15:16] mk4111 commented on #208
Happens in another userflow:
- add a challenge card (with tags)
- add a second challenge card (with tags)
- edit second challenge card
- edit first challenge card --> tags from second challenge card also displays.

Unless 'unchecked' the displayed challenge cards are also saving.

[2016-09-28 15:24] mk4111 commented on #208
Following on with the userflow above, we find that the tag from the tags that _aren't supposed to be there_, are the tags that are selected when editing the second challenge card _first time around_ .

Tags that are added when editing that challenge are _not_ displayed.

[2016-09-28 15:24] mk4111 commented on #208
N.B. Google Chrome is used in the above examples.

Now going to try and debug with Firefox.

[2016-09-28 15:28] mk4111 commented on #208
This issue persists with Firefox too.

[2016-09-28 15:51] mk4111 commented on #208
Update - the tags displayed on adding a _new_ challenge (challenge 3) are the accumulate of the previous two --> the same tags object is being referenced every time.

[2016-09-28 16:09] mk4111 commented on #208
tags.json was being 'required' into our .js files as 'require('path-to-tags.json')' --> a copy is required in _once_ and shared across different .js files _globally_.

[2016-09-28 16:10] mk4111 commented on #208
Fixed by switching out require for fs.readFile! :tada:

[2016-09-28 16:27] mk4111 opened #210 "'requiring' in mockData files --> fs.readFile(Sync)?"
In light of #208, it _might_ be a good idea to switch out the way that we are currently reading in mockData files (```var fileName = require('path-to-file')```) to ```var fileName = readFileSync(path.join(__dirname, 'relative-path-to-file'))```

@JMurphyWeb, what are your thoughts on this?

[2016-09-28 16:39] JMurphyWeb commented on #202
nice thanks. Closing now.

[2016-09-28 16:42] JMurphyWeb commented on #208
Interesting.

[2016-09-29 08:08] JMurphyWeb commented on #210
Sounds good indeed.

[2016-09-29 08:10] JMurphyWeb commented on #196
@nelsonic i have implemented this in #203. It worked out really well.

[2016-09-29 11:54] iteles commented on #196
@JMurphyWeb I'm not seeing a time estimate as requested by Nelson here. How long did this take in the end?

[2016-09-29 12:21] mk4111 opened #211 "tags.json --> save to redis!"
edit csv-to-json.js to save the object to redis (instead of a .json file)

-------------

TODOs:

- [x] ~~edit csv-to-json.js file so that we're saving tags state to redis instead of to a .json file.~~
- [x] edit csv-to-json --> rename file to save-tags.js (read in .json, and save to redis)

[2016-09-29 12:43] JMurphyWeb commented on #196
Specifically figuring out the server.inject returning a promise? Not long at all, maybe 10 mins.

Writing the tests then took the same amount of time as I would expect if I had not used promises.

I've added 1hr because it is the smallest available. Sorry for not estimating before.

[2016-09-29 12:45] JMurphyWeb commented on #192
Ok will add them back in, thanks.

[2016-09-29 13:07] nelsonic opened #212 "Apply for AWS SES (Email Sending) Limits Increase"
When an account is _first_ registered for AWS SES https://aws.amazon.com/ses/ it is placed in a "sandbox" to avoid people sending _too_ many emails (_i.e. "spam"_) in order to send _more_ than the daily sandbox limit we need to send a _request_ to AWS support stating how many outbound emails we expect to send per day/month. this only takes 5 mins to do.

Required for: https://github.com/emfoundati

[2016-09-29 13:22] #13 closed

[2016-09-29 14:12] mk4111 commented on #212
@nelsonic  and @JMurphyWeb am :eyes: now <3

[2016-09-29 14:19] mk4111 commented on #212
So the daily quota 200 emails ([see here!](http://docs.aws.amazon.com/ses/latest/DeveloperGuide/request-production-access.html))

In [this link](http://docs.aws.amazon.com/ses/latest/DeveloperGuide/manage-sending-limits.html), there's an example with an arbitrary(?!) limit of 50,000 so I'm thinking of requesting for an increase to this amount...

@nelsonic do you think that's enough? :blush:

[2016-09-29 14:31] JMurphyWeb commented on #202
As discussed with @mk4111 new tags will be changed due to a clash of endpoints:

`/browse/orgs`
`/browse/orgs/tags`
and
`/browse/challenges`
`/browse/challenges/tags`

[2016-09-29 15:01] JMurphyWeb commented on #202
wiki updated to represent this change

[2016-09-29 15:01] mk4111 commented on #212
I've made a request for our quota to be raised to 50,000 but would be happy to submit a new request if needed! Hope that's ok!

[2016-09-29 15:04] mk4111 commented on #212
I'll unassign myself when we are granted the request

[2016-09-29 15:04] mk4111 commented on #211
I'm going to have a :eyes: at this :sunny:

[2016-09-29 15:07] mk4111 opened #213 "send emails to unregistered users too."
At the moment, we're only able to send emails to users registered on the sandbox.
Need to change the settings so that we can send to any email address.

[2016-09-29 15:09] JMurphyWeb opened #214 "confirm password validation"
[code]

This task is still outstanding

[2016-09-29 15:25] mk4111 commented on #213
:eyes:

[2016-09-29 15:29] nelsonic commented on #207
Apologies for not _seeing_ this issue yesterday. (_too many github notifications..._)

In [`/test/helpers/set-up.js#L8`](https://github.com/emfoundation/ce100-app/blob/d0df7c6654e52978d02bbdededc24e90e2a837f7/test/helpers/set-up.js#L8)
Simply add a _check_ before running the script ...
[code]
This _prevents_ the `dbSetup.initialiseDB` from being run multiple times without "_hiding_" the issue in t

[2016-09-29 15:30] mk4111 commented on #213
Seems you can't send email to unregistered users if you're in sandbox - [see here](https://docs.aws.amazon.com/ses/latest/DeveloperGuide/request-production-access.html)

Have requested an increase in our sending quota in #212 - if/when apprived, this should move us out of sandbox

[2016-09-29 16:03] mk4111 commented on #211
@JMurphyWeb - I've just updated the top description with my thoughts on saving the tags to the db. I've got it working as saving as a list, but I'm wondering what the benefits of keeping/not keeping a history of tag 'updates' in redis might be... Can I pick your brains on this please? Thank you <3

[2016-09-29 16:10] JMurphyWeb commented on #211
Personally i'd say not to worry about storing a history just yet. It is a nice feature but maybe not MVP?

[2016-09-29 16:12] JMurphyWeb opened #215 "browse orgs with filters"
We have the functionality in place to browse challenges with filters, now we need to implement browse orgs with filters.

There will be lots of repetition and i am thinking i may be able to use the same handler for both but will investigate further.

[2016-09-30 07:37] JMurphyWeb opened #216 "Change to challenge card options being sent to handlebars"
When writing the filter function for organisations i couldn't reuse a function that was created for filtering challenges:

specifically this reduce function:

[code]

The problem being caused by this reusable function:
[code]

As it overwrites the `challenge.tags` key from `[ [0,0], [1,1] ]` to `[ {id:id, name:name}, {id:id, name:name} ]`

But the `organisation.tags`is still of the form `[ [0,0],

[2016-09-30 07:42] JMurphyWeb commented on #101
This feature was never updated after sprint 1 so have added to sprint additions.

[2016-09-30 08:34] JMurphyWeb opened #217 "Change from challenge.archived to challenge.active"
When the change was made: https://github.com/emfoundation/ce100-app/pull/199/files#diff-b00b2426ea4c5569a2f693c13130c545R10

I think the data booleans were not replaced with their opposite.  May need updating on your local branch @mk4111. Also wiki needs updating.

[2016-09-30 08:53] JMurphyWeb opened #218 "admin cannot see deactivated orgs in browse view"
Admin should be able to see active and inactive orgs in browse view.

@asimonw 2 questions for admin viewing challenges:

1. Should they see both active and inactive challenges?
2. Should they see challenges created by an inactive org?

[2016-09-30 09:03] JMurphyWeb commented on #217
Update: i think challenge number 4 was correctly change, but the rest weren't.

[2016-09-30 09:13] asimonw commented on #218
@JMurphyWeb I would say that, because admins control the state (active/inactive) of orgs, they should be able to see challenges by inactive orgs. Because archiving a challenge is done by the primary user, an admin shouldn't easily be able to see challenges that primary users no longer wish to share. So:

1. No, only active ones
2. Yes, both from active and inactive orgs (but again, only active cha

[2016-09-30 10:02] JMurphyWeb opened #220 "bugs and todos"
Will flesh this issue out but I have noted down some todos as a result of the work i did this morning:

Some things to do that I will go onto address in the next PR:

- [x] add tests
- [x] check tagsData change whether it should be added elsewhere
- [x] put reusable browse functions in helpers
- [x] remove active and contact from primary user contact view

~~- [ ] check outstanding todos in the pr

[2016-09-30 10:06] JMurphyWeb opened #221 "Add tag as a filter to browse view"
A user should be able to add tags to filter the results that show up in browse view

[2016-09-30 10:29] mk4111 commented on #213
Sending quota updated to 50,000! :tada:

[2016-09-30 10:29] #213 closed

[2016-09-30 10:30] mk4111 commented on #212
Sending quota has been updated to 50,000! Woohooo! :tada:

@nelsonic is this issue ok to be closed?

[2016-09-30 10:59] nelsonic commented on #212
@mk4111 would you mind adding a sub-section with a paragraph explaining why you had to do this and how you did it to: https://github.com/dwyl/sendemail#which-email-service-provider (_please/thanks_!)

[2016-09-30 11:29] mk4111 commented on #198
closed with PR #199

[2016-09-30 11:39] mk4111 commented on #211
@JMurphy, cool - I'll go with that then :) Thanks!

[2016-10-02 08:46] JMurphyWeb opened #225 "Add query validation on browse"
Add validation for query params on browse: `filter=0,0`

[2016-10-02 09:15] JMurphyWeb opened #227 "contact list bug"
Primary users should not be able to see user type and activation status on their contact list.

Contact list needs amending to show:
[code]

[2016-10-02 12:30] JMurphyWeb commented on #191
This is done and in master

[2016-10-02 12:30] #191 closed

[2016-10-03 09:23] JMurphyWeb commented on #32
@iteles I have added some basic error handling to unsuccessful incorrect password/email at login.
In the error message PR.

However any failure of validation throughout the app throws a fairly big error when really just a snack bar is wanted.

It would be great to have some input from @nelsonic.

When making a `POST` request, there are 3 main possible places for errors:

- Failed validation
- hoek

[2016-10-03 09:32] iteles commented on #22
As discussed, the MVP of this is a simple `mailto` link

[2016-10-03 12:30] JMurphyWeb commented on #32
I have found that failAction is probably the way to solve the validation error problem, looking into the docs and the repo i linked above now..

I think I would still appreciate advice on handling a Hoek.assert error. I guess the desired behaviour would be a generic message like "Sorry, something went wrong" in the form of a snack bar.

[2016-10-03 14:22] mk4111 commented on #217
@JMurphyWeb - what do you mean by the booleans being updated?

[2016-10-03 14:37] mk4111 opened #228 "Protecting against script injections"
Related to #32

This is something we're lacking in all of our input fields and something we should probably implement. Should this be in future enhancements? Seems like a fundamental to-do too...

[2016-10-03 14:43] iteles commented on #214
@jmurphyweb This is pretty impenetrable to anyone outside the project. Where does the requirement to have a minimum number of characters come from? What does `password match confirmPassword` mean?

[2016-10-03 14:46] iteles commented on #220
@JMurphyWeb All of the checklist items here are closed. Is this `in-review`?

[2016-10-03 14:47] JMurphyWeb commented on #220
is now 👍

[2016-10-03 14:50] JMurphyWeb commented on #214
ensure that the user's password is the same as their confirmPassword.

No requirement for minimum characters, but it is literally changing that '1' to a '6' so it is no work and we presumed it would be nice to have. Can remove min characters?

[2016-10-03 14:55] JMurphyWeb commented on #32
https://github.com/dwyl/hapi-login-example-postgres/blob/master/lib/helpers.js

This file seems to hold a few useful functions that I am aiming to bring into our project.

[2016-10-03 15:25] JMurphyWeb commented on #217
Sorry it's not very clear but we discussed this on the day. I think it was just a small mistake when you changed the `archived` key to `active` the values were not changed.

ie something that was `archived: true` should have been changed to `active: false`, but the keys were not updated to represent the new data structure, so we were left with `active: true` which isn't what you intended, except f

[2016-10-03 15:57] JMurphyWeb commented on #32
Todo before assigning nelson:
- [ ] work out more generic error handling system that can be used app wide consisting of snack bar and indicating which input failed
- [ ] work out exactly which views require error handling
- [ ] implement error handling and style

[2016-10-03 17:12] JMurphyWeb commented on #32
<img width="464" alt="screen shot 2016-10-03 at 18 12 11" src="https://cloud.githubusercontent.com/assets/12638261/19046380/fa769444-8994-11e6-891b-caeadd9e05de.png">

[2016-10-03 17:31] JMurphyWeb commented on #32
@mk4111 if an admin fails validation, for example leaves the name blank when adding an organisation, the following function is used to generate an error object which is sent to handlebars:
[code]

Where:

- `values` are the existing input values that the user tried and failed with.  We can input these values into the form so the user doesn't lose all of their text when they fail validation.
- `mes

[2016-10-03 17:46] mk4111 commented on #32
I think I can see where you're going with this, and I'm liking it!

A wee confused about one thing though - do we have an ```error.name```? Is it supposed to be a class? I'm guessing it's so that we can make it green or red depending on the message?

It looks like we'd be able to reuse it for the other error handling - besides Joi validation - too, so I'm really liking that! Awesome work @JMurphyW

[2016-10-03 17:57] JMurphyWeb commented on #32
i copied most of the ideas from nelsons hapi example i linked to above.

`{{error.name}}` in this case will become `form__input-error` in handlebars, which is a css class I have created some styles for which gets added to the `input` that failed. There is a screenshot of the result posted above.

A slightly more relevant example:
in the 'add  challenge view' we can use {{error.title}} and {{error.

[2016-10-03 18:07] mk4111 commented on #32
@JMurphyWeb - sorry are we still using the object returned from your ```errorOptions``` fn? Not sure where ```error.title``` and ```error.description``` come in...

I agree that it would be good to display errors, only for the input that's erroring though!

[2016-10-04 07:58] iteles commented on #214
If we already have intelligent error handling for it, let's keep them in 👍

[2016-10-04 08:26] JMurphyWeb opened #230 "Permissions on edit challenge view"
every primary user can GET the challenges/id/edit view by manually typing in challenges/number/edit

Only a primary who created the challenge can edit the challenge card.  In other handlers we have used the getPermissions function to work out if the user can GET a view, so that might be an option when it comes to fixing.

[2016-10-04 08:34] JMurphyWeb commented on #32
@nelsonic @mk4111 any thoughts?
I am implementing error handling using failAction and previously, i was placing the fail action functions in the Joi model files.

However this became difficult to do when moving onto the more complicated views which need some data in order to be rendered.  I have now adapted the relevant handlers so that they can handle a validation failure as well as a regular non

[2016-10-04 14:13] JMurphyWeb opened #231 "change to confirmPassword structure"
We were storing the confirm password value in a key named `confirmPassword`.  For consistency and ease of converting into a more user friendly name, i have renamed it `confirm_password`.

I just wanted to document.

[2016-10-04 16:04] JMurphyWeb commented on #32
Update: the relevant handlers are now doubling up as handlers and failAction functions.

Pattern taken from hapi-login-postgress-example code.

[code]

[2016-10-04 16:17] JMurphyWeb opened #232 "redeploying master to heroku"
As per @iteles request, i am trying to redeploy master to heroku, however any interaction with the heroku branch is giving me the following:

[code]

`host heroku.com` yields:
[code]

I am not sure what to do with this for now.

[2016-10-05 08:11] mk4111 commented on #210
Closed in favour of #211

[2016-10-05 08:11] #210 closed

[2016-10-05 08:31] mk4111 opened #234 "Admin navbar not toggling"
The admin navbar has two options - 'Browse' and '+'
On click of '+' a menu is displayed with 'Orgs' and 'Users' - by clicking on either, the user will be redirected to the relevant page where they will be able to create a new Org/User.

We have the navbar with the two options, and the toggling menu fully open - navbar now needs the relevant CSS to open and close.

[2016-10-05 10:02] JMurphyWeb commented on #200
We never found this bug again so was fixed either intentionally or unintentionally .

[2016-10-05 10:02] #200 closed

[2016-10-05 10:04] JMurphyWeb commented on #178
closing as issues are either resolved or out of scope.

[2016-10-05 10:05] #178 closed

[2016-10-05 10:08] JMurphyWeb opened #236 "Own organisation was being suggested as a match"
The organisation that created a challenge card should not show up as a match suggestion on it's own card.

[2016-10-05 10:12] JMurphyWeb commented on #22
This is very soon to be in review. @mk4111 can you push up and change the label when you assign me to look over please?

[2016-10-05 10:13] JMurphyWeb commented on #232
closing as i simply rolled back upon @iteles advice

[2016-10-05 10:13] #232 closed

[2016-10-05 10:14] JMurphyWeb commented on #208
This is as good as in review, @mk4111 can you please add the label once the conflicts are fixed and i am assigned?

[2016-10-05 10:16] JMurphyWeb commented on #197
There is now validation on add challenge.

[2016-10-05 10:16] #197 closed

[2016-10-05 11:07] JMurphyWeb opened #238 "if a user clicks on a tag, they should be taken to browse view"
At the moment clicking on a tag has no functionality, but I think it is desired that the user gets taken to 'browse' view with that tag set as a filter.

[2016-10-05 11:30] JMurphyWeb opened #239 "admin cannot edit tags on an existing challenge card"
This issue may have arisen since me adding error-handling and possibly updating the validation models.

error:
`403 - Sorry, something went wrong, please retrace your steps.`

[2016-10-05 15:14] JMurphyWeb opened #241 "In browse view, filters get lost when toggling between orgs and challenges"
I guess this could down as an enhancement, but I am sure that i wrote the functionality already which seems to have got lost in a merge.

Although the inconsistency is definitely a bug:

Inconsistent flows:

Add a tag to browse when browsing orgs, click challenges and the filter disappears.

or

Add a tag to browse when browsing orgs, click challenges and the filter doesn't disappear, but the `Sel

[2016-10-05 15:19] JMurphyWeb opened #242 "add new user, leading zero of phone number is dropped"
I think it at some stage it is being changed to a number as opposed to a string.

[2016-10-05 15:24] mk4111 commented on #239
:eyes:

[2016-10-05 15:25] JMurphyWeb commented on #239
@mk4111 also the edit challenge view doesn't show the admins top navbar

[2016-10-05 15:27] mk4111 commented on #239
still? I'll look into it...

[2016-10-05 15:30] JMurphyWeb opened #243 "send email is not working"
send email functionality is commented out.

[2016-10-05 15:34] JMurphyWeb opened #244 "Admin creates new admin, gets attached to a user"
I did not select an org, but got attached to Fanta. It must be due to organisation_id being -1 and the user gets attached to the last org or something?

[code]

[2016-10-05 15:38] JMurphyWeb opened #245 "contacts are not sorted alphabetically"
Contact list is not sorted alphabetically.

Again this functionality was in there so must have got lost whilst merging.

[2016-10-06 08:20] mk4111 commented on #217
@JMurphyWeb - ah yes I understand now! I'll have a look into how this wording affects the structure of our code this morning

[2016-10-06 08:53] JMurphyWeb opened #246 "replying to xhr with a view"
We are now sending the edit organisation form up via an XHR, which means any reply comes in the form of a long string of html.

I want the browser to interpret that string and take on a new url of `/orgs/id/tags`

At the moment I am using `document.write(xhr.responseText)` but the URL stays as `/orgs/id/edit`.

I have googled it, and found [this](http://stackoverflow.com/questions/824349/modify-th

[2016-10-06 09:03] JMurphyWeb commented on #217
this is already done @mk4111

[2016-10-06 09:04] mk4111 commented on #246
@JMurphyWeb - could you not use HTML's form 'action' attribute? So that you can direct it to ```/orgs/id/tags```?

[2016-10-06 09:06] mk4111 commented on #217
@JMurphyWeb - so we _don't_ need to fix this in the later PRs?

[2016-10-06 09:10] JMurphyWeb commented on #217
It should already be fixed

[2016-10-06 10:23] JMurphyWeb commented on #246
According to Jack we need to send the form up manually.

[2016-10-06 10:29] mk4111 commented on #246
@JMurphyWeb - why do you want to change the url on the front-end? Why can you not POST the form data to the back-end, and then redirect...?

[2016-10-06 10:33] JMurphyWeb commented on #246
yeah but if there is an error, forcing a redirect won't display that.

[2016-10-06 11:08] asimonw opened #247 "Edit profile. Add tags on next screen --> button should say "Next" not save"
"Next" is used for challenge cards. Would be good to make this consistent.

[2016-10-06 11:09] asimonw opened #248 "Explore by clicking on tag in profile/challenge not working"

[2016-10-06 11:13] asimonw opened #249 "Browse: Still says "Select tags" even after tag has been selected"
The selected tag should be shown at the top.
(Initially, it might be better to say "Showing all tags" like in mockups)

[See mockup](https://zpl.io/Z1nsDsm)

[2016-10-06 11:13] mk4111 commented on #244
:eyes:

[2016-10-06 11:15] JMurphyWeb commented on #246
index.js client side
[code]

And the handler looks like this:
[code]

[2016-10-06 11:15] mk4111 commented on #244
Seems that ```redis.LINDEX('organisations', orgId, (error, response) => ...``` where ```orgId === -1``` returns the Fanta organisation...

Strange because Fanta's id === 7

[2016-10-06 11:24] asimonw opened #250 "Browse: toggling between orgs and challenges clears the tag filter."
Once a tag selection has been made, toggling between orgs and challenges clears the tag filter. The tag filter should be preserved.

User flow should be: select a filter --> see orgs for that tag --> click on challenges to see those for same tag
Appreciate that this might not have been clear from the info we've provided, hence not marked as bug.

[2016-10-06 11:33] asimonw opened #251 "Browse - select tag: no way to cancel selection or select "All tags" to clear filter"
When clicking select tag, there is no way to cancel and go back to the browse view without making a selection. More importantly, there should be a way to clear the filter, by tapping "All tags" is indicated [here](https://zpl.io/2uqUui) (although we should make the "All" option stand apart more).

[2016-10-06 11:39] asimonw opened #252 "Profile: Email in contact card should link to mailto:..."
This was not clear in the mockups, so not labeled a bug.

[2016-10-06 11:41] JMurphyWeb commented on #246
Reacting to the different possible status codes appears to have done the trick.

[code]

[2016-10-06 11:41] asimonw opened #253 "New challenge on profile is created at the bottom"
Challenges should be ordered last created first.

[2016-10-06 11:44] mk4111 commented on #244
organisations are now being queried for _only if_ orgId !== -1.

[2016-10-06 11:46] mk4111 opened #254 "Admin can create new user without attaching them to org"
This is probably useful in the future when there might be secondary users, but as a primary user, this might not be a needed feature.

I think this should be considered in the future, and is not a _bug_ at this stage. Will therefore label as an enhancement.

[2016-10-06 11:47] asimonw opened #255 "Browse: in challenge list, no description should be shown."
Tapping the challenge opens a new view which also shows the description.
See [here](https://zpl.io/ZEOhGN) and [here](https://zpl.io/Z2kmBO6).

[2016-10-06 11:48] JMurphyWeb commented on #244
is this in review?

[2016-10-06 11:51] mk4111 commented on #244
@JMurphyWeb - I've just finished testing, and am about to commit. I'll put an 'in-review' label once I've pushed up. Need to find out about method of creating PRs first though!

[2016-10-06 11:52] asimonw opened #256 "Profile: only (roughly) first two lines of challenge description should be shown"
Character count to be tested..
Tapping the challenge opens a new view which shows the full description.
See [here](https://zpl.io/ZEOhGN) and [here](https://zpl.io/Z2kmBO6).

[2016-10-06 11:52] JMurphyWeb commented on #244
Ahh ok nice!

[2016-10-06 11:57] asimonw opened #257 "More user friendly 401 screen"
The 401 screen has title "401" and has admin nav. Should be more user friendly (with at least a title). No nav needed, just link to login.

[2016-10-06 12:00] nelsonic commented on #257
@asimonw would you consider simply _redirecting_ to the `/login` page ?
(_or do you prefer to display an error page with a link to the login page_?)

[2016-10-06 12:28] mk4111 opened #258 "Primary Users not correctly recorded in Org Details"
When a primary user is created, they should be added to the organisation's ```people``` array, which records all users that are or have been associated to that org.

Right now, the accumulated number of primary users is being recorded instead (because: we're recording the _result_ of peopleArray.push(newPersonId) instead of appending to the array, and then assigning that to the obj key).

[2016-10-06 12:36] JMurphyWeb commented on #246
this solution seems good. closing for now

[2016-10-06 12:36] #246 closed

[2016-10-06 12:38] JMurphyWeb commented on #55
I am unsure how to test a file being uploaded.

[2016-10-06 12:42] mk4111 commented on #242
:eyes:

[2016-10-06 13:01] mk4111 commented on #242
Seems that this happens only when the first digit is a 0.

[2016-10-06 13:08] mk4111 commented on #242
Error message doesn't seem to recognise that the input should be a phone number (spec: 11+ random digits between 0 and 9)

![screenshot from 2016-10-06 14-06-41](https://cloud.githubusercontent.com/assets/13470325/19153365/2a5e4e28-8bce-11e6-93ac-cdf44dd56510.png)

[2016-10-06 13:10] mk4111 commented on #242
Looking at if Joi has a .phone() schema, like they do for email.

[2016-10-06 13:14] asimonw commented on #257
@nelsonic yes that would be fine for now. Some form of feedback (potentially a flash message) could be nice, but lower priority.

[2016-10-06 13:19] mk4111 commented on #242
https://github.com/hapijs/joi/issues/863

Link above explains that this problem can be solved with regex.

[2016-10-06 13:24] mk4111 commented on #242
Fixed!

Displays numbers starting with ```+44``` too

[2016-10-06 13:25] JMurphyWeb opened #260 "testing amazon s3 uploads"
I am having trouble testing an upload to s3:

[code]

--> the payload comes through as:

[code]

And this is my error message:

[code]

When going through the flow on my local branch i get this as a payload:

[code]

Any advice on how i can make my logo buffer in my test in the same form as the one in the actual form?

[2016-10-06 13:36] mk4111 commented on #260
hmm... so the Buffer is coming through as a Buffer 'object' instead of the ```<Buffer >``` format right? I'm not entirely sure what the difference is, or what either formats are actually called but I'm thinking that the ```<Buffer ...?``` format got JSON.stringify-d by the form or JSON.parse-d by Hapi when sending to the backend. Although it works locally so maybe not the case.

Can you send the i

[2016-10-06 13:40] mk4111 commented on #248
Related to #238

[2016-10-06 13:41] mk4111 commented on #249
Ties in with #250

[2016-10-06 13:42] mk4111 commented on #249
Ties in with #241 and #250

[2016-10-06 13:43] mk4111 commented on #250
Related to #241

[2016-10-06 13:47] mk4111 commented on #101
This is now in-review - PR #222

[2016-10-06 14:49] JMurphyWeb commented on #249
This is fixed locally

[2016-10-06 15:45] mk4111 commented on #230
:eyes:

[2016-10-06 15:48] mk4111 commented on #230
Problem: non-primary users can view a challenge's edit page + also submit an edit to the challenge.

[2016-10-06 15:51] JMurphyWeb commented on #251
now fixed

[2016-10-06 16:29] mk4111 commented on #253
Similar to #245

[2016-10-06 17:37] JMurphyWeb commented on #253
resolved locally

[2016-10-06 18:00] JMurphyWeb commented on #245
fixed locally

[2016-10-06 18:05] JMurphyWeb commented on #247
fixed locally

[2016-10-06 18:16] JMurphyWeb opened #263 "admin view archived org without challenges breaks"
allChallenges.map is not a function is the error that is given.

[2016-10-06 18:17] JMurphyWeb commented on #263
fixed locally

[2016-10-07 01:26] nelsonic commented on #177
@mk4111 / @JMurphyWeb in-line error messaging in forms is _exemplified_ in: https://github.com/dwyl/hapi-login-example-postgres using the Joi validation error messages.

The code for extracting the Joi error messages is: https://github.com/dwyl/hapi-login-example-postgres/blob/master/lib/helpers.js
which then gets used in the view. see: [/lib/handlers/login_handler.js#L74](https://github.com/dwyl/

[2016-10-07 02:25] nelsonic commented on #202
_when_ was having the word `/browse/ in the url requested/discussed/agreed by/with PO...?
_why_ are we using a _verb_ before the _noun_ in the url structure, what _convention_ are we following? please be _specific_ when creating an issue, what _problem_ is this change in url structure solving? is this URL "_RESTful_"? see: http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#restfu

[2016-10-07 03:21] nelsonic commented on #196
@JMurphyWeb "_I've implemented this_" ... _buried_ in the bowels of a 500+ line Pull Request ...?
What happened to _testing_ out the idea in _isolation_? Applying the _pattern_ to an _existing_ test ...   The whole idea of _trying_ out a new approach is that we _discuss_ it (_as a team_) not that it slips into a _feature_ PR without any further consideration ...

I would not describe the promise-b

[2016-10-07 03:25] nelsonic commented on #88
@mk4111 please confirm if this is still an issue. if not, please close it. thanks.

[2016-10-07 03:29] nelsonic opened #265 "Logging, Monitoring & Alerts"
as a developer (_and Product Owner_) I need to ensure the app is working as expected
so we know the time/effort we have spent building features is not wasted because of a basic server/db error which only users are seeing (_and we are not being alerted to_) ...
to ensure that the team is aware of any issues as soon as they occur, we should implement basic logging & monitoring of the health/status o

[2016-10-07 04:03] nelsonic commented on #202
This story should _not_ have been classified as `technical` task.
It _should_ have been a _question_ posed to the PO on how the app UX should _work_ which would then _inform_ what the URL pattern should be.

diving into implementing the _sweeping_ change based on the _assumption_ that the PO has agreed (_even if agreement was sought in a "chat", it's not documented here_) is how Technical Debt is

[2016-10-07 05:17] nelsonic commented on #260
@jackcarlisle please assist. thanks!

[2016-10-07 06:59] JMurphyWeb commented on #177
We now have that functionality

[2016-10-07 08:35] asimonw opened #266 "Tags need to be sorted alphabetically"
This applies to all screens where tags can be selected, both the parent and child tags should appear in alphabetical order, so that they can be found/discovered more easily.

[2016-10-07 08:38] asimonw opened #267 "Contact list: Emails should be hyperlinked"
Currently, the item collapses when the email is clicked, so it cannot even be selected.

[2016-10-07 08:40] asimonw opened #268 "Not possible to access archived challenges"
Currently, it's possible to archive a challenge, but there is no way to access the list archived challenged.

No delete button/functionality needed.

![screen shot 2016-11-14 at 12 28 28](https://cloud.githubusercontent.com/assets/12638261/20264935/ee68a420-aa65-11e6-8363-23687e90eaa1.png)

[2016-10-07 08:47] asimonw opened #269 "Not possible to log out"
We were thinking that this could be a link on the [Settings page](https://zpl.io/2a86OV).

[2016-10-07 10:59] JMurphyWeb commented on #260
@nelsonic just caught up with @jackcarlisle. He wasn't sure as he used night-watch.

[2016-10-07 12:52] JMurphyWeb opened #270 "activate user bug"
We can activate a user but they get an error message. Activation does happen as they can log in the next step.

[2016-10-07 13:11] JMurphyWeb opened #272 "new user add challenge bug"
New user adds a challenge -> 500 error. Need to be initialise new users with empty array.

now fixed.

[2016-10-07 13:43] nelsonic commented on #260
@JMurphyWeb please let me know what git branch this is on so I can run it locally and help you debug it.

[2016-10-08 13:30] JMurphyWeb commented on #216
@mk4111 has seen and approved the change from tags to tagData. Closing this issue.

[2016-10-08 13:30] #216 closed

[2016-10-08 13:46] JMurphyWeb opened #274 "Browse challenges view with new user created bug"
As in demo, app crashed when browsing. I cannot remember if it was select tags or browse challenges that it crashed on.

I think the error message was: `cannot find .name of undefined.`

Worth looking into the naming of tags. We should use `tagData[id].name` instead of `tag[id].name` ?

Otherwise `organisation.name`?

[2016-10-08 13:49] JMurphyWeb opened #275 "rogue tags.json being required"
Tags should be read from the DB, but in one file `tags.json` is still being required and read from.

Could be linked to #274 ?

[2016-10-08 14:05] JMurphyWeb commented on #260
https://github.com/emfoundation/ce100-app/tree/add-logo

[2016-10-08 14:07] JMurphyWeb commented on #260
I am sorry but I don't think I updated the shared doc file with the additions to .env. It is a small change, the major change should be made in the computers root directory which i did update in the shared doc.

[2016-10-08 14:08] JMurphyWeb commented on #260
I think we need to add the AWS region to the .env which is the same as the existing AWS region but just has a different key name.

[2016-10-10 08:57] mk4111 opened #276 "Issues and changes to be made (post-demo 07/10/2016)"
### Adding a New Org/User flow:
- [ ] Add _upload logo_ functionality to the **Add New Organisation** view, under 'Organisation Name' ( #277 )
- [x] Right after a primary_user activates their acount, redirect them to their **Organisation Profile** view (on login thereafter, /orgs/browse is fine)
- [x] On *Contact List* view, where a user's job_title has not been filled out, we see 'at CompanyName'

[2016-10-10 09:17] mk4111 opened #277 "Add logo to Add Org Page"
@asimonw requested admin can add a logo to an organisation on the "add organisation" view.

Question: I am not sure about moving this functionality into the "add org" as opposed to the "edit org" view. what if the image needs to be updated? with it being a fairly inflexible feature, wanting to change the size or background of the logo seems likely.

Question: At the moment the log can take up any

[2016-10-10 09:22] mk4111 commented on #276
Going to split up the tasks based on user-flow

[2016-10-10 10:40] JMurphyWeb opened #278 "Redirect user to profile view after initial activate account"
Right after a primary_user activates their account, redirect them to their Organisation Profile view (on login thereafter, /orgs/browse is fine)

[2016-10-10 10:50] asimonw commented on #277
@mk4111 You're right, it should preferably appear in both add and edit. Ideally, it should not be editable by primary users, though.

It's actually fine to use the same form for both add and edit orgs (that was the original idea), rather than using a different view for add. That probably simplifies things.

Yes, applying border radius would be preferred. I'm assuming that the easiest way to make s

[2016-10-10 11:12] mk4111 commented on #176
@asimonw - could I ask where the user should be linked to (from the login page), to access the 'mobile app for the event'?

[2016-10-10 11:20] #217 closed

[2016-10-10 11:30] asimonw commented on #176
@mk4111 See the [wireframe](https://zpl.io/ZnMkwr). It's at the bottom right.

Looking at the copy updates again, there is no need to remove the text underneath the logo on the login screen anymore (apologies if you already did this..). We did this because we didn't expect matchmaking functionality yet, but now that it's there, the text makes sense 😉

[2016-10-10 11:38] JMurphyWeb commented on #277
@asimonw
I think it is more flexible if we leave that control up to the person creating/adding the images, if they want a circle, they can ask for it as a .png of a specific size.  However if I restrict it to a circle with fixed border radius, there is a chance that we will 'cut' out an important part of the logo, (for example the leaf on the apple logo) or make the logo unnecessarily small just t

[2016-10-10 11:49] mk4111 commented on #176
Hi @asimonw - sorry I don't think I explained myself very well - could you please tell me the url to which you would like to user to be linked to, on clicking that piece of text?

Ok, I'll reapply this :)

[2016-10-10 11:54] asimonw commented on #277
@JMurphyWeb We understand the pros and cons, but it's ultimately a design decision. It's important to be consistent: all circles or all squares. The main risk is indeed logos needing to be too small.

At least it's definitely not a good idea to have to prepare a circular crop for every new logo, as I'm sure you'd agree. Those days are far behind us since CSS can simply automate that for us. If we

[2016-10-10 11:57] mk4111 commented on #176
@asimonw - as the userflow for adding tags is a little different, I wonder if some of the text prompts are still as relevant to the new userflow... I've added a few comments and suggestions to the docs - could you please have a look if possible and let me know what you think? Thank you!

[2016-10-10 12:23] asimonw commented on #176
@mk4111 Sorry, re-reading your question, that was clear actually.. I'll check and let you know asap.
And I'll go through the doc this afternoon as well, thanks!

[2016-10-10 12:35] mk4111 commented on #176
@asimonw - thank you!

[2016-10-10 12:40] JMurphyWeb commented on #278
I went approximately 30 mins over what I thought was a generous time estimate. This was mainly due to me responding to a different issue, and in the tests i wanted to fix due to the change, i spotted that a test was poorly written and wasn't testing what it appeared to be testing, so some time was spent fixing that test.

[2016-10-10 12:53] JMurphyWeb commented on #277
Ok great. I had not realised that you specifically wanted circles for all logos, in which case i definitely agree that border radius is the way to go.

[2016-10-10 13:05] JMurphyWeb opened #280 "Contact list user with org but no job title bug"
If the user doesn't yet have a job title but does have an organisation_id,

Shows up as: `Jack Murphy __ at EMF`

[2016-10-10 13:21] JMurphyWeb opened #282 "re-route admin after editing a user"
When an admin has edited a user, route back to the the Contact List view (currently routing to their Organisation Profile)

[2016-10-10 13:27] mk4111 opened #283 "Own organisation not being filtered out in Suggested Matches"
If a challenge and the org for which the challenge was created, share a common tag, then the organisation is brought up as a 'suggested match'.

Think we have a filter implemented for this, but it's not working.

[2016-10-10 13:27] mk4111 commented on #283
Going to start by looking at the org-details-view file, to identify where/how we are filtering the orgs.

[2016-10-10 13:29] JMurphyWeb opened #285 "Change wording on Browse view --> 'Select Tags' to 'All tags'"
Copy change requested by PO in browse view

[2016-10-10 13:29] JMurphyWeb commented on #285
time: 5mins

[2016-10-10 13:58] mk4111 commented on #88
@nelsonic - sorry, this is no longer an issue! Thank you!!

[2016-10-10 13:58] #88 closed

[2016-10-10 14:44] mk4111 commented on #283
Found the bug. Now fixed. Will update with PR #

[2016-10-10 14:57] JMurphyWeb commented on #202
@nelsonic you required that this be changed in a later PR. I am thinking about it now - most of it is clear. I just wanted to ask one thing:

In the add tags to browse view, we currently have the url /browse/{whatever we are browsing}/tags

Would you suggest we change the URL to `/orgs/tags` and `challenges/tags` or something else?

[2016-10-10 15:08] JMurphyWeb opened #293 "Remove /browse from routes"
Following on from [@nelsonic](https://github.com/emfoundation/ce100-app/issues/202#issuecomment-252148242)s comment in #202, we need to remove the `/browse` from all routes.

I have an open question to @nelsonic:

In the add tags to browse view, we currently have the url /browse/{whatever we are browsing}/tags

Would you suggest we change the URL to /orgs/tags and challenges/tags or something else

[2016-10-10 15:12] nelsonic commented on #202
@JMurphyWeb good question. _ideally_ this should be _discussed_ with @asimonw
But that sounds sensible.
a _followup_ question is: how are we then going to _filter_ for certain tags?

[2016-10-10 15:14] JMurphyWeb commented on #202
@nelsonic i will copy your answer to #293 where i have made a new issue for this

[2016-10-10 15:15] JMurphyWeb commented on #293
@nelsonic says:
@JMurphyWeb good question. ideally this should be discussed with @asimonw
But that sounds sensible.
a followup question is: how are we then going to filter for certain tags?

[2016-10-10 15:19] JMurphyWeb commented on #293
If i understand the question, I don't understand the need to change the way we filter by certain tags

Currently we have `browse/orgs?filter=1,1` which would become `/orgs?filter=1,1` which would represent filtering by a certain tag.

[2016-10-10 15:29] asimonw commented on #176
@mk4111 The previous link I provided in the google doc is no longer used, as I expected. This is the new one https://ce100events.zerista.com

[2016-10-10 15:34] iteles commented on #293
@JMurphyWeb I would suggest the format would be `/orgs?tags=` rather than `/orgs?filter=`

[2016-10-10 15:39] mk4111 commented on #274
The ```.name of undefined``` error is triggered in browse-view.js, specifically in the addSharedBy fn.
The error doesn't manifest locally but does on heroku - currently adding logs to see what the potential source might be.

[2016-10-10 15:41] nelsonic commented on #202
sounds good. 👍

[2016-10-10 15:42] #221 closed

[2016-10-10 15:50] JMurphyWeb commented on #293
@iteles OK I can change that.

@nelsonic When changing my old `/browse/{view}/tags` to `/{view}/tags`, it now conflicts with  `/orgs/{id}` or `challenges/{id}` routes.

Even when i hard code the orgs or challenges in for the {view} it still causes route conflicts.

[2016-10-10 15:55] JMurphyWeb commented on #293
I'm getting some slightly strange behaviour, going to look into now. will reassign if still have a question.

[2016-10-10 15:57] asimonw commented on #202
@JMurphyWeb and @nelsonic I agree that `/browse` is not necessary in the url. The RESTful way of doing things, getting a list of a resource of a certain type through `/resource` seems cleaner. The _browse_ verb is implicit in the fact that you do a `GET` to that url.

[2016-10-10 15:58] #218 closed

[2016-10-10 15:58] #220 closed

[2016-10-10 15:58] #227 closed

[2016-10-10 16:18] JMurphyWeb commented on #293
All good. I hardcoded the routes and moved them above the `/orgs/{id}`  & `/challenges/{id}` routes .

[2016-10-10 16:21] JMurphyWeb commented on #202
now fixed.

[2016-10-10 16:24] iteles commented on #202
@JMurphyWeb Putting this `in-review` until merged into `master`.

[2016-10-10 16:35] mk4111 commented on #274
It _only fails_ when you've _just_ activated your account and you are browsing.

Still failing at addSharedBy though, so where do the sessions info come into play?

[2016-10-10 16:42] mk4111 commented on #274
Doesn't error if you _don't create a new challenge card_...

[2016-10-10 16:54] #211 closed

[2016-10-10 16:59] JMurphyWeb commented on #274
@mk4111 we filter out the inactive orgs, but any challenge created by an inactive org will still be looked for in the addSharedBy function..

[2016-10-10 17:10] #236 closed

[2016-10-10 17:57] mk4111 commented on #274
@JMurphyWeb - thanks for helping me out! I thought that might be the case too, but I've just added the org and have just checked that both the organisation and challenge are active.

[2016-10-10 18:01] JMurphyWeb commented on #274
OK but the logic is still wrong. It is causing the problem i'm pretty sure.

[2016-10-10 18:03] mk4111 commented on #274
Let's create another issue on that - it might be the cause of this issue, but I'd like to rule out the other options in mind before I do, as fixing that might complicate fixing this issue

[2016-10-10 18:36] JMurphyWeb commented on #274
What are the other options you are not sure about?

It doesn't matter if the org and challenge are active, it could still fail as the browsable orgs is a filtered array, referencing it by an index becomes pointless.

[2016-10-10 18:37] mk4111 commented on #274
The issue occurs because we pass in the filtered array, ```browsableOrgs```, instead of the entire array --> the indices of ```browsableOrgs``` don't correspond with the ids of the organisation objects, so when we try to do ```orgs[chal.org_id].name``` where the id is 8 (for a newly created challenge), orgs[8] may not exist, because orgs.length < 8. This explains why the issue wasn't manifesting f

[2016-10-10 18:38] mk4111 commented on #274
@JMurphyWeb - snap!

[2016-10-10 19:04] JMurphyWeb commented on #196
I think I understand how you wanted me to implement this sort of enhancement. Next time I will follow process above.

[2016-10-10 19:09] mk4111 opened #295 "addSharedBy function fix"
As @JMurphyWeb mentioned in #274, ''we filter out the inactive orgs, but any challenge created by an inactive org will still be looked for in the addSharedBy function.''

In #274, we switch out the ```browsableOrgs``` for ```challenges```. By doing this, we're removing the check for 'active' organisations.
If we instead keep browsableOrgs and do ```browsableOrgs.filter(org => org.id === chal.org_i

[2016-10-10 19:10] mk4111 commented on #274
We now have the issue that @JMurphyWeb mentioned above --> will expand in #295

[2016-10-10 19:26] JMurphyWeb commented on #295
@mk4111 I haven't looked at the file in detail today, but there was a TODO in there to avoid the repetition. I think we can 'get all tags' before the if/else, so move the if/else logic into the callback, would simplify things a bit.

[2016-10-10 19:26] #214 closed

[2016-10-10 19:26] #231 closed

[2016-10-10 19:28] mk4111 commented on #295
@JMurphyWeb - yeah there is and that still needs to be fixed - that's something I'm planning on doing in the way we discussed before, but it won't fix this issue for challenges.

[2016-10-10 20:10] #22 closed

[2016-10-10 20:10] #251 closed

[2016-10-10 20:10] #234 closed

[2016-10-10 20:10] #241 closed

[2016-10-10 20:10] #250 closed

[2016-10-10 20:26] #253 closed

[2016-10-10 20:26] #189 closed

[2016-10-10 20:26] #245 closed

[2016-10-10 20:26] #247 closed

[2016-10-10 20:29] #263 closed

[2016-10-10 20:30] mk4111 commented on #295
_UPDATE_ helpers.getChallengeIds only returns challengeDetails of challenges associated with _active_ organisations, so the issue that I thought existed was prevented before this step.

[2016-10-10 20:30] #295 closed

[2016-10-10 20:41] JMurphyWeb opened #296 "Dont hardcode url into handlebars"
https://github.com/emfoundation/ce100-app/pull/271#discussion_r82678598

We can hand handlebars the property.

[2016-10-10 20:48] #270 closed

[2016-10-10 20:48] #239 closed

[2016-10-10 20:48] #242 closed

[2016-10-10 20:48] #244 closed

[2016-10-10 20:48] #258 closed

[2016-10-10 20:51] #272 closed

[2016-10-10 22:42] mk4111 commented on #176
Hi @asimonw thank you!

[2016-10-11 08:37] #278 closed

[2016-10-11 08:38] #280 closed

[2016-10-11 08:39] #282 closed

[2016-10-11 10:00] #285 closed

[2016-10-11 11:00] #275 closed

[2016-10-11 11:10] #293 closed

[2016-10-11 11:11] #276 closed

[2016-10-11 11:12] #283 closed

[2016-10-11 11:47] mk4111 commented on #274
Closing issue as fix has been merged into master

[2016-10-11 11:48] #274 closed

[2016-10-11 11:50] mk4111 commented on #230
closing issue as fix has been merged into master

[2016-10-11 11:50] #230 closed

[2016-10-11 11:50] mk4111 commented on #176
I think all the relevant copy updates have been made and are now merged into master

[2016-10-11 13:24] mk4111 commented on #212
I've just made a PR on this, ([#48](https://github.com/dwyl/sendemail/pull/48))
If you could have a look and let me know what you think, I'd really appreciate it! Thank you @nelsonic !!

[2016-10-11 19:35] JMurphyWeb commented on #277
relates to #260 #10

[2016-10-13 10:20] mk4111 opened #305 "Admin NavBar and TopNav not appearing in Add-New-User"
In add-new-user-view, the top and bottom navbars are not displaying.

[2016-10-13 12:14] #305 closed

[2016-10-14 17:41] iteles opened #307 "Redirect `/` endpoint to `/login`"
Currently when we go here: https://ce100-emf.herokuapp.com, we get a 401 error.
Redirecthttps://ce100-emf.herokuapp.com/ to https://ce100-emf.herokuapp.com/login as this is the correct first page.